.align_left { text-align:left; }
.align_right { text-align:right; }
.align_center { text-align:center; }
.hr { border-bottom:1px solid #cdcdcd; margin:0 0 10px; padding:0 0 10px; }
.extra_padding_bottom { overflow:hidden; padding:0 0 20px; }

.blockUI.blockMsg { font:12px Arial,Helvetica,sans-serif; color:#e6e6e6; -mozkit-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; }
.blockUI.blockMsg h1 { font:bold 16px Arial,Helvetica,sans-serif; color:#c50000; text-align:left; margin:0 0 10px; padding:0 0 0 74px; }
.blockUI.blockMsg a { color:#999; text-decoration:underline; }
.blockUI.blockMsg a:hover { color:#cdcdcd; }
.blockUI.blockMsg .growl_message { min-height:100px; background:url(../images/admin_alert.png) 5px top no-repeat; text-align:left; padding-left:74px; }

#tx_multishop_pi1_core table.msadmin_border { width:100%; border-collapse:collapse; border:1px solid #cdcdcd; margin:0 0 10px; }
#tx_multishop_pi1_core table.msadmin_border th { background:#888; font:bold 12px Arial, Helvetica, sans-serif; color:#fff; }
#tx_multishop_pi1_core table.msadmin_border th,
#tx_multishop_pi1_core table.msadmin_border td { border:1px solid #cdcdcd; padding:7px 10px; }
#tx_multishop_pi1_core table.msadmin_border td.module_heading { background:#555; }
#tx_multishop_pi1_core table.msadmin_border tr.odd td { background-color:#F6F6F6; }
/* #tx_multishop_pi1_core table.msadmin_border tr:hover td { background-color:#F1FAFF; }
#tx_multishop_pi1_core table.msadmin_border tr:hover td.module_heading { background:#555; }
#tx_multishop_pi1_core table.msadmin_border tr.odd:hover td { background-color:#F1FAFF; }
#tx_multishop_pi1_core table.msadmin_border tr.even:hover td { background-color:#F1FAFF; } */

#tx_multishop_pi1_core #btw_overzicht h2 { border:none; background:none; font:bold 16px Arial, Helvetica, sans-serif; color:#c50000; margin:0 0 10px; padding:3px 0 0; line-height:100%; }
#tx_multishop_pi1_core #btw_overzicht #orders_stats_form { float:right; padding:0 0 10px; }
#tx_multishop_pi1_core #btw_overzicht #orders_stats_form label { float:left; display:block; font:12px Arial, Helvetica, sans-serif; padding:3px 10px 0; }
#tx_multishop_pi1_core #btw_overzicht #orders_stats_form select { float:left; border:1px solid #999; background:#fff5f5; font:12px Arial, Helvetica, sans-serif; padding:2px; }
#tx_multishop_pi1_core #btw_overzicht #orders_stats_form option { padding:0 10px 0 0 ; }

#tx_multishop_pi1_core .fullwidth_div { position:absolute; left:0; top:25px; min-width:100%; height:100%; z-index:990; }
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer { border:1px solid #cdcdcd; background:#FFFFFF; margin:40px 20px 20px; padding:9px; -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px; -moz-box-shadow: 0 0 10px #666; -webkit-box-shadow: 0 0 10px#666; box-shadow: 0 0 10px #666; }
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner { width:100%; font:12px Arial, Helvetica, sans-serif; color:#333; }
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner a { color:#c50000; text-decoration:none; }
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner a:hover { color:#c50000; text-decoration:underline; }
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner .main-heading { background:none; margin:0; padding:0; line-height:100%; }
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner h1,
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner h2 { border:none; background:none; font:bold 16px Arial, Helvetica, sans-serif; color:#c50000; margin:0 0 10px; padding:0; line-height:100%; }

#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner ul.attribute_options_sortable h2 { overflow:hidden; width:100%; }
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner ul.attribute_options_sortable h2 span { float:left; font-size:13px; color:#333; padding:0 20px 0 0; }
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner ul.attribute_options_sortable h2 span.option_id { font-size:16px; color:#c50000; padding:2px 20px 0 0; }


#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner .account-field { overflow:hidden; width:100%; border-bottom:1px dotted #e0e0e0; background:#fff; font:12px Arial, Helvetica, sans-serif; color:#333; padding:7px 0; }
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner .account-field label { clear:left; float:left; display:block; width:180px; color:#333; text-align:right; text-transform:uppercase; padding:3px 20px 0 0; }

#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner table { border-collapse:collapse; margin:0 0 10px; padding:0; }
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner table table { margin:0; }
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner table#product_import_table { margin:0 0 10px; }
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner table td { font:12px Arial, Helvetica, sans-serif; }
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner form { overflow:hidden; width:100%; }
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner fieldset { border:1px solid #cdcdcd; background:#fbfbfb; margin:0 0 10px; padding:0 10px 10px; }
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner fieldset fieldset { background:#f6f6f6; }
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner legend { background:#c50000; font:bold 12px Arial, Helvetica, sans-serif; color:#fff; margin:0; padding:5px 10px; }
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner input[type="checkbox"] { margin:3px 0 0; }
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner input[type="text"],
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner textarea { border:1px solid #999; background:#fff5f5; font:12px Arial, Helvetica, sans-serif; padding:3px 4px; }
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner input[type="text"] { margin:0 10px 0 0; }
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner select { border:1px solid #999; background:#fff5f5; font:12px Arial, Helvetica, sans-serif; padding:2px; }
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner option { padding:0 10px 0 0; }

#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner #upload_customerfeed_form ul { margin:10px 0 0; padding:0; list-style:none; }
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner #upload_customerfeed_form ul li { background:none; margin:0; padding:0; list-style:none; line-height:100%; }

#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner form#orders_stats_form { font:12px Arial, Helvetica, sans-serif; padding:20px 0; }

#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner fieldset.multishop_fieldset br { display:none; }
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner fieldset.multishop_fieldset ul { overflow:hidden; width:100%; margin:10px 0 0; padding:0; list-style:none; }
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner fieldset.multishop_fieldset ul.zone_item li { float:left; border-left:1px solid #000; background:none; margin:0; padding:0; list-style:none; line-height:100%; margin:0 0 0 10px; padding:1px 0 1px 10px; }
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner fieldset.multishop_fieldset ul.zone_item li:first-child { border-left:none; margin-left:0; padding-left:0; }

#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner fieldset.multishop_fieldset ul.zone_item_buttons li { float:left; background:none; margin:0; padding:0; list-style:none; line-height:100%; }
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner fieldset.multishop_fieldset ul.zone_item_buttons li a { display:inline-block; border:1px solid #7c7c7c; background:#d5d5d5 url(../images/submit_gradient.gif) left top repeat-x; font:12px Arial, Helvetica, sans-serif; color:#333; text-decoration:none; margin:0 10px 0 0; padding:2px 6px; cursor:pointer; }
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner fieldset.multishop_fieldset ul.zone_item_buttons li a:hover { background:#e2e2e2; }

#tx_multishop_pi1_core form#zone_edit_form ul#tx_multishop_countries_checkboxes { margin:10px 0; }
#tx_multishop_pi1_core form#zone_edit_form ul#tx_multishop_countries_checkboxes li { float:left; width:auto; border-left:1px solid #000; background:none; margin:0; padding:0; list-style:none; line-height:100%; margin:0 0 0 10px; padding:1px 0 1px 10px; }
#tx_multishop_pi1_core form#zone_edit_form ul#tx_multishop_countries_checkboxes li input[type="checkbox"] { float:left; margin:0 5px 0 0; }
#tx_multishop_pi1_core form#zone_edit_form ul#tx_multishop_countries_checkboxes li label { float:left; display:block; padding:1px 0;  }
#tx_multishop_pi1_core form#zone_edit_form ul#tx_multishop_countries_checkboxes li:first-child { border-left:none; margin:0; padding-left:0; }
#tx_multishop_pi1_core form#zone_edit_form input.msadmin_button { margin-right:10px; margin-bottom:0; }

#tx_multishop_pi1_core #flexible_container { overflow:hidden; width:100%; }
#tx_multishop_pi1_core #flexible_container ul { margin:0 -10px 0 0; padding:0; list-style:none; }
#tx_multishop_pi1_core #flexible_container ul li { overflow:hidden; background:none; margin:0; padding:0; list-style:none; line-height:100%; }

#tx_multishop_pi1_core #flexible_container ul li.item1, #tx_multishop_pi1_core #flexible_container ul li.item2,
#tx_multishop_pi1_core #flexible_container ul li.item4, #tx_multishop_pi1_core #flexible_container ul li.item5,
#tx_multishop_pi1_core #flexible_container ul li.item7, #tx_multishop_pi1_core #flexible_container ul li.item8,
#tx_multishop_pi1_core #flexible_container ul li.item10, #tx_multishop_pi1_core #flexible_container ul li.item11,
#tx_multishop_pi1_core #flexible_container ul li.item13, #tx_multishop_pi1_core #flexible_container ul li.item14,
#tx_multishop_pi1_core #flexible_container ul li.item16, #tx_multishop_pi1_core #flexible_container ul li.item17,
#tx_multishop_pi1_core #flexible_container ul li.item19, #tx_multishop_pi1_core #flexible_container ul li.item20,
#tx_multishop_pi1_core #flexible_container ul li.item22, #tx_multishop_pi1_core #flexible_container ul li.item23,
#tx_multishop_pi1_core #flexible_container ul li.item25, #tx_multishop_pi1_core #flexible_container ul li.item26,
#tx_multishop_pi1_core #flexible_container ul li.item28, #tx_multishop_pi1_core #flexible_container ul li.item29,
#tx_multishop_pi1_core #flexible_container ul li.item31, #tx_multishop_pi1_core #flexible_container ul li.item32 { float:left; width:33.33%; }

#tx_multishop_pi1_core #flexible_container ul#admin_payment_methods_list li { height:146px; }
#tx_multishop_pi1_core #flexible_container ul#admin_payment_methods_list li .flexible_li { display:block; height:114px; border:1px solid #ccc; background:#fff url(../images/admin_payment_methods_list2.gif) left bottom repeat-x; margin-right:10px; padding:10px 1px; text-align:center; }
#tx_multishop_pi1_core #flexible_container ul#admin_payment_methods_list li .flexible_li { position:relative; }
#tx_multishop_pi1_core #flexible_container ul#admin_payment_methods_list li .flexible_li span.multishop_psp_image_wrapper { position:absolute; left:50%; width:190px; height:86px; margin-left:-85px; }
#tx_multishop_pi1_core #flexible_container ul#admin_payment_methods_list li .flexible_li a span.multishop_psp_add { padding-top:86px; }
#tx_multishop_pi1_core #flexible_container ul#admin_payment_methods_list li .flexible_li a { text-decoration:none; }
#tx_multishop_pi1_core #flexible_container ul#admin_payment_methods_list li .flexible_li span { display:block; }
#tx_multishop_pi1_core #flexible_container ul#admin_payment_methods_list li .flexible_li span.multishop_psp_image { display:table-cell; width:189px; height:86px; vertical-align:middle; cursor:pointer; }
#tx_multishop_pi1_core #flexible_container ul#admin_payment_methods_list li .flexible_li span.multishop_psp_image img { vertical-align:middle; }
*:first-child+html #tx_multishop_pi1_core #flexible_container ul#admin_payment_methods_list li .flexible_li span.multishop_psp_image { display:inline; font-size:70px; }
#tx_multishop_pi1_core #flexible_container ul#admin_payment_methods_list li .flexible_li span.multishop_psp_name { height:56px; font:bold 12px Arial, Helvetica, sans-serif; padding:30px 0 0; cursor:pointer; }
#tx_multishop_pi1_core #flexible_container ul#admin_payment_methods_list li .flexible_li a:hover span.multishop_psp_add { text-decoration:underline; }
#tx_multishop_pi1_core #flexible_container ul#admin_payment_methods_list li .flexible_li span.multishop_psp_register a:hover { text-decoration:underline; }
#tx_multishop_pi1_core #flexible_container ul#admin_payment_methods_list li .flexible_li a img { border:none; }

#tx_multishop_pi1_core #flexible_container ul#admin_shipping_methods_list li { height:146px; list-style:none; }
#tx_multishop_pi1_core #flexible_container ul#admin_shipping_methods_list li .flexible_li { display:block; height:114px; border:1px solid #ccc; background:#fff url(../images/admin_payment_methods_list2.gif) left bottom repeat-x; text-align:center; margin-right:10px; margin-bottom:10px; padding:10px 1px; }
#tx_multishop_pi1_core #flexible_container ul#admin_shipping_methods_list li .flexible_li a { display:block; width:100%; height:74px; font:bold 12px Arial, Helvetica, sans-serif; padding-top:42px; }

#tx_multishop_pi1_core ul#tx_multishop_countries_checkboxes { overflow:hidden; width:100%; margin:10px 0 0; padding:0; list-style:none; }
#tx_multishop_pi1_core ul#tx_multishop_countries_checkboxes li { float:left; width:33.3%; background:none; font:12px Arial, Helvetica, sans-serif; margin:0; padding:7px 0; list-style:none; line-height:100%; }
#tx_multishop_pi1_core ul#tx_multishop_countries_checkboxes li:hover { background:#f6f6f6; }

/* --- form --- */
#tx_multishop_pi1_core form#ms_checkout { overflow:hidden; width:100%; margin:0 0 10px; padding:0; }
#tx_multishop_pi1_core form#ms_checkout label.algemen { display:block; font:14px Arial, Helvetica, sans-serif; padding:0 0 10px; }
#tx_multishop_pi1_core form#ms_checkout label.adresgegevens { display:block; font:14px Arial, Helvetica, sans-serif; padding:0 0 10px; }

#tx_multishop_pi1_core form#ms_checkout .account-field { clear:both; overflow:hidden; width:100%; padding:7px 0 0; }
#tx_multishop_pi1_core form#ms_checkout .account-field div { float:left; overflow:hidden; width:310px; }

#tx_multishop_pi1_core form#ms_checkout .account-field label { clear:none; display:block; float:left; width:120px; height:27px; font:12px Arial, Helvetica, sans-serif; color:#000; text-transform:uppercase; padding:3px 10px 0 0; }
#tx_multishop_pi1_core form#ms_checkout .account-field label.account-lastname,
#tx_multishop_pi1_core form#ms_checkout .account-field label#account-country { clear:left; }

#tx_multishop_pi1_core form#ms_checkout .account-field span#ValidRadio,
#tx_multishop_pi1_core form#ms_checkout .account-field span#delivery_ValidRadio { float:left; display:block; width:443px; }
#tx_multishop_pi1_core form#ms_checkout .account-field span#ValidRadio label,
#tx_multishop_pi1_core form#ms_checkout .account-field span#delivery_ValidRadio label { width:auto; }
#tx_multishop_pi1_core form#ms_checkout .account-field span#ValidRadio label#account-gender,
#tx_multishop_pi1_core form#ms_checkout .account-field span#delivery_ValidRadio label#account-gender { width:120px; }
#tx_multishop_pi1_core form#ms_checkout .account-field #radio,
#tx_multishop_pi1_core form#ms_checkout .account-field #radio2 { float:left; margin:3px 4px 0 0; }
*:first-child+html #tx_multishop_pi1_core form#ms_checkout .account-field #radio { margin-top:0; }
*:first-child+html #tx_multishop_pi1_core form#cms_heckout .account-field #radio2 { margin-top:0; }

#tx_multishop_pi1_core form#ms_checkout .account-field input[type="text"],
#tx_multishop_pi1_core form#ms_checkout .account-field input[type="password"] { float:left; width:300px; border:1px solid #CDCDCD; background:#fff5f5; font:12px Arial,Helvetica,sans-serif; color:#333333; margin-right:4px; margin:0 4px 7px 0; padding:3px 4px; }

#tx_multishop_pi1_core form#ms_checkout .account-field select#country,
#tx_multishop_pi1_core form#ms_checkout .account-field select#delivery_country { float:left; width:310px; border:1px solid #cdcdcd; background:#fff5f5; font:12px Arial, Helvetica, sans-serif; margin:0 4px 7px 0; padding:2px; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
#tx_multishop_pi1_core form#ms_checkout .account-field select#country option,
#tx_multishop_pi1_core form#ms_checkout .account-field select#delivery_country option { padding-right:8px; }
#tx_multishop_pi1_core form#ms_checkout #delivery_address_category .main-heading { background:none; margin:0; padding:10px 0 0; line-height:100%; }

/* #tx_multishop_pi1_core form#ms_checkout #bottom-navigation { display:none; } */
/* --- end of form --- */

#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner .add_manufacturer { overflow:hidden; width:100%; padding:0; }
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner p.extra_padding_bottom { padding:0 0 20px; }

#pricelist_search_form { float:right; white-space:nowrap; margin:0 0 10px; }
#pricelist_search_form .form-field { float:left; display:block; white-space:nowrap; }
#pricelist_search_form .form-field label { float:left; display:block; padding:4px 5px 0 0; }
#pricelist_search_form .form-field input[type="text"] { float:left; border:1px solid #cdcdcd; background:#f6f6f6; font:12px Arial,Helvetica,sans-serif; margin:0 5px 0 0; padding:3px 4px; }
#pricelist_search_form .form-field select { float:left; border:1px solid #cdcdcd; background:#f6f6f6; font:12px Arial,Helvetica,sans-serif; margin:0 5px 0 0; padding:2px; }
#pricelist_search_form .form-field option { padding:0 10px 0 0; }

table#product_import_table,
#tx_multishop_pi1_core #tab-container .tab_container .tab_content table { width:100%; border-collapse:collapse; border-left:1px solid #999; border-top:1px solid #999; margin:0 0 10px; }
table#product_import_table th,
table#product_import_table td,
#tx_multishop_pi1_core #tab-container .tab_container .tab_content table#product_import_table th,
#tab-container .tab_container .tab_content table#product_import_table td { padding:7px 10px; }
table#product_import_table th,
table#product_import_table td.column_name,
#tx_multishop_pi1_core #tab-container .tab_container .tab_content table#product_import_table th,
#tab-container .tab_container .tab_content table#product_import_table td.column_name { background:#333 url(../images/importer_th.gif) left top repeat-x; color:#fff; white-space:nowrap; vertical-align:middle; }
table#product_import_table th.cell_customer { width:90%; }
table#product_import_table th,
#tab-container .tab_container .tab_content table#product_import_table th { border-right:1px solid #999; }
#tx_multishop_pi1_core table#product_import_table th a,
#tx_multishop_pi1_core #tab-container .tab_container .tab_content table#product_import_table th a { color:#fff; }
table#product_import_table td,
#tx_multishop_pi1_core #tab-container .tab_container .tab_content table#product_import_table td { border-right:1px solid #999; border-bottom:1px solid #999; font:12px Arial, Helvetica, sans-serif; color:#333; }
/* table#product_import_table tr:hover td,
#tx_multishop_pi1_core #tab-container .tab_container .tab_content table#product_import_table tr:hover td,
table#product_import_table tr.odd:hover td,
#tx_multishop_pi1_core #tab-container .tab_container .tab_content table#product_import_table tr.odd:hover td,
table#product_import_table tr.even:hover td,
#tx_multishop_pi1_core #tab-container .tab_container .tab_content table#product_import_table tr.even:hover td { background-color:#F1FAFF; } */
table#product_import_table tr:hover td.column_name,
#tx_multishop_pi1_core #tab-container .tab_container .tab_content table#product_import_table tr:hover td.column_name { background:#84a5ba; }
table#product_import_table select,
#tx_multishop_pi1_core #tab-container .tab_container .tab_content table#product_import_table select { width:100%; border:1px solid #999; background:#fff5f5; font:12px Arial, Helvetica, sans-serif; margin:0 0 4px; padding:2px; }
table#product_import_table input[type="text"],
#tx_multishop_pi1_core #tab-container .tab_container .tab_content table#product_import_table input[type="text"] { border:1px solid #999; background:#fff5f5; font:12px Arial, Helvetica, sans-serif; margin:0; padding:3px 4px; }

#tx_multishop_pi1_core ul#horizontal_navigation { overflow:hidden; width:100%; margin:0; padding:0; list-style:none; }
#tx_multishop_pi1_core ul#horizontal_navigation li { float:left; background:none; margin:10px 0 0; padding:0; list-style:none; line-height:100%; }
#tx_multishop_pi1_core ul#horizontal_navigation li a { float:left; display:block; border:1px solid #84a5ba; background:#b0c7d6; color:#fff; text-decoration:none; margin:0 10px 0 0; padding:7px 10px; -mozkit-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }
#tx_multishop_pi1_core ul#horizontal_navigation li a:hover { background:#84a5ba; }

#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner table#pagenav_container,
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner table#pagenav_container table { border:none; margin:0;  }
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner table#pagenav_container { margin:10px 0 0; }
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner table#pagenav_container table { margin:0 auto; }
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner table#pagenav_container th,
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner table#pagenav_container td { border:none; padding:0; text-align:center; }
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner table#pagenav_container tr:hover td { background:none; }
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner .dyna_button { width:100%; height:auto; background:none; margin:0; padding:0; text-align:center; }
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner .dyna_button a { float:none; display:inline-block; width:auto; height:auto; border:1px solid #7c7c7c; background:#d5d5d5 url(../images/submit_gradient.gif) left top repeat-x; font:12px Arial, Helvetica, sans-serif; color:#333; text-decoration:none; text-transform:uppercase; text-shadow:none; margin:0 3px; padding:2px 6px; border-radius:0; box-shadow:none;  }
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner .dyna_button a:hover { background:#e2e2e2; }

#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner ul.attribute_options_sortable,
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner ul.attribute_options_sortable ul { margin:0; padding:0; list-style:none; }
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner ul.attribute_options_sortable li { width:100%; overflow:hidden; border:none; border-bottom:1px dotted #cdcdcd; background:none; margin:0 0 10px; padding:0; list-style:none; line-height:100%; }
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner ul.attribute_options_sortable li li { border-bottom:none; margin:0; }
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner ul.attribute_options_sortable li h3 { border:none; background:none; font:12px Arial, Helvetica, sans-serif; color:#c50000; margin:0; padding:0;  }
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner ul.attribute_options_sortable li input[type="text"] { width:140px; margin-left:5px; margin-bottom:10px; }

/* --- icons --- */
#tx_multishop_pi1_core .admin_menu_add { float:none; display:inline-block; overflow:hidden; width:16px; height:0; background:url(../images/add.png) left top no-repeat; margin:0 3px; padding-top:16px; }
#tx_multishop_pi1_core .admin_menu_view { float:none; display:inline-block; overflow:hidden; width:16px; height:0; background:url(../images/icons_view.png) left top no-repeat; margin:0 3px; padding-top:16px; }
#tx_multishop_pi1_core .admin_menu_edit { float:none; display:inline-block; overflow:hidden; width:16px; height:0; background:url(../images/icon_edit.png) left top no-repeat; margin:0 3px; padding-top:16px; }
#tx_multishop_pi1_core .admin_menu_remove { float:none; display:inline-block; overflow:hidden; width:16px; height:0; background:url(../images/delete.png) left top no-repeat; margin:0 3px; padding-top:16px; }
/* #tx_multishop_pi1_core #admin_modules_listing .admin_menu_remove { float:none; display:inline-block; } */
#tx_multishop_pi1_core .admin_menu_upload_productfeed { float:none; display:inline-block; overflow:hidden; width:16px; height:0; background:url(../images/up-alt.png) left top no-repeat; margin:0 3px; padding-top:16px; }
/* --- end of icons --- */

/* --- buttons --- */
#tx_multishop_pi1_core .admin_status_green { display:inline-block; overflow:hidden; width:16px; height:0; background:url(../images/status_green.png) left top no-repeat; margin-right:5px; padding-top:16px; }
#tx_multishop_pi1_core .admin_status_green disabled { display:inline-block; overflow:hidden; width:16px; height:0; background:url(../images/status_green_light.png) left top no-repeat; margin-right:5px; padding-top:16px; }
#tx_multishop_pi1_core .admin_status_red { display:inline-block; overflow:hidden; width:16px; height:0; background:url(../images/status_red.png) left top no-repeat; margin-right:5px; padding-top:16px; }
#tx_multishop_pi1_core .admin_status_red disabled { display:inline-block; overflow:hidden; width:16px; height:0; background:url(../images/status_red_light.png) left top no-repeat; margin-right:5px; padding-top:16px; }
#tx_multishop_pi1_core #admin_modules_listing .admin_status_red disabled { margin-right:5px; }

#tx_multishop_pi1_core .orders_status_button_1 { float:left; overflow:hidden; display:block; width:16px; height:0; background:url(../images/rec_16x16.png) left top no-repeat; padding-top:16px; margin:0 5px; }
#tx_multishop_pi1_core .orders_status_button_red { overflow:hidden; display:block; width:100px; height:18px; background:url(../images/status_btn_red.png) left top no-repeat; font:bold 12px Arial,Helvetica,sans-serif; color:#fff; text-align:center; margin:0; padding:2px 0 0; cursor:pointer; }
#tx_multishop_pi1_core .orders_status_button_yellow { overflow:hidden; display:block; width:100px; height:18px; background:url(../images/status_btn_yellow.png) left top no-repeat; font:bold 12px Arial,Helvetica,sans-serif; color:#000; text-align:center; margin:0; padding:2px 0 0; cursor:pointer; }
#tx_multishop_pi1_core .orders_status_button_green { overflow:hidden; display:block; width:100px; height:18px; background:url(../images/status_btn_green.png) left top no-repeat; font:bold 12px Arial,Helvetica,sans-serif; color:#fff; text-align:center; margin:0; padding:2px 0 0; cursor:pointer; }
#tx_multishop_pi1_core .orders_status_button_gray { overflow:hidden; display:block; width:100px; height:18px; background:url(../images/status_btn_gray.png) left top no-repeat; font:bold 12px Arial,Helvetica,sans-serif; color:#fff; text-align:center; margin:0; padding:2px 0 0; cursor:pointer; }
#tx_multishop_pi1_core .orders_status_button_orange { overflow:hidden; display:block; width:100px; height:18px; background:url(../images/status_btn_orange.png) left top no-repeat; font:bold 12px Arial,Helvetica,sans-serif; color:#fff; text-align:center; margin:0; padding:2px 0 0; cursor:pointer; }

#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner a.admin_menu_add.label { width:auto; height:15px; margin:0; padding:1px 0 0 20px; }

#tx_multishop_pi1_core input.msadmin_button { border:1px solid #7c7c7c; background:#d5d5d5 url(../images/submit_gradient.gif) left top repeat-x; font:12px Arial, Helvetica, sans-serif; color:#333; text-transform:uppercase; margin:0 3px; padding:2px 6px; cursor:pointer; }
#tx_multishop_pi1_core input.msadmin_button:hover { background:#e2e2e2; text-decoration:none; }

#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner input.msadmin_button { width:auto; height:auto; border:1px solid #7c7c7c; background:#d5d5d5 url(../images/submit_gradient.gif) left top repeat-x; font:12px Arial, Helvetica, sans-serif; color:#333; text-transform:uppercase; margin:0 3px; padding:2px 6px; cursor:pointer; }
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner input.msadmin_button:hover { background:#e2e2e2; text-decoration:none; }

#tx_multishop_pi1_core a.msadmin_button { display:inline-block; border:1px solid #7c7c7c; background:#d5d5d5 url(../images/submit_gradient.gif) left top repeat-x; font:12px Arial, Helvetica, sans-serif; color:#333; text-decoration:none; text-transform:uppercase; margin:0 3px; padding:2px 6px; }
#tx_multishop_pi1_core a.msadmin_button:hover { background:#e2e2e2; text-decoration:none; }

#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner a.msadmin_button { display:inline-block; border:1px solid #7c7c7c; background:#d5d5d5 url(../images/submit_gradient.gif) left top repeat-x; font:12px Arial, Helvetica, sans-serif; color:#333; text-decoration:none; text-transform:uppercase; margin:0 3px; padding:2px 6px; }
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner a.msadmin_button:hover { background:#e2e2e2; text-decoration:none; }

#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner input.multishop_admin_submit { border:1px solid #7c7c7c; background:#d5d5d5 url(../images/submit_gradient.gif) left top repeat-x; font:12px Arial, Helvetica, sans-serif; color:#333; text-transform:uppercase; margin:0 3px; padding:2px 6px; cursor:pointer; }
#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner input.multishop_admin_submit:hover { background:#e2e2e2; text-decoration:none; }

input.submit_block,
input.link_block { border:1px solid #7c7c7c; background:#d5d5d5 url(../images/submit_gradient.gif) left top repeat-x; font:12px Arial, Helvetica, sans-serif; color:#333; text-transform:uppercase; margin:0 3px; padding:2px 6px; cursor:pointer; }
input.submit_block:hover,
input.link_block:hover { background:#e2e2e2; }

input.importer_advanced_settings { border:1px solid #7c7c7c; background:#d5d5d5 url(../images/submit_gradient.gif) left top repeat-x; font:12px Arial, Helvetica, sans-serif; color:#333; text-transform:uppercase; margin:0; padding:2px 6px; cursor:pointer; }
input.importer_advanced_settings:hover { background:#e2e2e2; }

#tx_multishop_pi1_core .fullwidth_div .shadowbox-outer .shadowbox-inner #tab-container .tab_container #Orders_By_Date.tab_content input.msadmin_button { margin-bottom:0; }
/* --- end of buttons --- */

/* --- admin autofiller --- */
ul#ui-autocomplete-admin { overflow:hidden; width:198px; width:198px !important; border:1px solid #aaa; background:#fff; list-style:none; margin:0; padding:0; white-space:nowrap; border-radius:0; }
ul#ui-autocomplete-admin li.ui-menu-item,
ul#ui-autocomplete-admin li.ui-category { float:left; display:block; width:198px; border:none; background:none; font:11px Arial, Helvetica, sans-serif; color:#000; text-align:left; margin:0; padding:0; white-space:nowrap; }

ul#ui-autocomplete-admin li.ui-menu-item a { overflow:hidden; display:block; border:none; background:none; color:#000; margin:0; padding:0; line-height:100%; white-space:nowrap; border-radius:0; }
ul#ui-autocomplete-admin li.ui-menu-item a:hover { background:none; }
ul#ui-autocomplete-admin .ajax_products_image_wrapper { float:left; width:52px; height:52px; text-align:center; margin:0; padding:4px; }
ul#ui-autocomplete-admin .ajax_products_image { padding:0; display:table-cell; border:1px solid #cdcdcd; background:#fff; width:50px; height:50px; vertical-align:middle; text-align:center; }
*:first-child+html ul#ui-autocomplete-admin li.ui-menu-item .ajax_products_image { display:inline-block; font-size:40px; }
ul#ui-autocomplete-admin li.ui-menu-item .ajax_products_image img { vertical-align:middle; }
ul#ui-autocomplete-admin li.ui-menu-item .ajax_products_search_item { display:block; background:none; padding:5px 0 0px 60px }
ul#ui-autocomplete-admin li.ui-menu-item .ajax_products_search_item .ajax_products_name { display:block; font-weight:bold; width:123px; color:#000; white-space:pre-wrap; padding:0 0 3px; line-height:12px; }
ul#ui-autocomplete-admin li.ui-menu-item .ajax_products_search_item .ajax_products_shortdescription { display:block; overflow:hidden; width:133px; color:#999; line-height:12px; white-space:pre-wrap; }
ul#ui-autocomplete-admin li.ui-menu-item .ajax_products_search_item .ajax_old_price { float:left; display:block; font:11px Arial, Helvetica, sans-serif; color:#666; text-decoration:line-through; padding-top:3px; padding-right:10px; padding-bottom:5px; }
ul#ui-autocomplete-admin li.ui-menu-item .ajax_products_search_item .ajax_products_price,
ul#ui-autocomplete-admin li.ui-menu-item .ajax_products_search_item .ajax_specials_price { float:left; display:block; font:bold 11px Arial, Helvetica, sans-serif; color:#333; padding-top:3px; padding-bottom:5px; }

ul#ui-autocomplete-admin li.ui-menu-item span#more-results { display:block; width:188px; background:#666; color:#fff; padding:5px; -moz-border-radius: 4px 4px 4px 4px; -webkit-border-radius: 4px 4px 4px 4px; }
ul#ui-autocomplete-admin li.ui-menu-item span#more-results:hover { background:#000; }

ul#ui-autocomplete-admin li.ui-menu-item a.ui-state-hover,
ul#ui-autocomplete-admin li.ui-menu-item a.ui-state-active { border:none; margin:0; cursor:pointer; }

ul#ui-autocomplete-admin .admin_ajax_res_header,
ul#ui-autocomplete-admin #admin_ajax_res_header { display:block; background:#444; font:bold 12px Arial,Helvetica,sans-serif; color:#fff; text-align:center; padding:5px;  }
ul#ui-autocomplete-admin #admin_ajax_res_footer { display:block; background:#777; font:bold 11px Arial,Helvetica,sans-serif; color:#fff; text-align:right; padding:5px;  }

ul#ui-autocomplete-admin li.ui-menu-item a.ui-menu-item-alternate { background:#f6f6f6; }

ul#ui-autocomplete-admin li.ui-menu-item a.ui-state-hover,
ul#ui-autocomplete-admin li.ui-menu-item a.ui-state-focus { background:#e6e6e6; }
ul#ui-autocomplete-admin li.ui-menu-item a.ui-menu-item-alternate.ui-state-hover,
ul#ui-autocomplete-admin li.ui-menu-item a.ui-menu-item-alternate.ui-state-focus { background:#e6e6e6; }

ul#ui-autocomplete-admin li.ui-menu-item .single_row { float:left; overflow:hidden; width:188px; padding:8px 5px 7px; white-space:pre-wrap; }
ul#ui-autocomplete-admin li.ui-menu-item .ui-edit-item { float:right; overflow:hidden; width:58px; padding:5px; }
ul#ui-autocomplete-admin li.ui-menu-item .ui-edit-item a { float:left; overflow:hidden; width:16px; height:0; padding:16px 0 0; text-decoration:none; }
ul#ui-autocomplete-admin li.ui-menu-item .ui-edit-item a.ui-edit-edit { background:url(../images/icon_edit.png) left top no-repeat; }
ul#ui-autocomplete-admin li.ui-menu-item .ui-edit-item a.ui-edit-delete { background:url(../images/icon_delete.png) left top no-repeat; margin:0 0 0 5px; }
ul#ui-autocomplete-admin li.ui-menu-item .ui-edit-item a.ui-edit-view { background:url(../images/icon_view.png) left top no-repeat; margin:0 0 0 5px; }
/* --- end of admin autofiller --- */

/* --- admin menu for sites --- */
#tx_multishop_pi1_core #product_listing .admin_menu { position:absolute; right:0; top:0; width:50px; height:20px; border:1px solid #ccc; border-top:none; border-right:none; background:#fff; padding-top:4px; }
#tx_multishop_pi1_core #category_listing .admin_menu{ position:absolute; right:0; top:0; width:50px; height:20px; border:1px solid #ccc; border-top:none; border-right:none; background:#fff; padding-top:4px; }
#tx_multishop_pi1_core #products_detail .admin_menu { position:absolute; right:0; top:0; width:50px; height:20px; border:1px solid #ccc; border-top:none; border-right:none; background:#fff; padding-top:4px; z-index:980; }
/* --- end of admin menu for sites --- */

#tx_multishop_pi1_core form#products_feed_form .account-field { overflow:hidden; width:100%; background:#fff; font:12px Arial, Helvetica, sans-serif; color:#333; padding:0 0 7px; }
#tx_multishop_pi1_core form#products_feed_form .account-field label { float:left; display:block; width:180px; text-align:right; padding:3px 20px 0 0; }
#tx_multishop_pi1_core form#products_feed_form .account-field input { margin-bottom:0; }
#tx_multishop_pi1_core form#products_feed_form .account-field input[type="text"] { border:1px solid #999; background:#fff5f5; font:12px Arial, Helvetica, sans-serif; padding:3px 4px; }
#tx_multishop_pi1_core form#products_feed_form .account-field select { border:1px solid #999; background:#fff5f5; font:12px Arial, Helvetica, sans-serif; margin:0 7px 0 0; padding:2px; }
#tx_multishop_pi1_core form#products_feed_form .account-field option { padding:0 10px 0 0; }
.ui-datepicker { display:none; }

.form-field { display:inline-block; }
.form-field * { margin:0 10px 0 0; }

/* --- admin print_r styles, used when debugging arrays and objects --- */
.print_r_table {font-family:Arial, Helvetica, sans-serif; font-size:12px; border:0px;}
.print_r_table tr {font-size:12px; font-family:Arial, Helvetica, sans-serif; border-bottom-color:#000; border-bottom-style:solid;}
.print_r_table td {font-size:12px; border-right-width:0px; padding:3px}
.print_r_table th {font-size:14px; background-color:#B00; color:white; padding:3px}
.print_r_key {text-align:right;}
.print_r_value {text-align:left;}
.print_r_table .odd {background-color:black; color:white;}
.print_r_table .even {background-color:#333; color:white;}

.text_right
{
	text-align:right;
}

.msadmin_balloon_wrapper { z-index:999; position:fixed; bottom:40px; left:20px; }
.msadmin_balloon_item { position:relative; clear:left; float:left; background:url(../images/balloon_t.png) left top repeat-x; margin:0 20px 20px 0; padding:14px; border-radius:6px; }
.msadmin_balloon { min-height:64px; height:auto; background:url(../images/alert_64x64.png) left top no-repeat; font:12px Arial, Helvetica, sans-serif; color:#dcdcdc; text-align:left; padding:0 0 0 74px; }
.msadmin_balloon h2 { font:bold 14px Arial, Helvetica, sans-serif; color:#fff; margin:0; padding:0; }
.msadmin_balloon a { color:#fff; text-decoration:none; }
.msadmin_balloon a:hover { color:#fff; text-decoration:underline; }
.msadmin_balloon p { margin:0; padding:0; line-height:15px; }
.msadmin_balloon em { position:absolute; bottom:-10px; border-top:10px solid #000; border-left:10px solid transparent; border-right:10px solid transparent; margin:0; padding:0; }
*:first-child+html .msadmin_balloon em { bottom:-25px; }

.msadmin_balloon table.basket_contents_table { border-collapse:collapse; margin:10px 0 0; }
.msadmin_balloon table.basket_contents_table th { border:none; border:1px solid #444; border-bottom:none; background:#222; font:bold 12px Arial, Helvetica, sans-serif; color:#fff; padding:5px; }
.msadmin_balloon table.basket_contents_table td {  border:1px solid #666; background:#333; font:11px Arial, Helvetica, sans-serif; color:#f0f0f0; padding:5px; }
.msadmin_balloon table.basket_contents_table tr.odd td { background:#444; }

 .pb10 { margin-bottom:10px !important; margin-bottom:10px;  }