<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
<body>
<!-- ###DOCUMENT_BODY### begin -->
<div id="msadmin_wrapper">
	<div id="msadmin_section">
		<div id="msadmin_content">###CONTENT###</div>
	</div>
</div>
<div id="msadmin_footer">
			<div id="footer_content_cols_wrapper">
                            <div id="footer_content_cols">
								<div id="footer_content1" class="footer_content"></div>
								<div id="footer_content2" class="footer_content"></div>
								<div id="footer_content3" class="footer_content"></div>
                                <div id="footer_content4" class="footer_content"></div>
                                <div id="footer_content5" class="footer_content">###FACEBOOK###</div>
							</div>
                            </div>
	<div id="msadmin_copyright_wrapper">
		<div id="footer_copyright">
			<div id="copyright">
				<p><a target="_blank" href="https://www.typo3multishop.com"><img src="typo3conf/ext/multishop/templates/admin_dashboard/images/typo3multishop_logo.png" alt="TYPO3 Multishop" title="TYPO3 Multishop"></a></p>
				<div id="subpart_footernavbox">
                	###FOOTERNAV###
				</div>
			</div>
			<div id="alle">&nbsp;</div>
		</div>
	</div>
</div>
<!-- ###DOCUMENT_BODY### end -->
</body>
</html>