#tx_multishop_admin_newheader_wrapper { position:relative; margin-top:50px; }

#tx_multishop_admin_header_wrapper { position:fixed; left:0; top:0; min-width:990px; width:100%; text-align:left; margin:0; padding:0; z-index:10004; }
#tx_multishop_admin_header_wrapper #tx_multishop_admin_header_bg { height:38px; background:#000; box-shadow:0 0 10px rgba(0,0,0,.8); }
#tx_multishop_admin_header_wrapper ul { margin:0; padding:0; list-style:none; }
#tx_multishop_admin_header_wrapper ul li { background:none; margin:0; padding:0; }
#tx_multishop_admin_header_wrapper ul li a,
#tx_multishop_admin_header_wrapper ul li span { white-space:normal; }
#tx_multishop_admin_header_wrapper ul li a:hover,
#tx_multishop_admin_header_wrapper ul li a:focus { background:none; text-decoration:none; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header { line-height:18px; text-transform:uppercase; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li { position:relative; float:left; border-right:1px solid rgba(255,255,255,.3); }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_catalog:before,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_orders_customers:before,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_statistics:before { position:absolute; right:10px; top:16px; border-top:5px solid #fff; border-left:5px solid transparent; border-right:5px solid transparent; content:""; transition:opacity .25s; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header ul li.ms_admin_has_subs:before { position:absolute; right:10px; top:12px; border-left:5px solid #cdcdcd; border-top:5px solid transparent; border-bottom:5px solid transparent; content:""; transition:opacity .25s; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header ul li.ms_admin_has_subs:hover:before { opacity:0; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > span { display:block; font-size:14px; line-height:38px; font-family:"Open Sans", Arial, Helvetica, sans-serif; color:#fff; padding:0 15px; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_catalog > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_catalog > span,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_orders_customers > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_orders_customers > span,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_statistics > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_statistics > span { padding-right:25px; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header li > a > .fa,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header li > span > .fa { margin-right:5px; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_logo > a { line-height:0; padding:1px 7px 1px 0; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_products_nr > div { line-height:38px; color:#fff; padding:0 15px; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_products_nr > div > span > span { font-weight:bold; padding-right:5px; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.open > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.open > span { background:#333; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul { width:250px; border:none; background:#333; border-radius:0; box-shadow:0 0 10px rgba(0,0,0,.4); }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li { position:relative; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > span { display:block; border-bottom:1px solid rgba(255,255,255,.1); font-size:13px; color:#cdcdcd; padding:8px 15px; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li:hover > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li:hover > span { background:rgba(255,255,255,.03); color:#fff; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul { width:250px; border:none; background:#444; border-radius:0; box-shadow:0 0 10px rgba(0,0,0,.4); }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li:hover > ul { display:block; left:250px; top:0; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li { position:relative; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > span { display:block; border-bottom:1px solid rgba(255,255,255,.1); font-size:13px; color:#cdcdcd; padding:8px 15px; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li:first-child:after { position:absolute; left:-10px; top:7px; border-right:10px solid #444; border-top:10px solid transparent; border-bottom:10px solid transparent; content:""; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li:hover > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li:hover > span { background:rgba(255,255,255,.03); color:#fff; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul { position:absolute; left:-9999em; width:250px; border:none; background:#555; border-radius:0; box-shadow:0 0 10px rgba(0,0,0,.4); }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li:hover > ul { display:block; left:250px; top:0; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li > span { display:block; border-bottom:1px solid rgba(255,255,255,.1); font-size:13px; color:#cdcdcd; padding:8px 15px; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li:first-child:after { position:absolute; left:-10px; top:7px; border-right:10px solid #555; border-top:10px solid transparent; border-bottom:10px solid transparent; content:""; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li:hover > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li:hover > span { background:rgba(255,255,255,.03); color:#fff; }

ul#ms_admin_minimize { position:absolute; clear:left; float:left; width:102px; margin: 0; padding:0; list-style:none; }
ul#ms_admin_minimize li { background:none; margin:0; padding:0; list-style:none; }
ul#ms_admin_minimize li a { display:block; float:left; width:102px; height:24px; background:#000; font:11px Arial, Helvetica, sans-serif; color:#fff; text-decoration:none; margin:0; padding:5px 14px 0 30px; border-radius:0 0 7px 7px; box-shadow:0 3px 5px rgba(0,0,0,.2); }
ul#ms_admin_minimize li a:after { position:absolute; left:10px; top:10px; border-bottom:5px solid #fff; border-left:5px solid transparent; border-right:5px solid transparent; content:""; }
ul#ms_admin_minimize li a:hover { text-decoration:underline; }
ul#ms_admin_minimize li a:focus { text-decoration:none; }
ul#ms_admin_maximize { position:absolute; clear:left; float:left; width:102px; margin:-2px 0 0; padding:0; list-style:none; }
ul#ms_admin_maximize li { background:none; margin:0; padding:0; list-style:none; }
ul#ms_admin_maximize li a { display:block; float:left; width:102px; height:24px; background:#000; font:11px Arial, Helvetica, sans-serif; color:#fff; text-decoration:none; margin:0; padding:5px 14px 0 30px; border-radius:0 0 7px 7px; box-shadow:0 3px 5px rgba(0,0,0,.2); }
ul#ms_admin_maximize li a:after { position:absolute; left:10px; top:10px; border-top:5px solid #fff; border-left:5px solid transparent; border-right:5px solid transparent; content:""; }
ul#ms_admin_maximize li a:hover { text-decoration:underline; }
ul#ms_admin_maximize li a:focus { text-decoration:none; }

#tx_multishop_admin_footer_wrapper { position:fixed; left:0; bottom:0; width:100%; height:38px; background:#000; text-align:left; margin:0; padding:0; box-shadow:0 0 10px rgba(0,0,0,.8); z-index:10004; }
#tx_multishop_admin_footer_wrapper ul { margin:0; padding:0; list-style:none; }
#tx_multishop_admin_footer_wrapper ul li { background:none; margin:0; padding:0; }
#tx_multishop_admin_footer_wrapper ul li a:hover,
#tx_multishop_admin_footer_wrapper ul li a:focus { text-decoration:none; }
#tx_multishop_admin_footer_wrapper ul li a,
#tx_multishop_admin_footer_wrapper ul li span { white-space:normal; }
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer { line-height:18px; text-transform:uppercase; }
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer > li { position:relative; float:left; border-right:1px solid rgba(255,255,255,.3); }
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer > li.ms_admin_online_users:before,
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer > li.ms_admin_system:before { position:absolute; right:10px; top:16px; border-top:5px solid #fff; border-left:5px solid transparent; border-right:5px solid transparent; content:""; transition:opacity .25s; }
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer ul li.ms_admin_has_subs:before { position:absolute; right:10px; top:12px; border-left:5px solid #cdcdcd; border-top:5px solid transparent; border-bottom:5px solid transparent; content:""; transition:opacity .25s; }
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer ul li.ms_admin_has_subs:hover:before { opacity:0; }
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer > li > a,
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer > li > span { display:block; font-size:14px; line-height:38px; font-family:"Open Sans", Arial, Helvetica, sans-serif; color:#fff; padding:0 15px; }
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer li > a > .fa,
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer li > span > .fa { margin-right:5px; }
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer > li.ms_admin_online_users > a,
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer > li.ms_admin_online_users > span,
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer > li.ms_admin_system > a,
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer > li.ms_admin_system > span { padding-right:25px; }
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer > li > a > .fa,
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer > li > span > .fa { margin-right:5px; }
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer > li.ms_admin_logout,
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer > li.ms_admin_help,
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer > li.ms_admin_system { float:right; }
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer > li.ms_admin_system { border-left:1px solid rgba(255,255,255,.3); }
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer > li.open > a,
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer > li.open > span { background:#333; }
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer > li > ul { width:250px; border:none; background:#333; border-radius:0; box-shadow:0 0 10px rgba(0,0,0,.4); }
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer > li.open > ul { top:auto; bottom:100%; }
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer > li > ul > li { position:relative; }
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer > li > ul > li > a,
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer > li > ul > li > span { display:block; border-bottom:1px solid rgba(255,255,255,.1); font-size:13px; color:#cdcdcd; padding:8px 15px; }
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer > li > ul > li:hover > a,
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer > li > ul > li:hover > span { background:rgba(255,255,255,.03); color:#fff; }
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer > li > ul > li > ul { width:250px; border:none; background:#444; border-radius:0; box-shadow:0 0 10px rgba(0,0,0,.4); }
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer > li > ul > li:hover > ul { display:block; left:250px; top:0; }
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer > li > ul > li > ul > li { position:relative; }
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer > li > ul > li > ul > li > a,
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer > li > ul > li > ul > li > span { display:block; border-bottom:1px solid rgba(255,255,255,.1); font-size:13px; color:#cdcdcd; padding:8px 15px; }
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer > li > ul > li > ul > li:first-child:after { position:absolute; left:-10px; top:7px; border-right:10px solid #444; border-top:10px solid transparent; border-bottom:10px solid transparent; content:""; }
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer > li > ul > li > ul > li:hover > a,
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer > li > ul > li > ul > li:hover > span { background:rgba(255,255,255,.03); color:#fff; }
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer > li.ms_admin_system > ul > li:hover > ul { left:auto; right:250px; top:auto; bottom:0; }
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer > li.ms_admin_system > ul > li > ul > li:first-child:after { display:none; }
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer > li.ms_admin_system > ul > li > ul > li:last-child:after { position:absolute; left:auto; right:-10px; top:auto; bottom:7px; border-left:10px solid #444; border-right:none; border-top:10px solid transparent; border-bottom:10px solid transparent; content:""; }
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer > li > ul > li > ul > li > ul { position:absolute; left:-9999em; width:250px; border:none; background:#555; border-radius:0; box-shadow:0 0 10px rgba(0,0,0,.4); }
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer > li > ul > li > ul > li:hover > ul { display:block; left:-250px; bottom:0; }
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer > li > ul > li > ul > li > ul > li > a,
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer > li > ul > li > ul > li > ul > li > span { display:block; border-bottom:1px solid rgba(255,255,255,.1); font-size:13px; color:#cdcdcd; padding:8px 15px; }
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer > li > ul > li > ul > li > ul > li:last-child:after { position:absolute; right:-10px; bottom:7px; border-left:10px solid #555; border-top:10px solid transparent; border-bottom:10px solid transparent; content:""; }
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer > li > ul > li > ul > li > ul > li:hover > a,
#tx_multishop_admin_footer_wrapper ul#tx_multishop_admin_footer > li > ul > li > ul > li > ul > li:hover > span { background:rgba(255,255,255,.03); color:#fff; }

.admin_menu > a { color:#666; }
.admin_menu > a:hover,
.admin_menu > a:focus { color:#000; transition:color .5s; }
.admin_menu > a:first-child { padding-right:5px; }

.panel-heading-toggle {
    cursor: pointer;
}
.panel-heading-toggle:after {
    /* symbol for "opening" panels */
    font-family:'FontAwesome';
    content:"\f077";
    float: right;
    color: inherit;
}
.panel-heading-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content:"\f078";
}