@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

html, body { height:100%; }
body { background:#333; font-size:14px; line-height:20px; font-family:"Open Sans", Arial, Helvetica, sans-serif; }

#tx_multishop_admin_footer_wrapper { display:none !important; }

#tx_multishop_admin_header_wrapper { position:absolute; left:0; top:0; display:block; width:220px; background:#222; }
#tx_multishop_admin_header_wrapper ul { margin:0; padding:0; list-style:none; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header { line-height:18px; text-transform:uppercase; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li { position:relative; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li:nth-child(2):before,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li:nth-child(4):before,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li:nth-child(5):before { position:absolute; right:10px; top:16px; border-top:5px solid #fff; border-left:5px solid transparent; border-right:5px solid transparent; content:""; transition:opacity .25s; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header li.ms_admin_has_subs:before { position:absolute; right:10px; top:12px; border-left:5px solid #cdcdcd; border-top:5px solid transparent; border-bottom:5px solid transparent; content:""; transition:opacity .25s; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header li.ms_admin_has_subs:hover:before { opacity:0; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_logo a { background:#000; padding:5px 10px; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li:hover.ms_admin_logo a { background:#000; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > span { display:block; border-bottom:1px solid rgba(255,255,255,.1); color:#fff; font-size:14px; padding:8px 20px; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li:hover > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li:hover > span { background:rgba(255,255,255,.03); }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header a:hover { text-decoration:none; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul { background:#333; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li { position:relative; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li:first-child:after { position:absolute; left:-10px; top:7px; border-right:10px solid #333; border-top:10px solid transparent; border-bottom:10px solid transparent; content:""; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > span { display:block; border-bottom:1px solid rgba(255,255,255,.1); font-size:13px; color:#cdcdcd; padding:8px 20px 8px 30px; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li:hover > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li:hover > span { background:rgba(255,255,255,.03); color:#fff; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > a > span,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > span > span { display:none; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul { position:absolute; left:-9999em; width:250px; background:#444; z-index:1001; box-shadow:0 0 10px rgba(0,0,0,.4); }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li:hover > ul { left:220px; top:0; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li { position:relative; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li:first-child:after { position:absolute; left:-10px; top:7px; border-right:10px solid #444; border-top:10px solid transparent; border-bottom:10px solid transparent; content:""; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > span { display:block; border-bottom:1px solid rgba(255,255,255,.1); font-size:13px; color:#cdcdcd; padding:8px 20px; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li:hover > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li:hover > span { background:rgba(255,255,255,.03); color:#fff; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > a > span,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > span > span { display:none; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul { position:absolute; left:-9999em; width:300px; background:#555; z-index:1001; box-shadow:0 0 10px rgba(0,0,0,.4); }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li:hover > ul { left:250px; top:0; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li:first-child:after { position:absolute; left:-10px; top:7px; border-right:10px solid #555; border-top:10px solid transparent; border-bottom:10px solid transparent; content:""; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li > span { display:block; border-bottom:1px solid rgba(255,255,255,.1); font-size:13px; color:#cdcdcd; padding:8px 20px; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li:hover > a,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li:hover > span { background:rgba(255,255,255,.03); color:#fff; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li > a > span,
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li > ul > li > ul > li > ul > li > span > span { display:block; line-height:16px; color:rgba(255,255,255,.8); }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_search { padding:8px 20px; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_search a { color:#fff; }
#tx_multishop_admin_header_wrapper ul#tx_multishop_admin_header > li.ms_admin_search .select2-container { width:100% !important; }

#tx_multishop_admin_header_wrapper #ms_admin_minimaxi_wrapper { display:none; }

#msadmin_footer_wrapper { background:#333; padding:0 0 0 220px; }
#msadmin_footer { overflow:hidden; }
#footer_content_cols_wrapper { background:#000; padding:20px; }
#footer_copyright { background:#222; padding:5px 20px 10px; }
#footer_copyright p { margin-bottom:0; }
#footer_copyright:after { clear:both; display:table; content:""; }
#footer_copyright #copyright { float:left; }
#footer_copyright #alle { float:right; }

#msadmin_wrapper { background:#333; padding:0 0 0 220px; }
#msadmin_section { background:#f5f5f5; padding:20px 20px 0; }
#msadmin_section:after { clear:both; display:table; content:""; }

h1 { font-size:24px; line-height:28px; }
h2 { font-size:20px; line-height:24px; }
h3 { font-size:18px; line-height:22px; }
h4 { font-size:16px; line-height:20px; }
h5 { font-size:14px; line-height:18px; }
h1,
h2,
h3,
h4,
h5 { font-weight:600; font-family:"Open Sans", Arial, Helvetica, sans-serif; margin:0 0 10px; padding:0; }

.panel-default > .panel-heading { background:#fff; }
.panel-default > .panel-heading h3 { margin-bottom:0; }

/* custom */
.cellID { text-align:right; }
.cellName { width:90%; }
.cellDate { text-align:right; }
.cellDownload > .btn { width:100%; text-align:left; }
.cellDownload > .btn:first-child { margin-bottom:5px; }
td.cellAction { white-space:nowrap; }
.cellBackup > .btn { width:100%; }

#msAdminSearchByCharNav { text-align:center; margin-bottom:20px; }

ul.qq-upload-list { margin-bottom:0; }

.well .form-inline label { margin-right:10px; }
.searchLimit { text-align:right; }

.table > thead > tr > th.module_heading { border:1px solid #333; background:#333; color:#fff; }
.table > thead:first-child > tr:first-child > th.module_heading { border-top:1px solid #333; }

.msadminVerticalTabs > .nav-tabs { float:left; width:15%; border-bottom:none; margin-top:20px; margin-right:0; }
.msadminVerticalTabs > .nav-tabs > li { float:none; }
.msadminVerticalTabs > .nav-tabs > li > a { text-align:right; margin-bottom:3px; margin-right: -1px; border-radius:4px 0 0 4px; }
.msadminVerticalTabs > .nav-tabs > li > a:hover,
.msadminVerticalTabs > .nav-tabs > li > a:focus { border-color: #eeeeee #dddddd #eeeeee #eeeeee; }
.msadminVerticalTabs > .nav-tabs .active > a,
.msadminVerticalTabs > .nav-tabs .active > a:hover,
.msadminVerticalTabs > .nav-tabs .active > a:focus { border-color: #ddd transparent #ddd #ddd; font-weight:bold; }

.msadminVerticalTabs > .tab-content { padding:0 0 0 15%; }
.msadminVerticalTabs > .tab-content > .tab-pane { min-height:698px; border:1px solid #ddd; padding:10px; border-radius:6px; }
.msadminVerticalTabs > .tab-content > .tab-pane table#admin_modules_listing td:first-child { width:60%; }

/* bootstrap overrule */
hr { margin-top:15px; margin-bottom:15px; }

.btn { transition:background .25s, color .25s; }
.btn.delete_field { margin-left:10px; }
.btn .fa-stack .fa-circle { color:rgba(255,255,255,.2); }

.table th { white-space:nowrap; }

.row { margin-left:-10px; margin-right:-10px; }
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { padding-left:10px; padding-right:10px; }
.page-header h4 { margin-bottom:0; }
.panel-body { padding:15px 10px; }
.form-group { margin-bottom:10px; }
.form-horizontal .form-group { margin-left:-10px; margin-right:-10px; }
.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline { padding-top:8px; }
@media (min-width:768px) {
	.form-horizontal .control-label { padding-top:8px; }
	.form-horizontal .control-label.control-label-select2 { padding-top:7px; }
}

.nav.nav-tabs { margin-bottom:20px; }

.tooltip { text-align:left; }
.tooltip .tooltip-inner { max-width:250px; font-size:12px; color:#cdcdcd; text-align:left; padding:10px; }
.tooltip .tooltip-inner h3 { font-size:14px; line-height:18px; color:#fff; margin-bottom:5px; }

/* redactor overrule */
.form-group .col-md-10 .redactor-box { margin-bottom:0; }

/* select2 overrule */
.select2-container .select2-choice { height:34px; }
.select2-container .select2-choice > .select2-chosen { line-height:32px; }
