@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

#msadmin_footer { background:#000; padding:0 0 0 220px; }

html, body { height:100%; }
body { background:#333; font-size:14px; line-height:24px; font-family:"Open Sans", Arial, Helvetica, sans-serif; }

#msadmin_wrapper { background:#333; padding:0 0 0 220px; }
#msadmin_section { background:#f5f5f5; padding:10px; }

h1 { font-size:24px; line-height:28px; }
h2 { font-size:20px; line-height:24px; }
h3 { font-size:18px; line-height:22px; }
h4 { font-size:16px; line-height:20px; }
h5 { font-size:14px; line-height:18px; }
h1,
h2,
h3,
h4,
h5 { font-weight:normal; font-family:"Open Sans", Arial, Helvetica, sans-serif; margin:0 0 10px; padding:0; }

.panel-default > .panel-heading { background:#fff; }
.panel-default > .panel-heading h3 { margin-bottom:0; }

/* custom */
.table th { white-space:nowrap; }

.cellID { text-align:right; }
.cellName { width:90%; }
.cellDate { text-align:right; }
.cellDownload > .btn { width:100%; text-align:left; }
.cellDownload > .btn:first-child { margin-bottom:5px; }
td.cellAction { white-space:nowrap; }
.cellBackup > .btn { width:100%; }

/* bootstrap overrule */
.row { margin-left:-10px; margin-right:-10px; }
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { padding-left:10px; padding-right:10px; }