@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

#msadmin_footer { background:#000; padding:0 0 0 220px; }

html, body { height:100%; }
body { background:#333; font-size:14px; line-height:24px; font-family:"Open Sans", Arial, Helvetica, sans-serif; }

#msadmin_wrapper { background:#333; padding:0 0 0 220px; }
#msadmin_section { background:#f5f5f5; padding:10px; }

h1 { font-size:24px; line-height:28px; }
h2 { font-size:20px; line-height:24px; }
h3 { font-size:18px; line-height:22px; }
h4 { font-size:16px; line-height:20px; }
h5 { font-size:14px; line-height:18px; }
h1,
h2,
h3,
h4,
h5 { font-weight:normal; font-family:"Open Sans", Arial, Helvetica, sans-serif; margin:0 0 10px; padding:0; }

.bvbBox { border:1px solid #e4e7e8; background:#fff; margin-bottom:20px; }
.bvbBox-heading { border-bottom:1px solid #e4e7e8; }
.bvbBox-heading h2 { margin-bottom:0; padding:10px; }