* { margin:0; padding:0; list-style:none; }
body { background:#000 url(../images/msadmin_dash_bg.gif) left top repeat-x; font:12px Arial, Helvetica, sans-serif; color:#333; text-align:center; }
#msadmin_wrapper { min-width:950px; padding:40px 20px 0; }
#msadmin_section { overflow:hidden; width:100%; min-height:500px; background:#fff; text-align:left; margin:0 auto; border-radius:13px 13px 0 0; }
#msadmin_content { padding:20px; }
#msadmin_content .shadowbox { overflow:auto; width:100%; }

#msadmin_footer { min-width:990px; background:#353535 url(../images/bg_footer_top.gif) left top repeat-x; }
#msadmin_footer #footer_content_cols_wrapper { background:url(../images/bg_footer_top_b.png) left bottom repeat-x; text-align:left; padding:30px 20px 30px; }
#msadmin_footer #footer_content_cols_wrapper #footer_content_cols { overflow:hidden; width:100%; }
#msadmin_footer #footer_content_cols_wrapper #footer_content_cols .footer_content { float:left; width:20%; }
#msadmin_footer #footer_content_cols_wrapper #footer_content_cols #footer_content5.footer_content { min-width:185px; }

#msadmin_footer #footer_content_cols .footer_content ul { margin:0; padding:0; list-style:none; }
#msadmin_footer #footer_content_cols .footer_content ul li { background:none; margin:0; padding:0 10px 10px 0; }
#msadmin_footer #footer_content_cols .footer_content ul li a,
#msadmin_footer #footer_content_cols .footer_content ul li span { display:block; font-size:16px; color:#fff; text-decoration:none; text-transform:uppercase; margin:0 0 15px; }
#msadmin_footer #footer_content_cols .footer_content ul li ul li { margin:0; padding:0; }
#msadmin_footer #footer_content_cols .footer_content ul li ul li a,
#msadmin_footer #footer_content_cols .footer_content ul li ul li span { display:block; font-size:12px; color:#999; text-decoration:none; text-transform:uppercase; margin:0 0 5px; }
#msadmin_footer #footer_content_cols .footer_content ul li ul li a span.ms_admin_menu_item_description,
#msadmin_footer #footer_content_cols .footer_content ul li ul li span span.ms_admin_menu_item_description { display:none; }
#msadmin_footer #footer_content_cols .footer_content ul li ul li a:hover { color:#cdcdcd; text-decoration:none; }
#msadmin_footer #footer_content_cols .footer_content ul li ul li a:hover span.ms_admin_menu_item_description { color:#999; }

#msadmin_footer #footer_content_cols .footer_content ul li ul li ul li { display:inline-block; background:url(../images/footer_li_separator.gif) right 4px no-repeat; margin:0 5px 0 0; padding:0 10px 0 0; }
#msadmin_footer #footer_content_cols .footer_content ul li ul li ul li a,
#msadmin_footer #footer_content_cols .footer_content ul li ul li ul li span { display:inline-block; font-size:12px; text-transform:lowercase; color:#777; }
#msadmin_footer #footer_content_cols .footer_content ul li ul li ul li.last { background:none; margin-right:0; padding-right:0; }

#msadmin_footer #msadmin_copyright_wrapper { min-width:950px; background:#212121 url(../images/bg_footer_bottom.gif) left top repeat-x; padding:10px 20px 50px; }
#msadmin_footer #footer_copyright{overflow:hidden;width:100%;font-size:11px;color:#888;text-align:center;margin:0 auto;line-height:14px}
#msadmin_footer #footer_copyright a {color:#888;text-decoration:none;}
#msadmin_footer #footer_copyright a:hover {color:#fff;}
#msadmin_footer #footer_copyright #copyright p{display:inline-block;margin:0 1px 0 0;padding:0 8px 0 0;line-height:14px;vertical-align:top;}
#msadmin_footer #footer_copyright #copyright #subpart_footernavbox { display:inline-block; }
#msadmin_footer #footer_copyright #copyright #subpart_footernavbox ul{margin:0;padding:9px 0 0;list-style:none}
#msadmin_footer #footer_copyright #copyright #subpart_footernavbox ul li{display:inline-block; border-left:1px solid #777;margin:0;padding:0 9px;line-height:14px}
#msadmin_footer #footer_copyright #copyright #subpart_footernavbox ul li a{color:#888;text-decoration:none}
#msadmin_footer #footer_copyright #copyright #subpart_footernavbox ul li a:hover,#footer_copyright #copyright #subpart_footernavbox ul li.active a{color:#fff}
#msadmin_footer #footer_copyright #alle{float:right;width:300px;text-align:right;line-height:14px}

#msadmin_content #pagenav_container_list_wrapper { overflow:hidden; width:100%: }
#msadmin_content #pagenav_container_list_wrapper ul#pagenav_container_list { position:relative; float:left; left:50%; margin:0; padding:0; list-style:none; }
#msadmin_content #pagenav_container_list_wrapper ul#pagenav_container_list li { position:relative; float:left; left:-50%; margin:0; padding:0 5px; }
#msadmin_content #pagenav_container_list_wrapper ul#pagenav_container_list li .dyna_button a { margin:0; }
#msadmin_content #pagenav_container_list_wrapper ul#pagenav_container_list li ul li { position:static; left:0; padding:0; }
/* #msadmin_content #pagenav_container_list_wrapper ul#pagenav_container_list li.pagenav_number { padding:0 20px; }
#msadmin_content #pagenav_container_list_wrapper ul#pagenav_container_list li.pagenav_number li { padding:0 3px; }
#msadmin_content #pagenav_container_list_wrapper ul#pagenav_container_list li.pagenav_number li span { font-weight:bold; } */
#msadmin_content #pagenav_container_list_wrapper ul#pagenav_container_list li.pagenav_number { padding:0 10px; }
#msadmin_content #pagenav_container_list_wrapper ul#pagenav_container_list li.pagenav_number ul { margin:0; }
#msadmin_content #pagenav_container_list_wrapper ul#pagenav_container_list li.pagenav_number li { padding:2px 3px; }
#msadmin_content #pagenav_container_list_wrapper ul#pagenav_container_list li.pagenav_number li a,
#msadmin_content #pagenav_container_list_wrapper ul#pagenav_container_list li.pagenav_number li span { display:block; height:21px; border:1px solid #cdcdcd; font-weight:bold; padding:6px 6px 0; border-radius:4px; line-height:16px; }
#msadmin_content #pagenav_container_list_wrapper ul#pagenav_container_list li.pagenav_number li a { color:#999; }

#msAdminSearchByCharNav { width:100%; } 
#msAdminSearchByCharNav ul { list-style: none; text-align: center; }
#msAdminSearchByCharNav ul li { display: inline; background: none; font-weight:900; padding-left:10px; font:18px Arial, Helvetica, sans-serif }
#msAdminSearchByCharNav ul li .active {  }

#msadmin_content #tx_multishop_pi1_core #tab-container table#product_import_table table#msOrderDetailsTable { border-collapse:collapse; width:100%; }
#msadmin_content #tx_multishop_pi1_core #tab-container table#product_import_table table#msOrderDetailsTable th.msOrderDetailsHeadingImage { }
#msadmin_content #tx_multishop_pi1_core #tab-container table#product_import_table table#msOrderDetailsTable th.msOrderDetailsHeadingName { width:95%; }
#msadmin_content #tx_multishop_pi1_core #tab-container table#product_import_table table#msOrderDetailsTable th.msOrderDetailsHeadingQuantity { text-align:right; }
#msadmin_content #tx_multishop_pi1_core #tab-container table#product_import_table table#msOrderDetailsTable th.msOrderDetailsHeadingTotal { text-align:right; }
#msadmin_content #tx_multishop_pi1_core #tab-container table#product_import_table table#msOrderDetailsTable td { border-color:#cdcdcd; background:#fff; }
#msadmin_content #tx_multishop_pi1_core #tab-container table#product_import_table table#msOrderDetailsTable td.msOrderDetailsItemImage { }
#msadmin_content #tx_multishop_pi1_core #tab-container table#product_import_table table#msOrderDetailsTable td.msOrderDetailsItemName { }
#msadmin_content #tx_multishop_pi1_core #tab-container table#product_import_table table#msOrderDetailsTable td.msOrderDetailsItemQuantity { text-align:right; }
#msadmin_content #tx_multishop_pi1_core #tab-container table#product_import_table table#msOrderDetailsTable td.msOrderDetailsItemTotal { text-align:right; }
#msadmin_content #tx_multishop_pi1_core #tab-container table#product_import_table table#msOrderDetailsTable tr.even td { background:#f6f6f6; }
#msadmin_content #tx_multishop_pi1_core #tab-container table#product_import_table table#msOrderDetailsTable tr.odd td { background:#fff; }

#msadmin_content #tx_multishop_pi1_core #tab-container table#product_import_table table#msOrderDetailsSubTotalTable { border:none; border-left:1px solid #cdcdcd; border-right:1px solid #cdcdcd; border-bottom:1px solid #cdcdcd; }
#msadmin_content #tx_multishop_pi1_core #tab-container table#product_import_table table#msOrderDetailsSubTotalTable td { border:none; background:#fff; font-weight:bold; }
#msadmin_content #tx_multishop_pi1_core #tab-container table#product_import_table table#msOrderDetailsSubTotalTable td.msOrderDetailsSubTotalLabel { border-right:none; width:95%; text-align:right; }
#msadmin_content #tx_multishop_pi1_core #tab-container table#product_import_table table#msOrderDetailsSubTotalTable td.msOrderDetailsSubTotalValue { text-align:right; }

#msadmin_content ul.admin_search_result { overflow:hidden; width:100%; }
#msadmin_content ul.admin_search_result li.ui-category { clear:left; }
#msadmin_content li.ui-menu-item.ui-menu-item-alternate { display:inline-block; width:19%; margin:0 0.5% 10px; vertical-align:top; }
#msadmin_content li.ui-menu-item.ui-menu-item-alternate a { display:block; min-height:30px; border:1px solid #ddd; border-radius:6px; text-decoration:none; padding:10px; }
#msadmin_content li.ui-menu-item.ui-menu-item-alternate a:hover { border-color:#999; text-decoration:none !important; }
#msadmin_content li.ui-menu-item.ui-menu-item-alternate .ajax_products_image_wrapper { height:50px; text-align:center; padding:0 0 5px; }
#msadmin_content li.ui-menu-item.ui-menu-item-alternate .ajax_products_search_item .ajax_products_name { height:30px; font-weight:bold; color:#E42434; }
#msadmin_content li.ui-menu-item.ui-menu-item-alternate .ajax_products_search_item .ajax_products_shortdescription { font-weight:bold; color:#000; }
#msadmin_content li.ui-menu-item.ui-menu-item-alternate .ajax_products_search_item .ajax_products_price { font-weight:bold; color:#666; }

#msadmin_content li.ui-category { padding:0 0.5%; }
#msadmin_content li span.admin_ajax_res_header,
#msadmin_content li span#admin_ajax_res_header { display:block; font:bold 16px Arial, Helvetica, sans-serif; color:#c50000; padding:0 0 10px; }
#msadmin_content li span#admin_ajax_res_footer { display:block; padding:0 0 20px; }
#msadmin_content li span#more-results { float:left; display:block; border:1px solid #7c7c7c; background:#d5d5d5 url(/typo3conf/ext/multishop/templates/global/images/submit_gradient.gif) left top repeat-x; font:12px Arial, Helvetica, sans-serif; color:#333; text-decoration:none; text-transform:uppercase; margin:0 0.5%; padding:2px 6px; cursor:pointer; }
#msadmin_content li span#more-results:hover { background:#e2e2e2; }

.msBackendButton#netops_domain_action_button_check_domain_availability { }
.msBackendButton#netops_domain_action_button_check_pagerank { }
.msBackendButton#netops_domain_action_button_check_seo { }
.msBackendButton#netops_domain_action_button_claim_domain { }
.msBackendButton#netops_domain_action_button_add_to_register_queue { }
.msBackendButton#netops_domain_action_button_check_whois_domain { }
.msBackendButton#netops_domain_action_button_domain_used_in_project { }

#msadmin_section #msadmin_content #tx_multishop_pi1_core .formfield-wrapper ul.netopsVerticalList { overflow:hidden; width:100%; } 
#msadmin_section #msadmin_content #tx_multishop_pi1_core .formfield-wrapper ul.netopsVerticalList li { line-height:16px; padding-right:10px; }
#msadmin_section #msadmin_content #tx_multishop_pi1_core .formfield-wrapper ul.netopsVerticalList li a#noDeselectAvailableDomains { display:inline-block; background:url(../images/world_add.png) left 2px no-repeat; padding-top:3px; padding-left:20px; }
#msadmin_section #msadmin_content #tx_multishop_pi1_core .formfield-wrapper ul.netopsVerticalList li a#noDeselectNotAvailableDomains { display:inline-block; background:url(../images/world_delete.png) left 2px no-repeat; padding-top:3px; padding-left:20px; }
#msadmin_section #msadmin_content #tx_multishop_pi1_core .formfield-wrapper ul.netopsVerticalList li input[type="checkbox"] { float:left; margin:4px 5px 0 0; }
#msadmin_section #msadmin_content #tx_multishop_pi1_core .formfield-wrapper ul.netopsVerticalList li label { float:left; padding-top:3px; }

#msadmin_section #msadmin_content #tx_multishop_pi1_core .bigdrop .select2-dropdown-open .select2-choice { width:392px !important; }
#msadmin_section #msadmin_content #tx_multishop_pi1_core .bigdropWider .select2-dropdown-open .select2-choice,
#msadmin_section #msadmin_content #tx_multishop_pi1_core .select2BigDropWider .select2-choice  { width:692px !important; }
#msadmin_section #msadmin_content #tx_multishop_pi1_core .select2-container .select2-choice { color:#333; }
.msAdminSelect2Wrapper.bigdrop,
.msAdminSelect2Wrapper.bigdropWider { margin:0 0 10px; }
.msAdminHighslidePopup .select2-container-active h3 { background:none; }
.select2-drop.select2-drop-active.bigdropWider { width:702px !important; border-color:#444 !important; z-index:10003 !important; }
.select2-container-active .select2-choice,
.select2-container-active .select2-choices,
.select2-drop-active { border-color:#444 !important; }
.select2-results .select2-highlighted { background:#444 !important; }
.select2-results .select2-result-label { border-bottom:1px solid #dedede; padding:5px 7px 5px; }

#msadmin_section #msadmin_content #tx_multishop_pi1_core fieldset.advanced_settings_container { margin-top:10px; padding-top:10px; }
#msadmin_section #msadmin_content #tx_multishop_pi1_core fieldset.advanced_settings_container * { display:inline-block; }
#msadmin_section #msadmin_content #tx_multishop_pi1_core fieldset.advanced_settings_container input[type="text"] { margin-right:0; }