<!-- ###TEMPLATE### begin -->
<!-- ###JS_HEADER### begin -->
<script type="text/javascript">
function populateRelatedProduct(data) {
    $.each(data.related_product, function (categories_id, related_data) {
        var html_elem = '';
        if (categories_id > 0) {
            var existing_fieldset_id = "#category" + categories_id;
            var last_row_existing_fieldset = "#checkAllC" + categories_id;

            if ($(existing_fieldset_id).length > 0) {
                $.each(related_data.products, function (i, products_data) {
                    var existing_cb = '#cb_' + categories_id + '_' + products_data.id;
                    if ($(existing_cb).length == 0) {
                        if (products_data.checked == 1) {
                            html_elem += '<li><input class="cekbox shiftCheckbox category' + categories_id + '" checked="true" type="checkbox" name="category' + categories_id + '" id="cb_' + categories_id + '_' + products_data.id + '" value="' + products_data.id + '" />' + products_data.name + '</li>';

                        } else {
                            html_elem += '<li><input class="cekbox shiftCheckbox category' + categories_id + '" type="checkbox" name="category' + categories_id + '" id="cb_' + categories_id + '_' + products_data.id + '" value="' + products_data.id + '" />' + products_data.name + '</li>';
                        }
                    }
                });
                $(last_row_existing_fieldset).before(html_elem);
            } else {
                html_elem += '<fieldset><legend>' + related_data.categories_name + '</legend>';
                html_elem += '<ul id="category' + categories_id + '">';
                var checked_rp = 0;
                $.each(related_data.products, function (i, products_data) {
                    if (products_data.checked == 1) {
                        html_elem += '<li><input class="cekbox shiftCheckbox category' + categories_id + '" checked="true" type="checkbox" name="category' + categories_id + '" id="cb_' + categories_id + '_' + products_data.id + '" value="' + products_data.id + '" />' + products_data.name + '</li>';

                        checked_rp++;
                    } else {
                        html_elem += '<li><input class="cekbox shiftCheckbox category' + categories_id + '" type="checkbox" name="category' + categories_id + '" id="cb_' + categories_id + '_' + products_data.id + '" value="' + products_data.id + '" />' + products_data.name + '</li>';
                    }
                });
                if (checked_rp > 0) {
                    html_elem += '<li id="checkAllC' + categories_id + '"><input type="checkbox" class="checkAll" rel="category' + categories_id + '" checked="checked" />Check / Uncheck All</li>';
                } else {
                    html_elem += '<li id="checkAllC' + categories_id + '"><input type="checkbox" class="checkAll" rel="category' + categories_id + '" />Check / Uncheck All</li>';
                }
                html_elem += '</ul></fieldset>';
                $("#related_product_placeholder").append(html_elem);
            }
        }
    });
}
function saveRelation(url, related_pid) {
    $.ajax({
        type: "POST",
        url: url,
        data: {product_id: related_pid, pid: "###AJAX_PID###", req: "save"}
    });
}
function deleteRelation(url, related_pid) {
    $.ajax({
        type: "POST",
        url: url,
        data: {product_id: related_pid, pid: "###AJAX_PID###", req: "delete"}
    });
}
function initRelatedProduct(url) {
    $.ajax({
        type: "POST",
        url: url,
        dataType: "json",
        data: {req: "init", pid: "###AJAX_PID###"},
        success: function (data) {
            if (data.related_product) {
                populateRelatedProduct(data);
            }
        }
    });
}
function productPrice(to_include_vat, o, type) {
    var original_val = o.val();
    var current_value = parseFloat(o.val());
    var tax_id = $("#tax_id").val();
    if (current_value > 0) {
        if (to_include_vat) {
            $.getJSON("###AJAX_URL_GET_TAX_RULESET###", { current_price: original_val, to_tax_include: true, tax_group_id: $("#tax_id").val() }, function (json) {
                if (json && json.price_including_tax) {
                    var incl_tax_crop = decimalCrop(json.price_including_tax);
                    o.parent().next().first().children().val(incl_tax_crop);
                } else {
                    o.parent().next().first().children().val(current_value);
                }
            });
            // update the hidden excl vat
            o.parent().next().next().first().children().val(original_val);
        } else {
            $.getJSON("###AJAX_URL_GET_TAX_RULESET###", { current_price: original_val, to_tax_include: false, tax_group_id: $("#tax_id").val() }, function (json) {
                if (json && json.price_excluding_tax) {
                    var excl_tax_crop = decimalCrop(json.price_excluding_tax);
                    // update the excl. vat
                    o.parent().prev().first().children().val(excl_tax_crop);
                    // update the hidden excl vat
                    o.parent().next().first().children().val(json.price_excluding_tax);
                } else {
                    // update the excl. vat
                    o.parent().prev().first().children().val(original_val);
                    // update the hidden excl vat
                    o.next().parent().first().next().first().children().val(original_val);
                }
            });
        }
    } else {
        if (to_include_vat) {
            // update the incl. vat
            o.parent().next().first().children().val(0);
            // update the hidden excl vat
            o.parent().next().next().first().children().val(0);
        } else {
            // update the excl. vat
            o.parent().prev().first().children().next().val(0);
            // update the hidden excl vat
            o.next().parent().first().next().first().children().val(0);
        }
    }
}
function decimalCrop(float) {
    var numbers = float.toString().split(".");
    var prime = numbers[0];
    if (numbers[1] > 0 && numbers[1] != "undefined") {
        var decimal = new String(numbers[1]);
    } else {
        var decimal = "00";
    }
    var number = prime + "." + decimal.substr(0, 2);
    return number;
}
function mathRound(float) {
    //return float;
    return Math.round(float * 100) / 100;
}
function getSpecialsSections(products_id) {
    $.ajax({
        url: '###AJAX_URL_GET_SPECIAL_SECTIONS###',
        data: 'products_id=###AJAX_PID###',
        type: 'post',
        dataType: 'html',
        success: function (j) {
            if (j) {
                if (parseFloat(jQuery('#specials_new_products_price_excl_vat').val()) > 0 || parseFloat(jQuery('#specials_new_products_price_incl_vat').val()) > 0) {
                    $("#specials_sections").hide();
                    $("#specials_sections").html(j);
                    $("#specials_sections").slideDown("fast");
                }
            }
        }
    });
}
###JS_FUNCTIONS_EXTRA###
jQuery(document).ready(function ($) {
    $('input').keypress(function (event) {
        if (event.keyCode == 13) {
            $('.save_as_new').attr('name', 'Submit');
        }
    });

    $(".msPriceExcludingVat").keyup(function () {
        productPrice(true, $(this));
    });

    $("#tax_id").change(function () {
        $(".msPriceExcludingVat").each(function (i) {
            productPrice(true, $(this));
        });
    });

    $(".msPriceIncludingVat").keyup(function () {
        productPrice(false, $(this));
    });
    $("#specials_sections").hide();
    getSpecialsSections(###AJAX_PID###)
    ;

    $(".tab_content").hide();
    $("ul.tabs li:first").addClass("active").show();
    $(".tab_content:first").show();
    $("ul.tabs li").click(function () {
        $("ul.tabs li").removeClass("active");
        $(this).addClass("active");
        $(".tab_content").hide();
        var activeTab = $(this).find("a").attr("href");
        $(activeTab).show();
        return false;
    });
	###AJAX_REQUEST_SPECIAL_PRICE###
	$('#specials_new_products_price_excl_vat').keyup(function () {
        var value = this.value;
        if (this.value != this.lastValue) {
            if (this.timer) {
                clearTimeout(this.timer);
            }
            this.timer = setTimeout(function () {
                if (value != '' && parseFloat(value) > 0) {
                    getSpecialsSections(###AJAX_PID###)
                    ;
                } else {
                    $("#specials_sections").slideUp("fast");
                }
            }, 200);
            this.lastValue = value;
        }
    });
    $('#specials_new_products_price_incl_vat').keyup(function () {
        var value = this.value;
        if (this.value != this.lastValue) {
            if (this.timer) {
                clearTimeout(this.timer);
            }
            this.timer = setTimeout(function () {
                if (value != '' && parseFloat(value) > 0) {
                    getSpecialsSections(###AJAX_PID###)
                    ;
                } else {
                    $("#specials_sections").slideUp("fast");
                }
            }, 200);
            this.lastValue = value;
        }
    });
    $("#products_date_added_visitor").datepicker({
        dateFormat: "###DATE_FORMAT###",
        altField: "#products_date_added",
        altFormat: "yy-mm-dd",
        changeMonth: true,
        changeYear: true,
        showOtherMonths: true,
        yearRange: "###YEAR_RANGE###"
    });
    $("#products_date_available_visitor").datepicker({
        dateFormat: "###DATE_FORMAT###",
        altField: "#products_date_available",
        altFormat: "yy-mm-dd",
        changeMonth: true,
        changeYear: true,
        showOtherMonths: true,
        yearRange: "###YEAR_RANGE###"
    });
    $("#starttime_visitor").datetimepicker({
        dateFormat: "###DATE_FORMAT###",
        changeMonth: true,
        changeYear: true,
        showOtherMonths: true,
        yearRange: "###YEAR_RANGE###",
        timeFormat: 'HH:mm:ss',
        altField: "#starttime",
        altFieldTimeOnly: false,
        altFormat: "yy-mm-dd",
        altTimeFormat: "HH:mm:ss"
    });
    $("#endtime_visitor").datetimepicker({
        dateFormat: "###DATE_FORMAT###",
        changeMonth: true,
        changeYear: true,
        showOtherMonths: true,
        yearRange: "###YEAR_RANGE###",
        timeFormat: 'HH:mm:ss',
        altField: "#endtime",
        altFieldTimeOnly: false,
        altFormat: "yy-mm-dd",
        altTimeFormat: "HH:mm:ss"
    });
    $("#specials_price_start_visitor").datepicker({
        dateFormat: "###DATE_FORMAT###",
        altField: "#specials_price_start",
        altFormat: "yy-mm-dd",
        changeMonth: true,
        changeYear: true,
        showOtherMonths: true,
        yearRange: "###YEAR_RANGE###"
    });
    $("#specials_price_expired_visitor").datepicker({
        dateFormat: "###DATE_FORMAT###",
        altField: "#specials_price_expired",
        altFormat: "yy-mm-dd",
        changeMonth: true,
        changeYear: true,
        showOtherMonths: true,
        yearRange: "###YEAR_RANGE###"
    });
    // related product ajax server
    var url_relatives = "###AJAX_URL_PRODUCT_RELATIVE###";
    // populate the existing related products
    initRelatedProduct(url_relatives);
    $("#filter").click(function () {
        if ($("#key").val().length === 0) {
            var keywords = 2;
        } else {
            var keywords = $("#key").val();
        }
        var cid = $("#rel_catid").val();

        $.ajax({
            type: "POST",
            url: url_relatives,
            dataType: "json",
            data: {req: "search", keypas: keywords, pid: "###AJAX_PID###", s_cid: cid},
            success: function (data) {
                populateRelatedProduct(data);
            }
        });
    });
    $(document).on("click", ".checkAll", function () {
        var product_class_name = "." + $(this).attr("rel");

        if ($(this).is(":checked")) {
            $(product_class_name).attr("checked", true);
            saveRelation(url_relatives, $(product_class_name).serialize());
        } else {
            // .serialize only() take the checked checkbox
            deleteRelation(url_relatives, $(product_class_name).serialize());
            $(product_class_name).attr("checked", false);
        }
    });
    $(document).on("click", ".cekbox", function () {
        var related_id = $(this).val();

        if ($(this).is(":checked")) {
            saveRelation(url_relatives, related_id);

        } else {
            deleteRelation(url_relatives, related_id);
        }
    });
    $("#load").hide();
    $().ajaxStart(function () {
        $("#load").show();
        $("#related_product_placeholder").hide();
    }).ajaxStop(function () {
        $("#load").hide();
        $("#related_product_placeholder").show();
    });
    // related product js EOF

    //copy products
    $("#cp_product").bind("click", function () {
        $.ajax({
            type: "POST",
            url: "###AJAX_URL_COPY_PRODUCT###",
            data: {idcategory: $("select[name=cid]").val(), pid: "###AJAX_PID###", type_copy: "copy"},
            success: function (data) {
                $("#has_cd").html(data);
            }
        });
    });

    $("#dp_product").bind("click", function () {
        $.ajax({
            type: "POST",
            url: "###AJAX_URL_COPY_PRODUCT###",
            data: {idcategory: $("select[name=cid]").val(), pid: "###AJAX_PID###", type_copy: "duplicate"},
            success: function (data) {
                $("#has_cd").html(data);
            }
        });
    });
    //copy products eof
    ###JS_TRIGGERS_EXTRA###
});
</script>
<!-- ###JS_HEADER### end -->
<div class="main-heading">###LABEL_HEADING_EDIT_PRODUCT###</div>
<div id="tab-container" class="msadminVerticalTabs">
<ul class="tabs">
    <li class="active"><a href="#product_details">###LABEL_TABS_PRODUCTS_DETAILS###</a></li>
    <li><a href="#product_options">###LABEL_TABS_PRODUCT_OPTIONS###</a></li>
    <li><a href="#product_images">###LABEL_TABS_PRODUCT_IMAGES###</a></li>
    <li><a href="#meta_tags">###LABEL_TABS_META_TAGS###</a></li>
    <li><a href="#product_attributes">###LABEL_TABS_PRODUCT_ATTRIBUTES###</a></li>
    <li><a href="#product_relatives">###LABEL_TABS_PRODUCT_RELATIVES###</a></li>
    <li><a href="#product_copy">###LABEL_TABS_PRODUCT_COPY###</a></li>
    ###LABEL_EXTRA_PLUGIN_TABS###
</ul>
<div class="tab_container">
<form class="admin_product_edit blockSubmitForm" name="admin_product_edit_###PRODUCT_PID###" id="admin_product_edit_###PRODUCT_PID###" method="post" action="###FORM_ACTION_URL###" enctype="multipart/form-data">
<input type="hidden" name="tx_multishop_pi1[referrer]" id="msAdminReferrer" value="###VALUE_REFERRER###">

<div style="display: block;" id="product_details" class="tab_content">
    <div style="float:right;">
        <div class="save_block">
            <a href="###LINK_BUTTON_CANCEL###" class="msBackendButton backState arrowLeft arrowPosLeft"><span>###LABEL_BUTTON_CANCEL###</span></a>
            ###BUTTON_SAVE_AS_NEW###
            <span class="msBackendButton continueState arrowRight arrowPosLeft"><input name="Submit" type="submit" value="###LABEL_BUTTON_SAVE###" /></span>
        </div>
    </div>
    <div class="account-field" id="msEditProductInputStatus">
        <label for="products_status">###LABEL_PRODUCT_STATUS###</label>
        <input name="products_status" type="radio" value="1" ###LABEL_PRODUCT_STATUS_ON_CHECKED### /> ###LABEL_ADMIN_YES### <input name="products_status" type="radio" value="0" ###LABEL_PRODUCT_STATUS_OFF_CHECKED### /> ###LABEL_ADMIN_NO###
    </div>
    <div class="account-field" id="msEditProductInputCategory">
        <label for="categories_id">###LABEL_PRODUCT_CATEGORY###</label>
        <input name="old_categories_id" type="hidden" value="###VALUE_OLD_CATEGORY_ID###" />
        ###INPUT_CATEGORY_TREE###
    </div>
    <div class="account-field" id="msEditProductInputExcludeFromFeeds">
        <label>###LABEL_EXCLUDE_FROM_FEED###</label>
        ###FEEDS_LIST###
    </div>
    <div class="account-field toggle_advanced_option" id="msEditProductInputStartEndTime">
        <label for="starttime" class="starttime">Starttime</label>
        <input type="text" name="starttime_visitor" class="starttime" id="starttime_visitor" value="###VALUE_STARTTIME_VISUAL###">
        <input type="hidden" name="starttime" class="starttime" id="starttime" value="###VALUE_STARTTIME_SYS###">
        <label for="endtime" class="endtime">Endtime</label>
        <input type="text" name="endtime_visitor" class="endtime" id="endtime_visitor" value="###VALUE_ENDTIME_VISUAL###">
        <input type="hidden" name="endtime" class="endtime" id="endtime" value="###VALUE_ENDTIME_SYS###">
    </div>
    <!-- ###DETAILS_CONTENT### begin -->
    <div class="account-field toggle_advanced_option msEditProductLanguageDivider">
        <label>###LABEL_LANGUAGE###</label>
        <strong>###LANGUAGE_LABEL###</strong>
    </div>
    <div class="account-field" id="msEditProductInputName">
        <label for="products_name">###LABEL_PRODUCT_NAME###</label>
        <input type="text" class="text" name="products_name[###LANGUAGE_UID###]" id="products_name_###LANGUAGE_UID###" value="###VALUE_PRODUCT_NAME###">
    </div>
    <div class="account-field" id="msEditProductInputShortDesc">
        <label for="products_shortdescription">###LABEL_SHORT_DESCRIPTION###</label>
        <textarea name="products_shortdescription[###LANGUAGE_UID###]" ###TEXTAREA_SHORT_DESCRIPTION_PARAMS### id="products_shortdescription" rows="4" ###TEXTAREA_SHORT_DESCRIPTION_CLASS###>###VALUE_SHORT_DESCRIPTION###</textarea>
    </div>
    <div class="account-field" id="msEditProductInputDesc">
        <label for="products_description">###LABEL_PRODUCT_DESCRIPTION###</label>
        <textarea name="products_description[###LANGUAGE_UID###]" id="products_description[###LANGUAGE_UID###]" class="mceEditor" rows="4">###VALUE_PRODUCT_DESCRIPTION###</textarea>
    </div>
    ###DETAILS_TAB_CONTENT###
    <div class="account-field toggle_advanced_option" id="msEditProductInputExternalUrl">
        <label for="products_url">###LABEL_PRODUCT_URL###</label>
        <input type="text" class="text" name="products_url[###LANGUAGE_UID###]" id="products_url[###LANGUAGE_UID###]" value="###VALUE_PRODUCT_URL###">
    </div>
    <div class="account-field" id="msEditProductInputDeliveryTime">
        <label for="delivery_time">###LABEL_DELIVERY_TIME###</label>
        <input type="text" class="text" name="delivery_time[###LANGUAGE_UID###]" id="delivery_time[###LANGUAGE_UID###]" value="###VALUE_DELIVERY_TIME###">
    </div>
    <div class="account-field toggle_advanced_option" id="msEditProductInputNegativeKeywords">
        <label for="products_negative_keywords">###LABEL_NEGATIVE_KEYWORDS###</label>
        <textarea name="products_negative_keywords[###LANGUAGE_UID###]" id="products_negative_keywords" class="expand20-100">###VALUE_NEGATIVE_KEYWORDS###</textarea>
    </div>
    <!-- ###DETAILS_CONTENT### end -->
</div>
<div style="display: block;" id="product_options" class="tab_content">
    <h1>###LABEL_HEADING_TAB_OPTION###</h1>

    <div class="account-field">
        <label for="tax_id">###LABEL_VAT_RATE###</label>
        ###INPUT_VATE_RATE###
    </div>
    <div class="account-field" id="msEditProductInputPrice">
        <label>###LABEL_PRICE###</label>

        <div class="msAdminFormFieldValueFloatContainer" id="msEditProductInputNormalPrice">
            <label for="products_price">###LABEL_NORMAL_PRICE###</label>

            <div class="msAttributesField">###LABEL_CURRENCY0### <input type="text" name="products_price_excl_vat" class="price small_input msPriceExcludingVat" id="products_price_excl_vat" value="###VALUE_EXCL_VAT_PRICE###"><label
                    for="products_price_excl_vat">Excl. VAT</label></div>
            <div class="msAttributesField">###LABEL_CURRENCY1### <input type="text" name="products_price_incl_vat" class="price small_input msPriceIncludingVat" id="products_price_incl_vat" value="###VALUE_INCL_VAT_PRICE###"><label
                    for="products_price_incl_vat">Incl. VAT</label></div>
            <div class="msAttributesField hidden"><input type="hidden" class="msFinalPriceExcludingVat" name="products_price" value="###VALUE_ORIGINAL_PRICE###" /></div>
        </div>
        <div class="msAdminFormFieldValueFloatContainer" id="msEditProductInputSpecialPrice">
            <label for="products_price">###LABEL_SPECIAL_PRICE###</label>

            <div class="msAttributesField">###LABEL_CURRENCY2### <input type="text" name="specials_new_products_price_excl_vat" class="price small_input msPriceExcludingVat" id="specials_new_products_price_excl_vat"
                                                                        value="###VALUE_EXCL_VAT_SPECIAL_PRICE###"><label for="specials_new_products_price_excl_vat">Excl. VAT</label></div>
            <div class="msAttributesField">###LABEL_CURRENCY3### <input type="text" name="specials_new_products_price_incl_vat" class="price small_input msPriceIncludingVat" id="specials_new_products_price_incl_vat"
                                                                        value="###VALUE_INCL_VAT_SPECIAL_PRICE###"><label for="specials_new_products_price_incl_vat">Incl. VAT</label></div>
            <div class="msAttributesField hidden"><input type="hidden" class="msFinalPriceExcludingVat" name="specials_new_products_price" id="specials_new_products_price" value="###VALUE_ORIGINAL_SPECIAL_PRICE###" /></div>
            <div class="special_price_timer">
                <label for="specials_price_start">###LABEL_SPECIAL_PRICE_START###</label>
                <input type="text" name="specials_price_start_visitor" class="price small_input" id="specials_price_start_visitor" value="###VALUE_SPECIAL_PRICE_START_VISUAL###">
                <input type="hidden" name="specials_price_start" class="price small_input" id="specials_price_start" value="###VALUE_SPECIAL_PRICE_START_SYS###">
                <label for="specials_price_expired">###LABEL_SPECIAL_PRICE_EXPIRED###</label>
                <input type="text" name="specials_price_expired_visitor" class="price small_input" id="specials_price_expired_visitor" value="###VALUE_SPECIAL_PRICE_EXPIRED_VISUAL###">
                <input type="hidden" name="specials_price_expired" class="price small_input" id="specials_price_expired" value="###VALUE_SPECIAL_PRICE_EXPIRED_SYS###">
            </div>
        </div>
        <div class="msAdminFormFieldValueFloatContainer" id="msEditProductInputCapitalPrice">
            <label for="product_capital_price">###LABEL_CAPITAL_PRICE###</label>

            <div class="msAttributesField">###LABEL_CURRENCY4### <input type="text" name="product_capital_price_excl_vat" class="price small_input msPriceExcludingVat" id="product_capital_price_excl_vat"
                                                                        value="###VALUE_EXCL_VAT_CAPITAL_PRICE###"><label for="product_capital_price_excl_vat">Excl. VAT</label></div>
            <div class="msAttributesField">###LABEL_CURRENCY5### <input type="text" name="product_capital_price_incl_vat" class="price small_input msPriceIncludingVat" id="product_capital_price_incl_vat"
                                                                        value="###VALUE_INCL_VAT_CAPITAL_PRICE###"><label for="product_capital_price_incl_vat">Incl. VAT</label></div>
            <div class="msAttributesField hidden"><input type="hidden" class="msFinalPriceExcludingVat" name="product_capital_price" value="###VALUE_ORIGINAL_CAPITAL_PRICE###" /></div>
        </div>
        <div class="account-field" id="specials_sections"></div>
    </div>
    ###INPUT_STAFFEL_PRICE_BLOCK###
    <div class="account-field" id="msEditProductInputQuantity">
        <label for="products_quantity">###LABEL_STOCK###</label>
        <input type="text" name="products_quantity" class="products_quantity" id="products_quantity" value="###VALUE_STOCK###">
        ###LABEL_THRESHOLD_QTY###
        <input type="text" name="alert_quantity_threshold" class="alert_quantity_threshold" id="alert_quantity_threshold" value="###VALUE_THRESHOLD_QTY###">
    </div>
    <div class="account-field" id="msEditProductInputExcludeStockFromFeeds">
        <label>###LABEL_EXCLUDE_STOCK_FROM_FEED###</label>
        ###STOCK_FEEDS_LIST###
    </div>
    <div class="account-field toggle_advanced_option" id="msEditProductInputDateAvailable">
        <label for="products_date_available">###LABEL_DATE_AVAILABLE###</label>
        <input type="text" name="products_date_available_visitor" class="products_date_available" id="products_date_available_visitor" value="###VALUE_DATE_AVAILABLE_VISUAL###">
        <input type="hidden" name="products_date_available" class="products_date_available" id="products_date_available" value="###VALUE_DATE_AVAILABLE_SYS###">
        ###LABEL_DATE_ADDED###
        <input type="text" name="products_date_added_visitor" class="products_date_added" id="products_date_added_visitor" value="###VALUE_DATE_ADDED_VISUAL###">
        <input type="hidden" name="products_date_added" class="products_date_added" id="products_date_added" value="###VALUE_DATE_ADDED_SYS###">
    </div>
    <div class="account-field" id="msEditProductInputModel">
        <label for="products_model">###LABEL_PRODUCT_MODEL###</label>
        <input type="text" class="text" name="products_model" id="products_model" value="###VALUE_PRODUCT_MODEL###">
    </div>
    <div class="account-field" id="msEditProductInputManufacturerName">
        <label for="manufacturers_id">###LABEL_PRODUCT_MANUFACTURER###</label>
        ###INPUT_MANUFACTURER###
        ###LABEL_ADD_NEW_MANUFACTURER### <input name="manufacturers_name" type="text" value="" />
    </div>
    <div class="account-field" id="msEditProductInputWeight">
        <label for="products_weight">###LABEL_PRODUCT_WEIGHT###</label>
        <input type="text" class="text" name="products_weight" id="products_weight" value="###VALUE_PRODUCT_WEIGHT###">
    </div>
    <div class="account-field toggle_advanced_option" id="msEditProductInputCondition">
        <label for="products_condition">###LABEL_PRODUCT_CONDITION###</label>
        <select name="products_condition">
            <option value="new"
            ###CONDITION_NEW_SELECTED###>###LABEL_CONDITION_NEW###</option>
            <option value="used"
            ###CONDITION_USED_SELECTED###>###LABEL_CONDITION_USED###</option>
            <option value="refurbished"
            ###CONDITION_REFURBISHED_SELECTED###>###LABEL_CONDITION_REFURBISHED###</option>
        </select>
    </div>
    <div class="account-field toggle_advanced_option" id="msEditProductInputEANCode">
        <label for="ean_code">###LABEL_EAN_CODE###</label>
        <input type="text" class="text" name="ean_code" id="ean_code" maxlength="13" value="###VALUE_EAN_CODE###">
    </div>
    <div class="account-field toggle_advanced_option" id="msEditProductInputSKUCode">
        <label for="sku_code">###LABEL_SKU_CODE###</label>
        <input type="text" class="text" name="sku_code" id="sku_code" maxlength="13" value="###VALUE_SKU_CODE###">
    </div>
    <div class="account-field toggle_advanced_option" id="msEditProductInputManufacturerCode">
        <label for="manufacturers_products_id">###LABEL_MANUFACTURER_CODE###</label>
        <input type="text" class="text" name="manufacturers_products_id" id="manufacturers_products_id" value="###VALUE_MANUFACTURER_CODE###">
    </div>
    <div class="account-field toggle_advanced_option" id="msEditProductInputUnit">
        <strong>###LABEL_PRODUCT_UNIT###</strong>
        &nbsp;
    </div>
    <div class="account-field toggle_advanced_option" id="msEditProductInputOrderUnit">
        <label for="order_unit_id">###LABEL_ORDER_UNIT###</label>
        ###INPUT_PRODUCT_UNIT###
    </div>
    <div class="account-field" id="msEditProductInputMinimumQuantity">
        <label for="minimum_quantity">###LABEL_MINIMUM_QTY###</label>
        <input type="text" name="minimum_quantity" class="minimum_quantity" id="minimum_quantity" value="###VALUE_MINIMUM_QTY###">
        ###LABEL_MAXIMUM_QTY###
        <input type="text" name="maximum_quantity" class="maximum_quantity" id="maximum_quantity" value="###VALUE_MAXIMUM_QTY###">
    </div>
    <div class="account-field toggle_advanced_option" id="msEditProductInputMultiplication">
        <label for="products_multiplication">###LABEL_QTY_MULTIPLICATION###</label>
        <input type="text" class="text" name="products_multiplication" id="products_multiplication" value="###VALUE_QTY_MULTIPLICATION###">
    </div>
    <div class="account-field toggle_advanced_option" id="msEditProductInputVirtualProduct">
        <strong>###LABEL_VIRTUAL_PRODUCT###</strong>
        &nbsp;
    </div>
    ###OPTIONS_TAB_VIRTUAL_PRODUCT###
    <div class="account-field toggle_advanced_option" id="msEditProductInputNumberDownload">
        <label for="file_number_of_downloads">###LABEL_FILE_NUMBER_OF_DOWNLOADS###</label>
        <input type="text" class="text" name="file_number_of_downloads" id="file_number_of_downloads" value="###VALUE_FILE_NUMBER_OF_DOWNLOADS###">
    </div>
    ###INPUT_EDIT_SHIPPING_AND_PAYMENT_METHOD###
    <input name="pid" type="hidden" value="###VALUE_PRODUCT_PID0###" />
    <input name="action" type="hidden" value="###VALUE_HIDDEN_FORM_ACTION###" />

    <div id="ajax_message_###VALUE_PRODUCT_PID1###" class="ajax_message"></div>
    <div class="account-field toggle_advanced_option" id="msEditProductInputAdvancedSettings">
        <strong>###LABEL_ADVANCED_SETTINGS###</strong>
        &nbsp;
    </div>
    <div class="account-field toggle_advanced_option" id="msEditProductInputCustomConfig">
        <label for="custom_settings">###LABEL_CUSTOM_CONFIGURATION###</label>
        <textarea name="custom_settings" class="expand20-200" rows="15">###VALUE_CUSTOM_CONFIGURATION###</textarea>
    </div>
</div>
<div style="display: block;" id="product_images" class="tab_content">
    <h1>###LABEL_HEADING_TAB_IMAGES###</h1>
    ###INPUT_IMAGES_BLOCK###
</div>
<div style="display: block;" id="meta_tags" class="tab_content">
    <h1>###LABEL_HEADING_TAB_META_TAGS###</h1>
    ###INPUT_META_TAGS_BLOCK###
</div>
<div style="display: block;" id="product_attributes" class="tab_content">
    ###INPUT_ATTRIBUTES_BLOCK###
</div>
<div style="display: block;" id="product_relatives" class="tab_content">
    ###INPUT_PRODUCT_RELATIVES_BLOCK###
</div>
<div style="display: block;" id="product_copy" class="tab_content">
    ###INPUT_PRODUCT_COPY_BLOCK###
</div>
###CONTENT_EXTRA_PLUGIN_TABS###
<div class="save_block">
    <input name="advanced" type="button" value="###FOOTER_VALUE_ADVANCED_OPTION###" class="toggle_advanced_options msadmin_button" />
    <a href="###FOOTER_LINK_BUTTON_CANCEL###" class="msBackendButton backState arrowLeft arrowPosLeft"><span>###FOOTER_LABEL_BUTTON_CANCEL###</span></a>
    ###FOOTER_BUTTON_SAVE_AS_NEW###
    <span class="msBackendButton continueState arrowRight arrowPosLeft"><input name="Submit" type="submit" value="###FOOTER_LABEL_BUTTON_SAVE###" /></span>
</div>
</form>
</div>
</div>
<script type="text/javascript">
    jQuery().ready(function ($) {
        $(".admin_product_edit").submit(function () {
            if ($("#categories_id").val() == "0") {
                alert("###ADMIN_LABEL_JS_PLEASE_SELECT_CATEGORY_FOR_THIS_PRODUCT###");
                return false;
            }

            if ($("#products_name_0").val() == "") {
                alert("###ADMIN_LABEL_JS_PRODUCT_NAME_IS_EMPTY###");
                return false;
            }
        });
        if ($("#products_name_0").val() == "") {
            $(".qq-uploader").before('<span class="file-upload-hidden">###ADMIN_LABEL_JS_DEFINE_PRODUCT_NAME_FIRST_IN_DETAIL_TABS###</span>');
            $(".qq-uploader").hide();
        }
        $("#products_name_0").keyup(function () {
            if ($("#products_name_0").val() != "") {
                $(".file-upload-hidden").hide();
                $(".qq-uploader").show();
            } else {
                $(".qq-uploader").hide();
                $(".file-upload-hidden").show();
            }
        });
	###JS_ADVANCED_OPTION_TOGGLE###
    });
</script>
<!-- ###TEMPLATE### end -->