<!-- ###TEMPLATE### begin -->
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".tab_content").hide();
        $("ul.tabs li:first").addClass("active").show();
        $(".tab_content:first").show();
        $("ul.tabs li").click(function () {
            $("ul.tabs li").removeClass("active");
            $(this).addClass("active");
            $(".tab_content").hide();
            var activeTab = $(this).find("a").attr("href");
            $(activeTab).fadeIn(0);
            return false;
        });
        $('#order_date_from').datetimepicker({
            dateFormat: 'dd/mm/yy',
            showSecond: true,
            timeFormat: 'HH:mm:ss'
        });
        $('#order_date_till').datetimepicker({
            dateFormat: 'dd/mm/yy',
            showSecond: true,
            timeFormat: 'HH:mm:ss'
        });

    });
</script>

<div id="tab-container">
    <ul class="tabs" id="admin_orders">
        <li class="active"><a href="#Orders_By_Date">###ADMIN_LABEL_TABS_ORDERS###</a></li>
    </ul>
    <div class="tab_container">
        <form action="###FORM_SEARCH_ACTION_URL###" name="orders_search" id="orders_search" method="post">
            <div style="display: block;" id="Orders_By_Date" class="tab_content">
                <div id="search-orders">
                    <input name="id" type="hidden" value="###SHOP_PID###" />
                    <input name="tx_multishop_pi1[page_section]" type="hidden" value="admin_orders" />
                    <div class="row formfield-container-wrapper">
                        <div class="col-sm-4 formfield-wrapper">
                            <label>###LABEL_KEYWORD###</label>
                            <input type="text" name="skeyword" value="###VALUE_KEYWORD###">
                            <label for="type_search">###LABEL_SEARCH_ON###</label>
                            ###OPTION_ITEM_SELECTBOX###
                            <label for="groups" class="labelInbetween">###LABEL_USERGROUP###</label>
                            ###USERGROUP_SELECTBOX###
                        </div>
                        <div class="col-sm-4 formfield-wrapper">
                            <label for="order_date_from">###LABEL_DATE_FROM###:</label>
                            <input type="text" name="order_date_from" id="order_date_from" value="###VALUE_DATE_FORM###">
                            <label for="order_date_till" class="labelInbetween">###LABEL_DATE_TO###:</label>
                            <input type="text" name="order_date_till" id="order_date_till" value="###VALUE_DATE_TO###">
                            <label for="payment_status">###LABEL_PAYMENT_STATUS###</label>
                            ###PAYMENT_STATUS_SELECTBOX###
                            <label for="orders_status_search" class="labelInbetween">###LABEL_ORDER_STATUS###</label>
                            ###ORDERS_STATUS_LIST_SELECTBOX###
                            <label for="search_by_status_last_modified">###LABEL_FILTER_LAST_MODIFIED###</label>
                            <input type="checkbox" class="PrettyInput" id="search_by_status_last_modified" name="search_by_status_last_modified" value="1"###FILTER_BY_LAST_MODIFIED_CHECKED### >
                        </div>
                        <div class="col-sm-4 formfield-wrapper">
                            <label for="payment_method">###LABEL_PAYMENT_METHOD###</label>
                            ###PAYMENT_METHOD_SELECTBOX###
                            <label for="shipping_method" class="labelInbetween">###LABEL_SHIPPING_METHOD###</label>
                            ###SHIPPING_METHOD_SELECTBOX###
                            <label for="country">###LABEL_COUNTRIES_SELECTBOX###</label>
                            ###COUNTRIES_SELECTBOX###
                            <label for="limit">###LABEL_RESULTS_LIMIT_SELECTBOX###:</label>
                            ###RESULTS_LIMIT_SELECTBOX###
                        </div>
                    </div>
                    <div class="row formfield-container-wrapper">
                        <div class="col-sm-12 formfield-wrapper">
                            <input type="submit" name="Search" value="###VALUE_SEARCH###" />
                        </div>
                    </div>
                </div>
                <!-- ###RESULTS### begin -->
                <div class="msHorizontalOverflowWrapper">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0" id="msAdminOrdersListing" class="table table-striped table-bordered">
                        <tr>
                            <thead>
                            <th align="center" width="17">
                                <label for="check_all_1"></label>
                                <input type="checkbox" class="PrettyInput" id="check_all_1">
                            </th>
                            <th width="50" class="cell_orders_id"><a href="###HEADER_SORTBY_LINK_ORDER_ID###">###LABEL_HEADER_ORDER_ID###</a></th>
                            ###HEADER_INVOICE_NUMBER###
                            ###HEADER_MASTER_SHOP###
                            <th class="cell_customer">###LABEL_HEADER_CUSTOMER###</th>
                            <th width="110" class="cell_date"><a href="###HEADER_SORTBY_LINK_ORDER_DATE###">###LABEL_HEADER_ORDER_DATE###</a></th>
                            <th width="50" class="cell_amount"><a href="###HEADER_SORTBY_LINK_AMOUNT###">###LABEL_HEADER_AMOUNT###</a></th>
                            <th width="50" class="cell_shipping_method"><a href="###HEADER_SORTBY_LINK_SHIPPING_METHOD###">###LABEL_HEADER_SHIPPING_METHOD###</a></th>
                            <th width="50" class="cell_payment_method"><a href="###HEADER_SORTBY_LINK_PAYMENT_METHOD###">###LABEL_HEADER_PAYMENT_METHOD###</a></th>
                            <th class="cell_status">###LABEL_HEADER_STATUS###</th>
                            <th width="110" class="cell_date"><a href="###HEADER_SORTBY_LINK_MODIFIED###">###LABEL_HEADER_MODIFIED###</a></th>
                            <th width="50" class="cell_paid">###LABEL_HEADER_PAID###</th>
                            ###EXTRA_RIGHT_HEADER###
                            </thead>
                        </tr>
                        <!-- ###ORDERS_LISTING### begin -->
                        <tr class="###ROW_TYPE###">
                            <th nowrap><label for="checkbox_###ORDER_ID###"></label><input type="checkbox" name="selected_orders[]" class="PrettyInput" id="checkbox_###ORDER_ID###" value="###ORDER_ID###"></th>
                            <td align="right" nowrap><a href="###ORDER_EDIT_URL###" title="###LABEL_LOADING###" class="tooltip" rel="###ORDER_ID###">###ORDER_ID###</a></td>
                            ###INVOICE_NUMBER###
                            ###MASTER_SHOP###
                            <td align="left" nowrap><a href="###ORDER_EDIT_URL###" title="###LABEL_LOADING###" class="popover-link" rel="###ORDER_ID###">###ORDER_CUSTOMER_NAME###</a></td>
                            <td align="right" nowrap>###ORDER_CREATE_DATE###</td>
                            <td align="right" nowrap id="order_amount_###ORDER_ID###">###ORDER_GRAND_TOTAL###</td>
                            <td align="center" nowrap id="shipping_method_###ORDER_ID###">###ORDER_SHIPPING_METHOD###</td>
                            <td align="center" nowrap id="payment_method_###ORDER_ID###">###ORDER_PAYMENT_METHOD###</td>
                            <td align="left" nowrap>###ORDER_STATUS###</td>
                            <td align="right" nowrap>###ORDER_LAST_MODIFIED###</td>
                            <td align="center" nowrap>###ORDER_PAID_STATUS###</td>
                            ###PRINT_ORDER_LIST_BUTTON###
                        </tr>
                        <!-- ###ORDERS_LISTING### end -->
                        <tr>
                            <th>&nbsp;</th>
                            <th width="50" class="cell_orders_id"><a href="###FOOTER_SORTBY_LINK_ORDER_ID###">###LABEL_FOOTER_ORDER_ID###</a></th>
                            ###FOOTER_INVOICE_NUMBER###
                            ###FOOTER_MASTER_SHOP###
                            <th class="cell_customer">###LABEL_FOOTER_CUSTOMER###</th>
                            <th width="110" class="cell_date"><a href="###FOOTER_SORTBY_LINK_ORDER_DATE###">###LABEL_FOOTER_ORDER_DATE###</a></th>
                            <th width="50" class="cell_amount"><a href="###FOOTER_SORTBY_LINK_AMOUNT###">###LABEL_FOOTER_AMOUNT###</a></th>
                            <th width="50" class="cell_shipping_method"><a href="###FOOTER_SORTBY_LINK_SHIPPING_METHOD###">###LABEL_FOOTER_SHIPPING_METHOD###</a></th>
                            <th width="50" class="cell_payment_method"><a href="###FOOTER_SORTBY_LINK_PAYMENT_METHOD###">###LABEL_FOOTER_PAYMENT_METHOD###</a></th>
                            <th class="cell_status">###LABEL_FOOTER_STATUS###</th>
                            <th width="110" class="cell_date"><a href="###FOOTER_SORTBY_LINK_MODIFIED###">###LABEL_FOOTER_MODIFIED###</a></th>
                            <th width="50" class="cell_paid">###LABEL_FOOTER_PAID###</th>
                            ###EXTRA_RIGHT_FOOTER###
                        </tr>
                    </table>
                </div>
                <div id="msAdminOrdersListingActionForm">
                    ###FORM_FIELDS_LISTING_ACTION_BLOCK###
                </div>
                ###PAGINATION###
                <!-- ###RESULTS### end -->

                <!-- ###NORESULTS### begin -->
                ###LABEL_NO_RESULTS###
                <!-- ###NORESULTS### end -->
            </div>
        </form>
    </div>
</div>
<!-- ###TEMPLATE### end -->