<!-- ###TEMPLATE### begin -->
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#order_date_from').datetimepicker({
            dateFormat: 'dd/mm/yy',
            showSecond: true,
            timeFormat: 'HH:mm:ss'
        });
        $('#order_date_till').datetimepicker({
            dateFormat: 'dd/mm/yy',
            showSecond: true,
            timeFormat: 'HH:mm:ss'
        });

    });
</script>

<div class="panel panel-default">
    <div class="panel-heading"><h3>###ADMIN_LABEL_TABS_ORDERS###</h3> <a class="btn btn-primary"><i class="fa fa-plus"></i> Create Order</a></div>
    <div class="panel-body">
        <div id="Orders_By_Date">
            <form action="###FORM_SEARCH_ACTION_URL###" name="orders_search" id="orders_search" method="get">

<div class="panel panel-default">
    <div class="panel-heading">
            <div class="form-inline form-collapse">
                <div class="input-group">
                    <input class="form-control" type="text" name="skeyword" id="advance-skeyword" value="###VALUE_KEYWORD###" placeholder="###LABEL_KEYWORD###" />
                    <i class="fa fa-search 2x form-control-inputsearch"></i>
                    <span class="input-group-btn">
                        <input type="submit" name="Search" id="advanceSearchSubmit" value="###VALUE_SEARCH###" class="btn btn-success" />
                    </span>
                </div>
                <a role="button" data-toggle="collapse" href="#msAdminOrdersSearch" class="advanceSearch">Advanced search</a>
            </div>
            <div class="form-inline pull-right">
                <label for="limit" class="control-label">###LABEL_RESULTS_LIMIT_SELECTBOX###:</label>
                ###RESULTS_LIMIT_SELECTBOX###
            </div>
    </div>
    <div id="msAdminOrdersSearch" class="panel-collapse collapse">
        <div class="panel-body">
            <div id="search-orders" class="well no-mb">
                <input name="id" type="hidden" value="###SHOP_PID###" />
                <input name="type" type="hidden" value="2003" />
                <input name="tx_multishop_pi1[page_section]" type="hidden" value="admin_orders" />
                <div class="row formfield-container-wrapper">
                    <div class="col-sm-4 formfield-wrapper">
                        <div class="form-group">
                            <label for="type_search" class="control-label">###LABEL_SEARCH_ON###</label>
                            ###OPTION_ITEM_SELECTBOX###
                        </div>
                        <div class="form-group">
                            <label for="groups" class="labelInbetween control-label">###LABEL_USERGROUP###</label>
                            ###USERGROUP_SELECTBOX###
                        </div>
                    </div>
                    <div class="col-sm-4 formfield-wrapper">
                        <label class="control-label" for="type_search">###LABEL_DATE###</label>
                        <div class="form-group">
                            <div class="form-inline">
                                <label class="control-label" for="order_date_from">###LABEL_DATE_FROM###</label>
                                <input class="form-control" type="text" name="order_date_from" id="order_date_from" value="###VALUE_DATE_FORM###">
                                <label for="order_date_till" class="labelInbetween">###LABEL_DATE_TO###</label>
                                <input class="form-control" type="text" name="order_date_till" id="order_date_till" value="###VALUE_DATE_TO###">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="payment_status" class="control-label">###LABEL_PAYMENT_STATUS###</label>
                            ###PAYMENT_STATUS_SELECTBOX###
                        </div>
                        <div class="form-group">
                            <label for="orders_status_search" class="control-label labelInbetween">###LABEL_ORDER_STATUS###</label>
                            ###ORDERS_STATUS_LIST_SELECTBOX###
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <div class="checkbox checkbox-success checkbox-inline">
                                    <input type="checkbox" id="search_by_status_last_modified" name="search_by_status_last_modified" value="1" ###FILTER_BY_LAST_MODIFIED_CHECKED### >
                                    <label for="search_by_status_last_modified">###LABEL_FILTER_LAST_MODIFIED###</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkbox checkbox-success checkbox-inline">
                                    <input type="checkbox" id="search_by_telephone_orders" name="search_by_telephone_orders" value="1" ###FILTER_BY_TELEPHONE_ORDERS_CHECKED### >
                                    <label for="search_by_telephone_orders">###LABEL_FILTER_TELEPHONE_ORDERS###</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 formfield-wrapper">
                        <div class="form-group">
                            <label for="payment_method" class="control-label">###LABEL_PAYMENT_METHOD###</label>
                            ###PAYMENT_METHOD_SELECTBOX###
                        </div>
                        <div class="form-group">
                            <label for="shipping_method" class="control-label labelInbetween">###LABEL_SHIPPING_METHOD###</label>
                            ###SHIPPING_METHOD_SELECTBOX###
                        </div>
                        <div class="form-group">
                            <label for="country" class="control-label">###LABEL_COUNTRIES_SELECTBOX###</label>
                            ###COUNTRIES_SELECTBOX###
                        </div>
                    </div>
                </div>
                <div class="row formfield-container-wrapper">
                    <div class="col-sm-12 formfield-wrapper">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


            </form>
            <!-- ###RESULTS### begin -->
            <form action="###FORM_POST_ACTION_URL###" name="orders_post" id="orders_post" method="post">
                <input name="id" type="hidden" value="###SHOP_PID2###" />
                <input name="tx_multishop_pi1[page_section]" type="hidden" value="admin_orders" />
                <div class="table-responsive">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0" id="msAdminOrdersListing" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th align="center" width="17">
                                <div class="checkbox checkbox-success checkbox-inline">
                                <input type="checkbox" id="check_all_1">
                                <label for="check_all_1"></label>
                                </div>
                            </th>
                            <th width="10" class="cell_phone_icon">&nbsp;</th>
                            <th width="50" class="cell_orders_id"><a href="###HEADER_SORTBY_LINK_ORDER_ID###">###LABEL_HEADER_ORDER_ID###</a></th>
                            ###HEADER_INVOICE_NUMBER###
                            ###HEADER_MASTER_SHOP###
                            <th class="cell_customer">###LABEL_HEADER_CUSTOMER###</th>
                            <th align="right" width="110" class="cell_date"><a href="###HEADER_SORTBY_LINK_ORDER_DATE###">###LABEL_HEADER_ORDER_DATE###</a></th>
                            <th width="50" class="cell_amount"><a href="###HEADER_SORTBY_LINK_AMOUNT###">###LABEL_HEADER_AMOUNT###</a></th>
                            <th width="50" class="cell_shipping_method"><a href="###HEADER_SORTBY_LINK_SHIPPING_METHOD###">###LABEL_HEADER_SHIPPING_METHOD###</a></th>
                            <th width="50" class="cell_payment_method"><a href="###HEADER_SORTBY_LINK_PAYMENT_METHOD###">###LABEL_HEADER_PAYMENT_METHOD###</a></th>
                            <th class="cell_status">###LABEL_HEADER_STATUS###</th>
                            <th align="right" width="110" class="cell_date"><a href="###HEADER_SORTBY_LINK_MODIFIED###">###LABEL_HEADER_MODIFIED###</a></th>
                            <th width="50" class="cell_paid">###LABEL_HEADER_PAID###</th>
                            ###PLUGIN_EXTRA_HEADER###
                            ###EXTRA_RIGHT_HEADER###
                        </tr>
                        </thead>
                        <tbody>
                        <!-- ###ORDERS_LISTING### begin -->
                        <tr class="###ROW_TYPE###">
                            <th nowrap>
                                <div class="checkbox checkbox-success checkbox-inline">
                                <input type="checkbox" name="selected_orders[]" id="checkbox_###ORDER_ID###" value="###ORDER_ID###">
                                <label for="checkbox_###ORDER_ID###"></label>
                                </div>
                            </th>
                            <td width="5" class="cell_phone_icon">###MANUAL_ORDER_ICON###</td>
                            <td align="right" nowrap><a href="###ORDER_EDIT_URL###" title="###LABEL_LOADING###" class="popover-link" rel="###ORDER_ID###">###ORDER_ID###</a></td>
                            ###INVOICE_NUMBER###
                            ###MASTER_SHOP###
                            <td align="left" nowrap><a href="###ORDER_EDIT_URL###" title="###LABEL_LOADING###" class="popover-link" rel="###ORDER_ID###">###ORDER_CUSTOMER_NAME###</a></td>
                            <td align="right" nowrap>###ORDER_CREATE_DATE###</td>
                            <td align="right" nowrap id="order_amount_###ORDER_ID###">###ORDER_GRAND_TOTAL###</td>
                            <td align="center" nowrap id="shipping_method_###ORDER_ID###">###ORDER_SHIPPING_METHOD###</td>
                            <td align="center" nowrap id="payment_method_###ORDER_ID###">###ORDER_PAYMENT_METHOD###</td>
                            <td align="left" nowrap>###ORDER_STATUS###</td>
                            <td align="right" nowrap>###ORDER_LAST_MODIFIED###</td>
                            <td align="center" nowrap>###ORDER_PAID_STATUS###</td>
                            ###PLUGIN_EXTRA_CONTENT###
                            ###PRINT_ORDER_LIST_BUTTON###

                        </tr>
                        <!-- ###ORDERS_LISTING### end -->
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>&nbsp;</th>
                            <th width="10" class="cell_phone_icon">&nbsp;</th>
                            <th width="50" class="cell_orders_id"><a href="###FOOTER_SORTBY_LINK_ORDER_ID###">###LABEL_FOOTER_ORDER_ID###</a></th>
                            ###FOOTER_INVOICE_NUMBER###
                            ###FOOTER_MASTER_SHOP###
                            <th class="cell_customer">###LABEL_FOOTER_CUSTOMER###</th>
                            <th width="110" class="cell_date"><a href="###FOOTER_SORTBY_LINK_ORDER_DATE###">###LABEL_FOOTER_ORDER_DATE###</a></th>
                            <th width="50" class="cell_amount"><a href="###FOOTER_SORTBY_LINK_AMOUNT###">###LABEL_FOOTER_AMOUNT###</a></th>
                            <th width="50" class="cell_shipping_method"><a href="###FOOTER_SORTBY_LINK_SHIPPING_METHOD###">###LABEL_FOOTER_SHIPPING_METHOD###</a></th>
                            <th width="50" class="cell_payment_method"><a href="###FOOTER_SORTBY_LINK_PAYMENT_METHOD###">###LABEL_FOOTER_PAYMENT_METHOD###</a></th>
                            <th class="cell_status">###LABEL_FOOTER_STATUS###</th>
                            <th width="110" class="cell_date"><a href="###FOOTER_SORTBY_LINK_MODIFIED###">###LABEL_FOOTER_MODIFIED###</a></th>
                            <th width="50" class="cell_paid">###LABEL_FOOTER_PAID###</th>
                            ###PLUGIN_EXTRA_FOOTER###
                            ###EXTRA_RIGHT_FOOTER###
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <div id="msAdminOrdersListingActionForm" class="row">
                    <div class="col-md-6">
                    ###FORM_FIELDS_LISTING_ACTION_BLOCK###
                    </div>
                    <div class="col-md-6"></div>
                </div>
            </form>
            ###PAGINATION###
            <!-- ###RESULTS### end -->
            <!-- ###NORESULTS### begin -->
            ###LABEL_NO_RESULTS###
            <!-- ###NORESULTS### end -->
        </div>
        ###BACK_BUTTON###
    </div>
</div>
<!-- ###TEMPLATE### end -->