<!-- ###TEMPLATE### begin -->
<script type="text/javascript">
jQuery(document).ready(function ($) {
var url = document.location.toString();
if (url.match('#')) {
    $('.nav-tabs a[href=#'+url.split('#')[1]+']').tab('show') ;
} else {
	$('.nav-tabs a:first').tab('show');
}

// Change hash for page-reload
$('.nav-tabs a').on('shown.bs.tab', function (e) {
	window.location.hash = e.target.hash;
	$("body,html,document").scrollTop(0);
});
});
</script>
<div class="panel-body">
<div id="tab-container">
    <ul class="nav nav-tabs" id="admin_orders" role="tablist">
        <li role="presentation"><a href="#user-agents" aria-controls="profile" role="tab" data-toggle="tab">###HEADING_TAB1###</a></li>
    </ul>
    <div class="tab-content">
        <form action="###FORM_SEARCH_ACTION_URL###" name="orders_search" id="orders_search" method="post">
            <div role="tabpanel" id="user-agents" class="tab-pane">
                <div id="search-orders" class="well">
                    <input name="id" type="hidden" value="###SHOP_PID###" />
                    <input name="tx_multishop_pi1[page_section]" type="hidden" value="admin_stats_user_agent" />
                    <div class="clearfix">
                        <div class="pull-left">
                            <div class="form-inline">
                                    <label>###LABEL_KEYWORD###</label>
                                    <input type="text" class="form-control" name="skeyword" value="###VALUE_KEYWORD###">
                                    <input type="submit" class="btn btn-success" name="Search" value="###VALUE_SEARCH###" />
                            </div>
                        </div>
                        <div class="pull-right">
                            <div class="pull-right">
                                <div class="form-inline">
                                    <label>###LABEL_RESULTS_LIMIT_SELECTBOX###:</label>
                                    ###RESULTS_LIMIT_SELECTBOX###
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ###RESULTS### begin -->
                <div class="msHorizontalOverflowWrapper">
                    <table id="product_import_table" class="table table-striped table-bordered msadmin_orders_listing">
                        <thead>
                        <tr>
                            <th class="cellID">###LABEL_HEADER_ORDERS_ID###</th>
                            <th class="cellName">###LABEL_HEADER_CUSTOMER###</th>
                            <th class="cellIP">###LABEL_HEADER_IP_ADDRESS###</th>
                            <th class="cellUserAgent">###LABEL_HEADER_USER_AGENT###</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- ###ORDERS_LISTING### begin -->
                        <tr class="###ROW_TYPE###">
                            <td class="cellID">###ORDERS_ID###</td>
                            <td class="cellName"><a href="###CUSTOMER_NAME_LINK###">###CUSTOMER_NAME###</a></td>
                            <td class="cellIP">###IP_ADDRESS###</td>
                            <td class="cellUserAgent">###USER_AGENT###</td>
                        </tr>
                        <!-- ###ORDERS_LISTING### end -->
                        </tbody>
                        <tfoot>
                        <tr>
                            <th class="cellID">###LABEL_FOOTER_ORDERS_ID###</th>
                            <th class="cellName">###LABEL_FOOTER_CUSTOMER###</th>
                            <th class="cellIP">###LABEL_FOOTER_IP_ADDRESS###</th>
                            <th class="cellUserAgent">###LABEL_FOOTER_USER_AGENT###</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <div id="msAdminOrdersListingActionForm">
                    <a class="btn btn-primary" href="###DOWNLOAD_EXCEL###"><i class="fa fa-download"></i> ###ADMIN_LABEL_LINK_DOWNLOAD_AS_EXCEL###</a>
                </div>
                ###PAGINATION###
                <!-- ###RESULTS### end -->

                <!-- ###NORESULTS### begin -->
                ###LABEL_NO_RESULTS###
                <!-- ###NORESULTS### end -->
            </div>
        </form>
    </div>
</div>
<!-- ###TEMPLATE### end -->