<!-- ###TEMPLATE### begin -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style>
        @page {margin:0; margin-top:150px; margin-bottom:60px;}
        #invoice_header { position: fixed; top:-150px; height: 150px}
        #invoice_footer { position: fixed; bottom:-60px; height: 60px;}
        #invoice_content { font-family:arial, helvetica, sans-serif; font-size: 13px; margin:0px 60px 0px 125px; z-index:0; }
        .valign_top { vertical-align:text-top; }
        #orderDetailsPDFInvoice {}
    </style>
</head>
<body>
<div id="invoice_header">
    ###INVOICE_HEADER_BACKGROUND_IMAGE###
</div>
<div id="invoice_footer">
    ###INVOICE_FOOTER_BACKGROUND_IMAGE###
</div>
<div id="invoice_content">
    <table width="100%" border="0">
        <tr>
            <td width="50%">&nbsp;</td>
            <td width="50%" align="center" style="font-size:34px"><strong>###LABEL_INVOICE_HEADER###</strong></td>
        </tr>
        <tr>
            <td>
                <table style="margin-left:53px; margin-top:40px">
                    <tr>
                        <td>
                            ###BILLING_COMPANY###
                            <strong>###BILLING_NAME###</strong><br/>
                            <strong>###BILLING_ADDRESS###</strong><br/>
                            <strong>###BILLING_ZIP### ###BILLING_CITY###</strong><br/>
                            <strong>###BILLING_COUNTRY###</strong><br/><br/>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table style="margin-right:100px; margin-top:40px" align="right">
                    <tr>
                        <td width="130px"><strong>###LABEL_CUSTOMER_ID###</strong></td>
                        <td>###CUSTOMER_ID###</td>
                    </tr>
                    <tr>
                        <td><strong>###LABEL_ORDER_ID###</strong></td>
                        <td>###ORDER_ID###</td>
                    </tr>
                    <tr>
                        <td><strong>###LABEL_ORDER_DATE###</strong></td>
                        <td>###ORDER_DATE###</td>
                    </tr>
                    <tr>
                        <td><strong>###LABEL_INVOICE_DATE###</strong></td>
                        <td>###INVOICE_DATE###</td>
                    </tr>
                    <tr>
                        <td valign="top"><strong>###LABEL_INVOICE_PAYMENT_METHOD###</strong></td>
                        <td>###INVOICE_PAYMENT_METHOD###</td>
                    </tr>
                    <tr>
                        <td valign="top"><strong>###LABEL_INVOICE_PAYMENT_CONDITION###</strong></td>
                        <td>###INVOICE_PAYMENT_CONDITION###</td>
                    </tr>
                    <tr>
                        <td width="130px"><strong>###LABEL_YOUR_VAT_ID###</strong></td>
                        <td>###YOUR_VAT_ID###</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    ###INVOICE_CONTENT_HEADER_MESSAGE###
    ###INVOICE_ORDER_DETAILS###
    ###INVOICE_CONTENT_FOOTER_MESSAGE###
</div>
</body>
</html>
<!-- ###TEMPLATE### end -->
