<!-- ###TEMPLATE### begin -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>###ADMIN_CATEGORIES_HEADER###</h3> <a class="btn btn-primary"><i class="fa fa-plus"></i> Create Order</a>
    </div>
<div class="panel-body">


<form name="movecats" action="###FORM_ACTION_LINK###" method="post" class="form-horizontal">
    <div id="sidetree">
        <div class="treeheader">&nbsp;</div>
        <div id="sidetreecontrol">
            <a href="#">###ADMIN_LABEL_COLLAPSE_ALL###</a> | <a href="#">###ADMIN_LABEL_EXPAND_ALL###</a>
        </div>
        <ul id="msAdmin_category_listing_ul" class="master_categories_ul">
            <!-- ###CATEGORIES### begin -->
            <li class="item_###COUNTER### ###EXTRA_CLASS### categories_sorting" id="categories_id_###CATEGORY_ID###">
                <div class="checkbox checkbox-success checkbox-inline">
                    <input type="checkbox" class="movecats" name="movecats[]" value="###CATEGORY_ID###" id="cb-cat_###CATEGORY_ID###" rel="###CATEGORY_ID###"><label for="cb-cat_###CATEGORY_ID###"></label>
                </div>
                <strong>
                    <a href="###CATEGORY_EDIT_LINK###">###CATEGORY_NAME### ###CATEGORY_STATUS###</a>
                    ###CATEGORY_ACTION_ICON###
                </strong>
                ###SUB_CATEGORY_LIST###
            </li>
            <!-- ###CATEGORIES### end -->
        </ul>
    </div>
    <hr>
    <div id="cat-selectbox1" class="form-group">
        <label for="move_to_cat" class="control-label col-md-3">###ADMIN_LABEL_MOVE_SELECTED_CATEGORIES_TO###</label>
        <div class="col-md-9">
            <div class="form-inline">
                <div class="input-group">
                    ###TARGET_CATEGORIES_TREE###
                    <span class="input-group-btn">
                        <input class="btn btn-success" type="submit" name="move_selected_categories" value="###ADMIN_LABEL_BTN_MOVE###" />
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div id="cat-selectbox2" class="form-group">
    <div class="col-md-9 col-md-offset-3">
        <p class="form-control-static">- ###ADMIN_LABEL_OR### -</p>
        <button class="btn btn-danger" type="submit" name="delete_selected_categories" id="delete_selected_categories" value=""><i class="fa fa-remove"></i> ###ADMIN_LABEL_BTN_DELETE_SELECTED_CATEGORIES###</button>
    </div>
    </div>
</form>
    ###BACK_BUTTON###
</div></div>
<!-- ###TEMPLATE### end -->