<!-- ###TEMPLATE### begin -->
###POST_MESSAGE###
<div class="panel panel-default">
<div class="panel-heading"><h3>###PAGE_HEADER###</h3></div>
<div class="panel-body">
<div class="well">
<form name="search" method="get" action="index.php">
    <input name="id" type="hidden" value="###SHOP_PID###" />
	<input name="type" type="hidden" value="2003" />
    <input name="tx_multishop_pi1[page_section]" type="hidden" value="admin_products_search_and_edit"/>
    <input type="hidden" name="search" class="btn btn-success" value="1" />
            <div id="pricelist_search_form" class="form-inline">
                <div class="form-group">
				<label>###LABEL_SEARCH_KEYWORD###</label>
				<input type="text" class="form-control skeyword" name="keyword" value="###VALUE_SEARCH_KEYWORD###" />
			</div>
			<div class="form-group">
                <label>###LABEL_SEARCH_BY###</label>
                ###SEARCH_BY_SELECTBOX###
			</div>
			<div class="form-group">
                <label>###LABEL_SEARCH_IN###</label>
                ###SEACRH_IN_CATEGORY_TREE_SELECTBOX###
			</div>
			<div class="form-group">
				<label>###LABEL_SEARCH_LIMIT###</label>
				###SEARCH_LIMIT###
			</div>
			<input type="submit" name="submit" class="btn btn-success" value="###LABEL_SEARCH###" />
			</div>
</form>
</div>

<!-- ###RESULTS### begin -->
<form action="###FORM_ACTION_PRICE_UPDATE_URL###" method="post" name="price_update" class="blockSubmitForm">

<div class="table-responsive">
<table width="100%" cellpadding="0" cellspacing="0" id="product_import_table" class="table table-striped table-bordered msadmin_orders_listing">
<thead>
	<tr>
		<th class="cellCheckbox">
			<div class="checkbox checkbox-success checkbox-inline">
				<input type="checkbox" id="check_all_1">
				<label for="check_all_1"></label>
			</div>
		</th>
		<th class="cellID">###LABEL_HEADER_CELL_NUMBER###</th>
		<th class="cellName"><a href="###HEADER_SORTBY_PRODUCT_LINK###">###LABEL_HEADER_PRODUCT###</a></th>
        <th class="cellModel"><a href="###HEADER_SORTBY_MODEL_LINK###">###LABEL_HEADER_MODEL###</a></th>
        <th class="cellStatus"><a href="###HEADER_SORTBY_VISIBLE_LINK###">###LABEL_HEADER_VISIBLE###</a></th>
		<th class="cellCategory"><a href="###HEADER_SORTBY_CATEGORY_LINK###">###LABEL_HEADER_CATEGORY###</a></th>
		<th class="cellPrice"><a href="###HEADER_SORTBY_PRICE_LINK###">###LABEL_HEADER_PRICE###</a></th>
		<th class="cellSpecialPrice"><a href="###HEADER_SORTBY_SPECIAL_PRICE_LINK###">###LABEL_HEADER_SPECIAL_PRICE###</a></th>
		<th class="cellStock"><a href="###HEADER_SORTBY_STOCK_LINK###">###LABEL_HEADER_STOCK###</a></th>
		<th class="cellWeight"><a href="###HEADER_SORTBY_WEIGHT_LINK###">###LABEL_HEADER_WEIGHT###</a></th>
		<th class="cellAction">###LABEL_HEADER_ACTION###</th>
    </tr>
</thead>
<tbody>
    <!-- ###PRODUCTS_ITEM### begin -->
    <tr class="###ROW_TYPE###">
        <td class="cellCheckbox">
        	<div class="checkbox checkbox-success checkbox-inline">
				<input type="checkbox" name="selectedProducts[###CATEGORY_ID0###][]" id="checkbox_###CHECKBOX_COUNTER1###" value="###PID0###">
				<label for="checkbox_###CHECKBOX_COUNTER0###"></label>
			</div>
		</td>
		<td class="cellID">###CELL_NUMBER###</td>
		<td class="cellName">
			<a href="###EDIT_PRODUCT_LINK0###">###PRODUCT_NAME###</a>
			###PRODUCT_CATEGORIES_CRUMBAR###
		</td>
		<td class="cellModel">###PRODUCT_MODEL###</td>
		<td class="cellStatus">
			###PRODUCT_STATUS###
		</td>
		<td class="cellCategory">
			<a href="###LINK_EDIT_CAT###">###CATEGORY_NAME###</a>
		</td>

        <td class="cellPrice">
			<input type="hidden" id="product_tax_id_###PID1###" value="###VALUE_TAX_ID###" />
			<div class="form-group msAttributesField"><div class="input-group"><span class="input-group-addon">###CURRENCY0###</span><input type="text" id="display_name" name="display_name" class="form-control msProductsPriceExcludingVat" value="###VALUE_PRICE_EXCL_VAT###" rel="###PID2###"><span class="input-group-addon">Excl. VAT</span></div></div>
			<div class="form-group msAttributesField"><div class="input-group"><span class="input-group-addon">###CURRENCY1###</span><input type="text" name="display_name" id="display_name" class="form-control msProductsPriceIncludingVat" value="###VALUE_PRICE_INCL_VAT###" rel="###PID3###"><span class="input-group-addon">Incl. VAT</span></div></div>
			<div class="msAttributesField hidden"><input type="hidden" name="up[regular_price][###PID5###]" value="###VALUE_ORIGINAL_PRICE###" size="10px" style="text-align:right;" /></div>
		</td>

        <td class="cellSpecialPrice">
			<div class="form-group msAttributesField"><div class="input-group"><span class="input-group-addon">###CURRENCY2###</span><input type="text" id="display_name" name="display_name" class="form-control msSpecialsPriceExcludingVat" value="###VALUE_SPECIAL_PRICE_EXCL_VAT###" rel="###PID4###"><span class="input-group-addon">Excl. VAT</span></div></div>
			<div class="form-group msAttributesField"><div class="input-group"><span class="input-group-addon">###CURRENCY3###</span><input type="text" name="display_name" id="display_name" class="form-control msSpecialsPriceIncludingVat" value="###VALUE_SPECIAL_PRICE_INCL_VAT###" rel="###PID5###"><span class="input-group-addon">Incl. VAT</span></div></div>
			<div class="msAttributesField hidden"><input type="hidden" name="up[special_price][###PID6###]" value="###VALUE_ORIGINAL_SPECIAL_PRICE###" style="text-align:right;" size="10px" /></div>
		</td>

        <td class="cellStock"><input type="text" name="up[stock][###PID7###]" class="form-control width-auto" value="###VALUE_PRODUCT_QUANTITY###" style="text-align:right;" /></td>
		<td class="cellWeight"><input type="text" name="up[weight][###PID8###]" class="form-control" value="###VALUE_PRODUCT_WEIGHT###" style="text-align:right;" /></td>
		<td class="cellAction">
				<a href="###EDIT_PRODUCT_LINK1###" class="btn btn-primary btn-sm admin_menu_edit" alt="Edit"><i class="fa fa-pencil"></i></a>
				<a href="###PRODUCT_DETAIL_LINK###" class="btn btn-primary btn-sm admin_menu_view" target="_blank"><i class="fa fa-eye"></i></a>
				<a href="###DELETE_PRODUCT_LINK###" class="btn btn-danger btn-sm admin_menu_remove" alt="Remove"><i class="fa fa-remove"></i></a>
        </td>
    </tr>
	<!-- ###PRODUCTS_ITEM### end -->
    </tbody>
	<tfoot>
	<tr>
		<th class="cellCheckbox">&nbsp;</th>
		<th class="cellID">###LABEL_FOOTER_CELL_NUMBER###</th>
		<th class="cellName"><a href="###FOOTER_SORTBY_PRODUCT_LINK###">###LABEL_FOOTER_PRODUCT###</a></th>
        <th class="cellModel"><a href="###FOOTER_SORTBY_MODEL_LINK###">###LABEL_FOOTER_MODEL###</a></th>
        <th class="cellStatus"><a href="###FOOTER_SORTBY_VISIBLE_LINK###">###LABEL_FOOTER_VISIBLE###</a></th>
		<th class="cellCategory"><a href="###FOOTER_SORTBY_CATEGORY_LINK###">###LABEL_FOOTER_CATEGORY###</a></th>
		<th class="cellPrice"><a href="###FOOTER_SORTBY_PRICE_LINK###">###LABEL_FOOTER_PRICE###</a></th>
		<th class="cellSpecialPrice"><a href="###FOOTER_SORTBY_SPECIAL_PRICE_LINK###">###LABEL_FOOTER_SPECIAL_PRICE###</a></th>
		<th class="cellStock"><a href="###FOOTER_SORTBY_STOCK_LINK###">###LABEL_FOOTER_STOCK###</a></th>
		<th class="cellWeight"><a href="###FOOTER_SORTBY_WEIGHT_LINK###">###LABEL_FOOTER_WEIGHT###</a></th>
		<th class="cellAction">###LABEL_FOOTER_ACTION###</th>
	</tr>
	</tfoot>
	</table>
</div>
	<input type="hidden" name="p" value="###PAGE_NUMBER###" /><input type="hidden" name="cid" value="###CATEGORY_ID1###" />
<hr>
		<div class="form-group">
		###INPUT_ACTION_SELECTBOX###
		</div>
		<div class="form-group">
			###INPUT_CATEGORIES_SELECTBOX###
			</div>
			<div class="form-group">
			<input class="btn btn-success" type="submit" name="submit" value="###LABEL_ADMIN_SUBMIT###" />
		</div>
		<input type="button" name="download" class="btn btn-primary" value="###LABEL_DOWNLOAD_AS_EXCEL_FILE###" onclick="###DOWNLOAD_AS_EXCEL_URL###" />
		<input type="submit" class="btn btn-primary" name="submit" value="###LABEL_UPDATE_MODIFIED_PRODUCTS###" />
</form>

<form action="###FORM_UPLOAD_ACTION_URL###" method="post" enctype="multipart/form-data" name="upload" id="upload" class="form-horizontal blockSubmitForm">
	<input type="hidden" name="cid" value="###CATEGORY_ID2###" />
				###PRODUCTS_PAGINATION###
				<hr>
			<div class="form-group">
				<label class="col-md-2 control-label">###LABEL_UPLOAD_EXCEL_FILE###</label>
				<div class="col-md-10">
					<div class="input-group">
						<input type="file" name="datafile" class="form-control"/>
						<span class="input-group-btn">
							<input type="submit" name="Submit" class="btn btn-success" value="###LABEL_ADMIN_UPLOAD###" />
						</span>
					</div>
				</div>
			</div>
			<hr>
			<div class="clearfix">
				<a class="btn btn-success" href="###BACK_TO_CATALOG_LINK###"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-arrow-left fa-stack-1x"></i></span> ###LABEL_BACK_TO_CATALOG###</a>
			</div>
</form>

<script type="text/javascript">
jQuery(document).ready(function($) {
	$('.categories_select2').select2({
		dropdownCssClass: "", // apply css that makes the dropdown taller
		minimumInputLength: 0,
		multiple: false,
        width:'100%',
		//allowClear: true,
		query: function (query) {
		   $.ajax('###AJAX_PRODUCT_CATEGORIES_FULL###', {
			   data: {
				   q: query.term
			   },
			   dataType: "json"
		   }).done(function (data) {
			   //categoriesIdSearchTerm[query.term]=data;
			   query.callback({results: data});
		   });
		},
		initSelection: function (element, callback) {
		   var id = $(element).val();
		   if (id !== "") {
			   $.ajax('###AJAX_PRODUCT_CATEGORIES_GET_VALUE###', {
				   data: {
					   preselected_id: id
				   },
				   dataType: "json"
			   }).done(function (data) {
				   categoriesIdTerm[data.id] = {id: data.id, text: data.text};
				   callback(data);
			   });
		   }
		},
		formatResult: function (data) {
		   if (data.text === undefined) {
			   $.each(data, function (i, val) {
				   return val.text;
			   });
		   } else {
			   return data.text;
		   }
		},
		formatSelection: function (data) {
		   if (data.text === undefined) {
			   return data[0].text;
		   } else {
			   return data.text;
		   }
		},
		escapeMarkup: function (m) {
		   return m;
		}
	});
	$('#check_all_1').click(function () {
		$('input:checkbox').prop('checked', this.checked);
	});
	$('#products_search_action').change(function() {
		if ($(this).val()=='move') {
			$("#target_categories_id").show();
		} else if ($(this).val()=='duplicate') {
			$("#target_categories_id").show();
		} else {
			$("#target_categories_id").hide();
		}
	});
	$("#target_categories_id").hide();
	//
	$(document).on("click", ".update_product_status", function(e) {
		e.preventDefault();
		var products_id=$(this).attr("rel");
		var enabled_label='###LABEL_ADMIN_YES###';
		var disabled_label='###LABEL_ADMIN_NO###';
		var tthis=$(this).parent();
		$.ajax({
			type:   "POST",
			url:    "###AJAX_UPDATE_PRODUCT_STATUS_URL###",
			dataType: 'json',
			data:   "products_id="+products_id,
			success: function(msg) {
                if (msg.html == '0') {
                    var return_string = '<span class="admin_status_red" alt="###ADMIN_LABEL_DISABLE0###"></span><a href="#" class="update_product_status" rel="' + products_id + '"><span class="admin_status_green disabled" alt="###ADMIN_LABEL_ENABLE0###"></span></a>';
                } else if (msg.html==1) {
                    var return_string = '<a href="#" class="update_product_status" rel="' + products_id + '"><span class="admin_status_red disabled" alt="###ADMIN_LABEL_DISABLE1###"></span></a><span class="admin_status_green" alt="###ADMIN_LABEL_ENABLE1###"></span>';
                }
				tthis.html(return_string);
			}
		});
	});
	function productPrice(to_include_vat, o, type) {
		var original_val = $(o).val();
		var current_value = parseFloat($(o).val());
		var tax_id_holder = "#product_tax_id_" + $(o).attr("rel");
		var tax_id = $(tax_id_holder).val();

		if (current_value > 0) {
			if (to_include_vat) {
				$.getJSON("###AJAX_GET_TAX_RULESET_URL0###", { current_price: original_val, to_tax_include: true, tax_group_id: $(tax_id_holder).val() }, function(json) {
    				if (json && json.price_including_tax) {
						var incl_tax_crop = decimalCrop(json.price_including_tax);
						//o.parent().next().first().children().val(incl_tax_crop);
						$(o).parentsUntil('.msAttributesField').parent().next().children().find('input.form-control').val(incl_tax_crop);
					} else {
						//o.parent().next().first().children().val(original_val);
						$(o).parentsUntil('.msAttributesField').parent().next().children().find('input.form-control').val(current_value);
					}
    			});

				// update the hidden excl vat
				//o.parent().next().next().first().children().val(original_val);
				$(o).parentsUntil('msAttributesField').next().next().first().children().val(original_val);

			} else {
				$.getJSON("###AJAX_GET_TAX_RULESET_URL1###", { current_price: original_val, to_tax_include: false, tax_group_id: $(tax_id_holder).val() }, function(json) {
    				if (json && json.price_excluding_tax) {
						var excl_tax_crop = decimalCrop(json.price_excluding_tax);
						// update the excl. vat
						//o.parent().prev().first().children().val(excl_tax_crop);
						// update the hidden excl vat
						//o.parent().next().first().children().val(json.price_excluding_tax);
						//
						// update the excl. vat
						$(o).parentsUntil('.msAttributesField').parent().prev().children().find('input.form-control').val(excl_tax_crop);
						// update the hidden excl vat
						$(o).parentsUntil('.msAttributesField').parent().next().first().children().val(json.price_excluding_tax);

					} else {
						// update the excl. vat
						//o.parent().prev().first().children().val(original_val);
						// update the hidden excl vat
						//o.parent().next().first().children().val(original_val);
						//
						// update the excl. vat
						$(o).parentsUntil('.msAttributesField').parent().prev().children().find('input.form-control').val(original_val);
						// update the hidden excl vat
						$(o).parentsUntil('.msAttributesField').parent().next().first().children().val(original_val);
					}
    			});
			}

		} else {
			if (to_include_vat) {
				// update the incl. vat
				$(o).parentsUntil('.msAttributesField').parent().next().children().find('input').val(0);
				// update the hidden excl vat
				$(o).parentsUntil('.msAttributesField').parent().next().next().first().children().val(0);
			} else {
				// update the excl. vat
				$(o).parentsUntil('.msAttributesField').parent().prev().children().find('input').val(0);
				// update the hidden excl vat
				$(o).parentsUntil('.msAttributesField').parent().next().next().first().children().val(0);
			}
		}
	}

	function decimalCrop(float) {
		var numbers = float.toString().split(".");
		var prime 	= numbers[0];
		if (numbers[1] > 0 && numbers[1] != "undefined") {
			var decimal = new String(numbers[1]);
		} else {
			var decimal = "00";
		}
		var number = prime + "." + decimal.substr(0, 2);
		return number;
	}

	$(".msProductsPriceExcludingVat").keyup(function() {
		productPrice(true, this);
	});

	$(".msProductsPriceIncludingVat").keyup(function() {
		productPrice(false, this);
	});

	$(".msSpecialsPriceExcludingVat").keyup(function() {
		productPrice(true, this);
	});

	$(".msSpecialsPriceIncludingVat").keyup(function() {
		productPrice(false, this);
	});
});
</script>
<!-- ###RESULTS### end -->
<!-- ###NORESULTS### begin -->

###LABEL_NO_RESULT###

			<div class="clearfix">
				<a class="btn btn-success" href="###BACK_TO_CATALOG_LINK###"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-arrow-left fa-stack-1x"></i></span> ###LABEL_BACK_TO_CATALOG###</a>
			</div>

<!-- ###NORESULTS### end -->
</div></div>
<!-- ###TEMPLATE### end -->