<!-- ###TEMPLATE### begin -->
###POST_MESSAGE###
<div class="panel panel-default">
	<div class="panel-heading">
		<h3>###PAGE_HEADER###</h3>
		###INTERFACE_HEADER_BUTTONS###
	</div>
	<div class="panel-body">
		<form name="search" method="get" action="index.php">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="form-inline">
						<div class="form-group">
							<label>###LABEL_SEARCH_KEYWORD###</label>
							<input type="text" class="form-control skeyword" name="keyword" value="###VALUE_SEARCH_KEYWORD###" />
						</div>
						<div class="form-group">
							<label>###LABEL_SEARCH_BY###</label>
							###SEARCH_BY_SELECTBOX###
						</div>
						<div class="form-group">
							<label>###LABEL_SEARCH_IN###</label>
							###SEACRH_IN_CATEGORY_TREE_SELECTBOX###
						</div>
						<input type="submit" name="submit" class="btn btn-success" value="###LABEL_SEARCH###" />
						<a role="button" data-toggle="collapse" href="#msAdminInterfaceSearch" class="advanceSearch">###LABEL_ADVANCED_SEARCH###</a>
					</div>
					<div class="form-group pull-right">
						<label>###LABEL_SEARCH_LIMIT###</label>
						###SEARCH_LIMIT###
					</div>
				</div>
				<div id="msAdminInterfaceSearch" class="panel-collapse collapse###UNFOLD_SEARCH_BOX###">
					<div class="panel-body">
						<div id="search-orders" class="well no-mb">
							<input name="id" type="hidden" value="###SHOP_PID###" />
							<input name="type" type="hidden" value="2003" />
							<input name="tx_multishop_pi1[page_section]" type="hidden" value="admin_products_search_and_edit"/>
							<input type="hidden" name="search" class="btn btn-success" value="1" />
							<div class="row formfield-container-wrapper">
								<div class="col-sm-3 formfield-wrapper">
									<div class="form-group">
										<label for="manufacturers" class="control-label">###LABEL_MANUFACTURERS###</label>
										<input type="hidden" name="manufacturers_id" id="manufacturers_id_s2" value="###VALUE_MANUFACTURERS###" />
									</div>
									<div class="form-group">
										<label for="product_model" class="labelInbetween control-label">###LABEL_PRODUCT_MODEL###</label>
										<input type="hidden" name="product_model" id="product_model_s2" value="###VALUE_PRODUCT_MODEL###" />
									</div>
									<div class="form-group">
										<label for="product_condition" class="labelInbetween control-label">###LABEL_PRODUCT_CONDITION###</label>
										<select name="product_condition" id="product_condition" class="form-control">
											<option value="all" ###CONDITION_ALL_SELECTED###>###LABEL_CONDITION_ALL###</option>
											<option value="new" ###CONDITION_NEW_SELECTED###>###LABEL_CONDITION_NEW###</option>
											<option value="used" ###CONDITION_USED_SELECTED###>###LABEL_CONDITION_USED###</option>
											<option value="refurbished" ###CONDITION_REFURBISHED_SELECTED###>###LABEL_CONDITION_REFURBISHED###</option>
										</select>
									</div>
									<div class="form-group">
										<label for="order_unit" class="control-label">###LABEL_ORDER_UNIT###</label>
										###ORDER_UNIT_SELECTBOX###
									</div>
									<div class="form-group">
										<label class="control-label" for="tax_rate">###LABEL_TAX_RATE###</label>
										###TAX_RATE_SELECTBOX###
									</div>
									###EXTRA_ADVANCED_SEARCH_INPUT_FILTER_COL1###
								</div>
								<div class="col-sm-3 formfield-wrapper">
									<div class="panel panel-default">
										<div class="panel-heading"><label>###LABEL_PRICE###</label></div>
										<div class="panel-body">
											<div class="form-group">
												<div class="form-inline">
													<label class="control-label" for="product_price_from">###LABEL_PRICE_FROM###</label>
													<input class="form-control" type="text" name="product_price_from" id="product_price_from" value="###VALUE_PRICE_FROM###" style="width: 135px">
													<label for="product_date_till" class="labelInbetween">###LABEL_PRICE_TO###</label>
													<input class="form-control" type="text" name="product_price_till" id="product_price_till" value="###VALUE_PRICE_TO###" style="width: 135px">
												</div>
											</div>
											<div class="form-group row">
												<div class="col-md-6">
													<div class="radio radio radio">
														<input type="radio" id="search_by_products_price" name="search_by_product_price" value="products_price" ###FILTER_BY_PRODUCTS_PRICE_CHECKED### >
														<label for="search_by_products_price">###LABEL_FILTER_PRODUCTS_PRICE###</label>
													</div>
												</div>
												<div class="col-md-6">
													<div class="radio radio radio">
														<input type="radio" id="search_by_specials_new_products_price" name="search_by_product_price" value="specials_new_products_price" ###FILTER_BY_PRODUCTS_SPECIALS_PRICE_CHECKED### >
														<label for="search_by_specials_new_products_price">###LABEL_FILTER_SPECIALS_PRICE###</label>
													</div>
												</div>
												<div class="col-md-6">
													<div class="radio radio radio">
														<input type="radio" id="search_by_product_capital_price" name="search_by_product_price" value="product_capital_price" ###FILTER_BY_PRODUCTS_CAPITAL_PRICE_CHECKED### >
														<label for="search_by_product_capital_price">###LABEL_FILTER_PRODUCTS_CAPITAL_PRICE###</label>
													</div>
												</div>
												###MANUFACTURERS_ADVICE_PRICE_RADIO###
											</div>
										</div>
									</div>
									<div class="form-group">
										<label for="product_status" class="control-label">###LABEL_PRODUCT_STATUS###</label>
										###PRODUCT_STATUS_SELECTBOX###
									</div>
									###EXTRA_ADVANCED_SEARCH_INPUT_FILTER_COL2###
								</div>
								<div class="col-sm-3 formfield-wrapper">
									<div class="panel panel-default">
										<div class="panel-heading"><label>###LABEL_DATE###</label></div>
										<div class="panel-body">
											<div class="form-group">
												<div class="form-inline">
													<label class="control-label" for="product_date_from">###LABEL_DATE_FROM###</label>
													<input class="form-control" type="text" id="product_date_from_visual" value="###VALUE_DATE_FROM_VISUAL###" style="width: 135px">
													<label for="product_date_till" class="labelInbetween">###LABEL_DATE_TO###</label>
													<input class="form-control" type="text" id="product_date_till_visual" value="###VALUE_DATE_TO_VISUAL###" style="width: 135px">
													<input type="hidden" name="product_date_from" id="product_date_from" value="###VALUE_DATE_FROM###">
													<input type="hidden" name="product_date_till" id="product_date_till" value="###VALUE_DATE_TO###">
												</div>
											</div>
											<div class="form-group row">
												<div class="col-md-6">
													<div class="radio radio radio">
														<input type="radio" id="search_by_products_date_added" name="search_by_product_date" value="products_date_added" ###FILTER_BY_DATE_ADDED_CHECKED### >
														<label for="search_by_products_date_added">###LABEL_FILTER_DATE_ADDED###</label>
													</div>
												</div>
												<div class="col-md-6">
													<div class="radio radio radio">
														<input type="radio" id="search_by_products_last_modified" name="search_by_product_date" value="products_last_modified" ###FILTER_BY_LAST_MODIFIED_CHECKED### >
														<label for="search_by_products_last_modified">###LABEL_FILTER_LAST_MODIFIED###</label>
													</div>
												</div>
												<div class="col-md-6">
													<div class="radio radio radio">
														<input type="radio" id="search_by_products_date_available" name="search_by_product_date" value="products_date_available" ###FILTER_BY_DATE_AVAILABLE_CHECKED### >
														<label for="search_by_products_date_available">###LABEL_FILTER_DATE_AVAILABLE###</label>
													</div>
												</div>
												<div class="col-md-6">
													<div class="radio radio radio">
														<input type="radio" id="search_by_products_date_visible" name="search_by_product_date" value="products_date_visible" ###FILTER_BY_DATE_VISIBLE_CHECKED### >
														<label for="search_by_products_date_visible">###LABEL_FILTER_DATE_VISIBLE###</label>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label for="product_status" class="control-label">###LABEL_SEARCH_ENGINE_INDEXING###</label>
										###SEARCH_ENGINE_INDEXING_SELECTBOX###
									</div>
									###EXTRA_ADVANCED_SEARCH_INPUT_FILTER_COL3###
								</div>
								<div class="col-sm-3 formfield-wrapper">
									<div class="form-group" id="msProductSearchAndEditFilterStockInput">
										<label class="control-label" for="type_search">###LABEL_STOCK###</label>
										<div class="form-inline">
											<label class="control-label" for="stock_from">###LABEL_STOCK_FROM###</label>
											<input class="form-control" type="text" name="stock_from" id="stock_from" value="###VALUE_STOCK_FROM###" style="width: 135px">
											<label for="stock_till" class="labelInbetween">###LABEL_STOCK_TO###</label>
											<input class="form-control" type="text" name="stock_till" id="stock_till" value="###VALUE_STOCK_TO###" style="width: 135px">
										</div>
									</div>
									<div class="form-group">
										<label for="product_image">###LABEL_PRODUCT_IMAGE###</label>
										<select name="product_image" id="product_image" class="form-control">
											<option value="all" ###PRODUCT_IMAGE_ALL_SELECTED###>###LABEL_PRODUCT_IMAGE_ALL###</option>
											<option value="yes" ###PRODUCT_IMAGE_YES_SELECTED###>###LABEL_PRODUCT_IMAGE_YES###</option>
											<option value="no" ###PRODUCT_IMAGE_NO_SELECTED###>###LABEL_PRODUCT_IMAGE_NO###</option>
										</select>
									</div>
									###FOREIGN_SOURCE_NAME_SEARCH_DROPDOWN###
									<div class="form-group">
										<label for="product_sort">###LABEL_PRODUCT_SORT###</label>
										<select name="product_sort" id="product_sort" class="form-control">
											<option value="products_id_desc" ###PRODUCT_SORT_ID_DESC_SELECTED###>Products ID (desc)</option>
											<option value="products_date_added_desc" ###PRODUCT_SORT_DATE_ADDED_DESC_SELECTED###>Products date added (desc)</option>
											<option value="products_date_added_asc" ###PRODUCT_SORT_DATE_ADDED_ASC_SELECTED###>Products date added (asc)</option>
											<option value="products_date_modified_desc" ###PRODUCT_SORT_DATE_MODIFIED_DESC_SELECTED###>Products date modified (desc)</option>
											<option value="products_date_modified_asc" ###PRODUCT_SORT_DATE_MODIFIED_ASC_SELECTED###>Products date modified (asc)</option>
										</select>
									</div>
									###EXTRA_ADVANCED_SEARCH_INPUT_FILTER_COL4###
								</div>
								###EXTRA_ADVANCED_SEARCH_INPUT###
							</div>
							<div class="row formfield-container-wrapper">
								###EXTRA_ADVANCED_SEARCH_INPUT_NEW_ROW###
							</div>
						</div>
					</div>
					<div class="panel-footer clearfix">
						<button type="button" id="reset-advanced-search" class="btn btn-warning pull-right">###LABEL_RESET_ADVANCED_SEARCH_FILTER###</button>
					</div>
				</div>
			</div>
		</form>
		<!-- ###RESULTS### begin -->
		<form action="###FORM_ACTION_PRICE_UPDATE_URL###" method="post" name="price_update" id="admin_products_search_and_edit_form" class="blockSubmitForm">

			<div class="product-overview-listing">

				<!-- ###PRODUCTS_ITEM### begin -->
				<div class="product-overview-listing-item">
					<div class="cellCheckbox">
						<div class="checkbox checkbox-success checkbox-inline">
							<input type="checkbox" name="selectedProducts[###CATEGORY_ID0###][]" id="checkbox_###CHECKBOX_COUNTER1###" value="###PID0###">
							<label for="checkbox_###CHECKBOX_COUNTER0###"></label>
						</div>
					</div>
					<div class="cellImage"><div class="pol-image text-center">###PRODUCT_IMAGE###</div></div>
					<div class="cellName">
						<div class="pol-product">
							<a href="###EDIT_PRODUCT_LINK0###">###PRODUCT_NAME###</a>
							<div class="cellStatus">
								###PRODUCT_STATUS###
							</div>
						</div>
						<div class="pol-productinfo">
							###PRODUCT_CATEGORIES_CRUMBAR###
							<span class="pol-productmodel">###PRODUCT_MODEL###</span>
						</div>
						<div class="pol-attributes">
							<div class="cellPrice">
								<div class="pol-label">Prijs</div>
								###VALUE_PRICE_EXCL_VAT###
							</div>
							<div class="cellStock">
								<div class="pol-label">Vrije voorraad</div>
								###VALUE_PRODUCT_QUANTITY###
							</div>
							<div class="cellDelivery">
								<div class="pol-label">Levertijd</div>
								###delivery_time###
							</div>
						</div>
						<div class="cellAction">
							<a href="###EDIT_PRODUCT_LINK1###" class="btn btn-primary btn-sm admin_menu_edit" alt="Edit"><i class="fa fa-pencil"></i></a>
							<a href="###PRODUCT_DETAIL_LINK###" class="btn btn-primary btn-sm admin_menu_view" target="_blank"><i class="fa fa-eye"></i></a>
							<a href="###DELETE_PRODUCT_LINK###" class="btn btn-danger btn-sm admin_menu_remove" alt="Remove"><i class="fa fa-remove"></i></a>
						</div>
					</div>
				</div>
				<!-- ###PRODUCTS_ITEM### end -->
			</div>
			<input type="hidden" name="p" value="###PAGE_NUMBER###" /><input type="hidden" name="cid" value="###CATEGORY_ID1###" />
			<hr>
			<div class="form-group">
				###INPUT_ACTION_SELECTBOX###
			</div>
			<div class="form-group">
				###INPUT_CATEGORIES_SELECTBOX###
			</div>
			<div class="form-group">
				<input class="btn btn-success" type="submit" name="submit" value="###LABEL_ADMIN_SUBMIT###" />
			</div>
		</form>
		<!-- ###RESULTS### end -->
		<!-- ###NORESULTS### begin -->

		###LABEL_NO_RESULT###

		<div class="clearfix">
			<a class="btn btn-success msAdminBackToCatalog" href="###BACK_TO_CATALOG_LINK###"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-arrow-left fa-stack-1x"></i></span> ###LABEL_BACK_TO_CATALOG###</a>
		</div>

		<!-- ###NORESULTS### end -->
	</div></div>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $('#product_date_from_visual').datetimepicker({
			 dateFormat: '###DATE_TIME_JS_FORMAT0###',
			 showSecond: true,
			 timeFormat: 'HH:mm:ss',
			 altField: "#product_date_from",
             altFormat: "yy-mm-dd",
             altFieldTimeOnly: false,
             altTimeFormat: "HH:mm:ss"
		 });
        $('#product_date_till_visual').datetimepicker({
			 dateFormat: '###DATE_TIME_JS_FORMAT1###',
			 showSecond: true,
			 timeFormat: 'HH:mm:ss',
			 hour: 23,
			 minute: 59,
			 second: 59,
			 altField: "#product_date_till",
		     altFormat: "yy-mm-dd",
		     altFieldTimeOnly: false,
		     altTimeFormat: "HH:mm:ss"
		 });
         $(document).on("change", "#product_date_from_visual", function(){
            if ($(this).val()=='') {
                $('#product_date_from').val('');
            }
         });
         $(document).on("change", "#product_date_till_visual", function(){
            if ($(this).val()=='') {
                $('#product_date_till').val('');
            }
         });
        $('.categories_select2_top').select2({
			 dropdownCssClass: "", // apply css that makes the dropdown taller
			 minimumInputLength: 0,
			 multiple: false,
			 //allowClear: true,
			 query: function (query) {
				 $.ajax('###AJAX_PRODUCT_CATEGORIES_FULL0###', {
					 data: {
						 q: query.term
					 },
					 dataType: "json"
				 }).done(function (data) {
					 //categoriesIdSearchTerm[query.term]=data;
					 query.callback({results: data});
				 });
			 },
			 initSelection: function (element, callback) {
				 var id = $(element).val();
				 if (id !== "") {
					 $.ajax('###AJAX_PRODUCT_CATEGORIES_GET_VALUE0###', {
						 data: {
							 preselected_id: id
						 },
						 dataType: "json"
					 }).done(function (data) {
						 callback(data);
					 });
				 }
			 },
			 formatResult: function (data) {
				 if (data.text === undefined) {
					 $.each(data, function (i, val) {
						 return val.text;
					 });
				 } else {
					 return data.text;
				 }
			 },
			 formatSelection: function (data) {
				 if (data.text === undefined) {
					 return data[0].text;
				 } else {
					 return data.text;
				 }
			 },
			 escapeMarkup: function (m) {
				 return m;
			 }
		 });
        $('.categories_select2').select2({
			 dropdownCssClass: "", // apply css that makes the dropdown taller
			 minimumInputLength: 0,
			 multiple: false,
			 //allowClear: true,
			 query: function (query) {
				 $.ajax('###AJAX_PRODUCT_CATEGORIES_FULL1###', {
					 data: {
						 q: query.term
					 },
					 dataType: "json"
				 }).done(function (data) {
					 //categoriesIdSearchTerm[query.term]=data;
					 query.callback({results: data});
				 });
			 },
			 initSelection: function (element, callback) {
				 var id = $(element).val();
				 if (id !== "") {
					 $.ajax('###AJAX_PRODUCT_CATEGORIES_GET_VALUE1###', {
						 data: {
							 preselected_id: id
						 },
						 dataType: "json"
					 }).done(function (data) {
						 callback(data);
					 });
				 }
			 },
			 formatResult: function (data) {
				 if (data.text === undefined) {
					 $.each(data, function (i, val) {
						 return val.text;
					 });
				 } else {
					 return data.text;
				 }
			 },
			 formatSelection: function (data) {
				 if (data.text === undefined) {
					 return data[0].text;
				 } else {
					 return data.text;
				 }
			 },
			 escapeMarkup: function (m) {
				 return m;
			 }
		 });
        $('#check_all_1').click(function () {
            $('input:checkbox').prop('checked', this.checked);
        });
        $('#products_search_action').change(function() {
            if ($(this).val()=='move') {
                $("#target_categories_id").show();
            } else if ($(this).val()=='duplicate') {
                $("#target_categories_id").show();
            } else {
                $("#target_categories_id").hide();
            }
        });
        $("#target_categories_id").hide();
        //
        $(document).on("click", ".update_product_status", function(e) {
            e.preventDefault();
            var products_id=$(this).attr("rel");
            var enabled_label='###LABEL_ADMIN_YES###';
            var disabled_label='###LABEL_ADMIN_NO###';
            var tthis=$(this).parent();
            $.ajax({
                       type:   "POST",
                       url:    "###AJAX_UPDATE_PRODUCT_STATUS_URL###",
                       dataType: 'json',
                       data:   "products_id="+products_id,
                       success: function(msg) {
                           if (msg.html == '0') {
                               var return_string = '<span class="admin_status_red" alt="###ADMIN_LABEL_DISABLE0###"></span><a href="#" class="update_product_status" rel="' + products_id + '"><span class="admin_status_green disabled" alt="###ADMIN_LABEL_ENABLE0###"></span></a>';
                           } else if (msg.html==1) {
                               var return_string = '<a href="#" class="update_product_status" rel="' + products_id + '"><span class="admin_status_red disabled" alt="###ADMIN_LABEL_DISABLE1###"></span></a><span class="admin_status_green" alt="###ADMIN_LABEL_ENABLE1###"></span>';
                           }
                           tthis.html(return_string);
                       }
                   });
        });
        $(document).on("keyup", ".msProductsPriceExcludingVat", function(e) {
            if (e.keyCode!=9) {
                priceEditRealtimeCalc(true, this);
            }
        });
        $(document).on("keyup", ".msProductsPriceIncludingVat", function(e) {
            if (e.keyCode!=9) {
                priceEditRealtimeCalc(false, this);
            }
        });
        $(document).on("keyup", ".msSpecialsPriceExcludingVat", function(e) {
            if (e.keyCode!=9) {
                priceEditRealtimeCalc(true, this);
            }
        });
        $(document).on("keyup", ".msSpecialsPriceIncludingVat", function(e) {
            if (e.keyCode!=9) {
                priceEditRealtimeCalc(false, this);
            }
        });
        $(document).on("keyup", ".msCapitalPriceExcludingVat", function(e) {
            if (e.keyCode!=9) {
                priceEditRealtimeCalc(true, this);
            }
        });
        $(document).on("keyup", ".msCapitalPriceIncludingVat", function(e) {
            if (e.keyCode!=9) {
                priceEditRealtimeCalc(false, this);
            }
        });
    });
</script>

<!-- ###TEMPLATE### end -->
