<!-- ###TEMPLATE### begin -->
<script type="text/javascript"> 
jQuery(document).ready(function($) {
	jQuery(".tab_content").hide();
	jQuery("ul.tabs li:first").addClass("active").show();
	jQuery(".tab_content:first").show();
	jQuery("ul.tabs li").click(function() {
		jQuery("ul.tabs li").removeClass("active");
		jQuery(this).addClass("active");
		jQuery(".tab_content").hide();
		var activeTab = jQuery(this).find("a").attr("href");
		jQuery(activeTab).fadeIn(0);
		return false;
	});
             		
    jQuery('#order_date_from').datetimepicker({
    	dateFormat: 'dd/mm/yy',
        showSecond: true,
		timeFormat: 'hh:mm:ss'        		
    });
             		
	jQuery('#order_date_till').datetimepicker({
    	dateFormat: 'dd/mm/yy',
        showSecond: true,
		timeFormat: 'hh:mm:ss'
    });
 
});
</script>
<div id="tab-container">
    <ul class="tabs" id="admin_orders">
    	<li class="active"><a href="#CmsListing">CMS</a></li>
    </ul>
    <div class="tab_container">
		<form id="form1" name="form1" method="get" action="index.php">
			<div id="search-orders">
				<table width="100%">
					<tr>
						<td nowrap valign="top">				
							<input name="tx_multishop_pi1[do_search]" type="hidden" value="1" />
							<input name="id" type="hidden" value="###SHOP_PID###" />
							<input name="type" type="hidden" value="2003" />
							<input name="tx_multishop_pi1[page_section]" type="hidden" value="admin_cms" />
							<div class="formfield-container-wrapper">
								<div class="formfield-wrapper">
									<label>###LABEL_KEYWORD###</label><input type="text" name="tx_multishop_pi1[keyword]" id="skeyword" value="###VALUE_KEYWORD###" />					
									<input type="submit" name="Search" class="msadmin_button" value="###LABEL_SEARCH###" />
								</div>
							</div>
						</td>
						<td nowrap valign="top" align="right" class="searchLimit">
							<div style="float:right;">			
								###INPUT_LIMIT_RESULT_SELECTBOX###
							</div>
						</td>			
					</tr>
				</table>
			</div>
		</form>
        <div style="display: block;" id="CmsListing" class="tab_content">
			<!-- ###RESULTS### begin -->
			<div class="msHorizontalOverflowWrapper">
			<table class="msZebraTable msadmin_orders_listing" id="product_import_table">
				<tr>
					<th width="50" nowrap><a href="###HEADER_SORTBY_LINK_ID###">###LABEL_HEADER_CMS_ID###</a></th>
					<th><a href="###HEADER_SORTBY_LINK_TITLE###">###LABEL_HEADER_CMS_TITLE###</a></th>
					<th width="150" nowrap><a href="###HEADER_SORTBY_LINK_TYPE###">Type</a></th>
					<th width="100" nowrap><a href="###HEADER_SORTBY_LINK_DATE_ADDED###">###LABEL_HEADER_CMS_DATE_ADDED###</a></th>
					<th width="50" nowrap>###LABEL_HEADER_STATUS###</th>
					<th>###LABEL_HEADER_CMS_ACTION###</th>
				</tr>
				<tbody id="cms_group_###CMS_GROUP_ID###">
				<!-- ###CMS_LIST### begin --> 
				<tr class="###ROW_TYPE###">
					<td align="right" nowrap>
						###CMS_ID###
					</td>
					<td>
						###CMS_TITLE###
					</td>		
					<td nowrap>
						###CMS_TYPE###
					</td>	
					<td align="right" nowrap>
						###CMS_DATE_CREATED###
					</td>								
					<td width="60" align="center">
						###CMS_STATUS###
					</td>
					<td width="30" align="center">
						###CMS_REMOVE_BUTTON###
					</td>
				</tr>
				<!-- ###CMS_LIST### end --> 	
				<tr>
					<th width="50" nowrap><a href="###FOOTER_SORTBY_LINK_ID###">###LABEL_FOOTER_CMS_ID###</a></th>
					<th><a href="###FOOTER_SORTBY_LINK_TITLE###">###LABEL_FOOTER_CMS_TITLE###</a></th>
					<th width="150" nowrap><a href="###FOOTER_SORTBY_LINK_TYPE###">Type</a></th>
					<th width="100" nowrap><a href="###FOOTER_SORTBY_LINK_DATE_ADDED###">###LABEL_FOOTER_CMS_DATE_ADDED###</a></th>
					<th width="50" nowrap>###LABEL_FOOTER_STATUS###</th>
					<th>###LABEL_FOOTER_CMS_ACTION###</th>
				</tr>
			</table>
			</div>
			<!-- ###RESULTS### end -->
			
			<!-- ###NORESULTS### begin -->
			###LABEL_NO_RESULTS###
			<!-- ###NORESULTS### end -->
				
        </div>
    </div>
</div>
<!-- ###TEMPLATE### end -->