<!-- ###TEMPLATE### begin -->
<table class="table table-striped table-bordered msZebraTable msadmin_border" id="admin_modules_listing">
    <tr>
        <th width="25">###LABEL_HEADER_ID###</th>
        <th nowrap>###LABEL_HEADER_NAME###</th>
        ###LABEL_HEADER_DISCOUNT###
        <th width="50">###LABEL_HEADER_STATUS###</th>
        <th width="50">###LABEL_HEADER_DELETE###</th>
    </tr>
    <!-- ###GROUPS### begin -->
    <tr class="###ROW_TYPE###">
        <td align="right">###VALUE_GROUP_ID###</td>
        <td nowrap><a href="###VALUE_GROUP_EDIT_LINK###">###VALUE_GROUP_NAME###</a></td>
        ###VALUE_GROUP_DISCOUNT###
        <td align="center">###VALUE_GROUP_STATUS###</td>
        <td align="center"><a href="###VALUE_GROUP_DELETE_LINK###" class="admin_menu_remove" onclick="###GROUP_ONCLICK_DELETE_CONFIRM_JS###" alt="###ADMIN_LABEL_ALT_REMOVE###"><i class="fa fa-trash-o fa-lg"></i></a></td>
    </tr>
    <!-- ###GROUPS### end -->
</table>
<!-- ###TEMPLATE### end -->