<!-- ###TEMPLATE### begin -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style>
      @page { margin:0; margin-top:190px; margin-bottom:110px; }
      body { font-size:14px; line-height:1.2; font-family:arial, helvetica, sans-serif; }
      table { border-collapse:collapse; }
      #customerDetailsHeader *, .cellData span, .cellData strong { vertical-align:top; }
      .order_total span, .order_total strong { vertical-align:bottom; }
      li, p, th, td, strong { font-size:14px; line-height:1.2; font-family:arial, helvetica, sans-serif; }
      td { padding:0 5px; }
      .valign_top { vertical-align:top; }
      hr { border:0; height:1px; background:#333; }
      #packingslip_header { position:fixed; top:-136px; left:40px; }
      #packingslip_header img { max-width:150px; }
      #packingslip_header_text { position:fixed; right:40px; top:-140px; }
      #packingslip_footer { position:fixed; left:0; right:0; bottom:-110px; height:110px; background:#fff; color:#707173; text-align:center; padding:30px 60px 0; }
      #packingslip_footer p { font-size:12px; margin-bottom:20px; }
      #packingslip_footer td { line-height:17px; vertical-align:top; }
      #packingslip_footer strong { color:#e42627; }
      #packingslip_content { margin:0 40px; }
      
      table#customerDetailsHeader { padding-bottom:50px; }
      table#customerDetailsHeader td,
      table#customerDetailsHeader td table td { padding:0; }
      
        table#certificateDetailsHeader { padding-bottom:50px; }
        table#certificateDetailsHeader td,
        table#certificateDetailsHeader td table td { padding:0; }
      
      .vetwebinar-address { text-align:right; color:#707173; }
      
      h2.page-heading { font-size:34px; line-height:34px; color:#e42627; margin:0 0 10px; }
      .cell_qty, .cell_products_vat, .cell_products_normal_price, .cell_products_final_price { white-space:nowrap; width: 50px }
      
      #orderDetailsPDFPackingslip { border-collapse:collapse; vertical-align:top; }
      #orderDetailsPDFPackingslip tr.invoiceTableHeading { color:#000; white-space:nowrap; }
      #orderDetailsPDFPackingslip tr.invoiceTableHeading th { border-bottom:1px solid #000; }
      #orderDetailsPDFPackingslip tr.cellData td { border-bottom:1px solid #cdcdcd; }
      #orderDetailsPDFPackingslip th,
      #orderDetailsPDFPackingslip td { padding:7px 5px; vertical-align:top; }
      #orderDetailsPDFPackingslip td { border:none; }
      #orderDetailsPDFPackingslip td.order_total_wrapper { padding:0; }
      #orderDetailsPDFPackingslip td.order_total_wrapper table td,
      #orderDetailsPDFPackingslip tr.hrWrapper td { border-bottom:none; }
      #orderDetailsPDFPackingslip tr td td { padding:0; }
      #orderDetailsPDFPackingslip td.order_total_wrapper { padding:0;}
      #orderDetailsPDFPackingslip td.order_total_wrapper table td { padding:0; }
      .grandTotalLabel { }
      .grandTotalValue { width:70px;}
      ul { margin:0 0 10px; padding:0; }
      .products_attributes ul { margin:0 0 0 18px; }
      .products_attributes br { display:none; }
    </style>
</head>
<body>
<div id="packingslip_header">###PACKINGSLIP_HEADER_BACKGROUND_IMAGE###</div>
<div id="packingslip_header_text">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" id="certificateDetailsHeader">
        <tr>
            <td width="50%" valign="top" class="vetwebinar-logo">
                
            </td>
            <td width="50%" valign="top" class="vetwebinar-address">
                vet-webinar OG<br/>
                Argentinierstrasse 43, A1040 Wien<br/>
                www.vet-webinar.com
            </td>
        </tr>
    </table>
</div>
<div id="packingslip_footer">
Commercial register number: FN 386715z, Register court: Handelsgericht Wien<br>
UID: ATU67678809 | IBAN: AT69 3310 6000 0001 9307 | BIC: RLBBAT2E106
</div>
<div id="packingslip_content">
    <table width="100%" border="0" id="customerDetailsHeader">
        <tr>
            <td width="60%" valign="top">
                <table width="100%" border="0">
                    <tr>
                        <td>
                            ###DELIVERY_COMPANY###
                            <strong>###DELIVERY_NAME###</strong><br/>
                            <strong>###DELIVERY_ADDRESS###</strong><br/>
                            <strong>###DELIVERY_ZIP###&nbsp;&nbsp;###DELIVERY_CITY###</strong><br/>
                            <strong>###DELIVERY_COUNTRY###</strong><br/><br/>
                        </td>
                    </tr>
                </table>
            </td>
            <td width="40%" valign="top">
                <h2 class="page-heading">###LABEL_PACKINGSLIP_HEADER###</h2>
                <table width="100%" border="0">
                    <tr>
                        <td width="130px"><strong>###LABEL_CUSTOMER_ID###</strong></td>
                        <td>###CUSTOMER_ID###</td>
                    </tr>
                    <tr>
                        <td><strong>###LABEL_ORDER_ID###</strong></td>
                        <td>###ORDER_ID###</td>
                    </tr>
                    <tr>
                        <td><strong>###LABEL_ORDER_DATE###</strong></td>
                        <td>###ORDER_DATE###</td>
                    </tr>
                    <tr>
                        <td><strong>###LABEL_PACKINGSLIP_SHIPPING_METHOD###</strong></td>
                        <td>###PACKINGSLIP_SHIPPING_METHOD###</td>
                    </tr>
                    <tr>
                        <td><strong>###LABEL_PACKINGSLIP_PAYMENT_METHOD###</strong></td>
                        <td>###PACKINGSLIP_PAYMENT_METHOD###</td>
                    </tr>
                    <tr>
                        <td><strong>###LABEL_YOUR_VAT_ID###</strong></td>
                        <td>###YOUR_VAT_ID###</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    ###PACKINGSLIP_CONTENT_HEADER_MESSAGE###
    ###PACKINGSLIP_ORDER_DETAILS###
    ###PACKINGSLIP_CONTENT_FOOTER_MESSAGE###
</div>
</body>
</html>
<!-- ###TEMPLATE### end -->