<!-- ###TEMPLATE### begin -->
###ADMIN_CATEGORIES_HEADER###
<form name="movecats" action="###FORM_ACTION_LINK###" method="post">
    <div id="sidetree">
        <div class="treeheader">&nbsp;</div>
        <div id="sidetreecontrol">
            <a href="#">###ADMIN_LABEL_COLLAPSE_ALL###</a> | <a href="#">###ADMIN_LABEL_EXPAND_ALL###</a>
        </div>
        <ul id="msAdmin_category_listing_ul" class="master_categories_ul">
            <!-- ###CATEGORIES### begin -->
            <li class="item_###COUNTER### ###EXTRA_CLASS### categories_sorting" id="categories_id_###CATEGORY_ID###">
            <input type="checkbox" class="movecats" name="movecats[]" value="###CATEGORY_ID###" id="cb-cat_###CATEGORY_ID###" rel="###CATEGORY_ID###">&nbsp;
                <strong>
                    <a href="###CATEGORY_EDIT_LINK###">###CATEGORY_NAME### ###CATEGORY_STATUS###</a>
                    ###CATEGORY_ACTION_ICON###
                </strong>
                ###SUB_CATEGORY_LIST###
            </li>
            <!-- ###CATEGORIES### end -->
        </ul>
    </div>
    <div id="cat-selectbox">
        <label for="move_to_cat">###ADMIN_LABEL_MOVE_SELECTED_CATEGORIES_TO###</label>
        ###TARGET_CATEGORIES_TREE###
        <input type="submit" name="move_selected_categories" value="###ADMIN_LABEL_BTN_MOVE###"/>
    </div>
    <div id="cat-selectbox">
        <br/>
        <br/>
        <pre>- ###ADMIN_LABEL_OR### -</pre>
        <br/>
        <input type="submit" name="delete_selected_categories" id="delete_selected_categories" value="###ADMIN_LABEL_BTN_DELETE_SELECTED_CATEGORIES###"/>
    </div>
</form>
<!-- ###TEMPLATE### end -->