<!-- ###TEMPLATE### begin -->
<script type="text/javascript">
###JS_FUNCTIONS_EXTRA###
jQuery(document).ready(function ($) {
    $(".tab_content").hide();
    $("ul.tabs li:first").addClass("active").show();
    $(".tab_content:first").show();
    $("ul.tabs li").click(function () {
        $("ul.tabs li").removeClass("active");
        $(this).addClass("active");
        $(".tab_content").hide();
        var activeTab = $(this).find("a").attr("href");
        $(activeTab).fadeIn(0);
        return false;
    });
    $(document).on('click', ".delete_categories_images", function (e) {
        e.preventDefault();
        var img_filename = $(this).attr("rel");
        href = "###AJAX_URL_DELETE_CATEGORIES_IMAGE###";
        if (confirm('###LABEL_ARE_YOU_SURE###?')) {
            jQuery.ajax({
                type: "POST",
                url: href,
                data: "cid=###DELETE_IMAGES_CATEGORIES_ID###&image_filename=" + img_filename,
                dataType: "json",
                success: function (r) {
                    //do something with the sorted data
                    var image_action_div_id = ".image_action";
                    var ajax_categories_image_id = "#ajax_categories_image";
                    $(image_action_div_id).html("");
                    $(ajax_categories_image_id).val("");
                }
            });
        }
    });
    ###JS_TRIGGERS_EXTRA###
});
</script>
###HEADING_PAGE###
<form class="admin_category_edit blockSubmitForm" name="admin_categories_edit_###CATEGORIES_ID0###" id="admin_categories_edit_###CATEGORIES_ID1###" method="post" action="###FORM_POST_URL###" enctype="multipart/form-data">
    <input type="hidden" name="tx_multishop_pi1[referrer]" id="msAdminReferrer" value="###VALUE_REFERRER###">
    <div id="tab-container" class="msadminVerticalTabs">
        <ul class="tabs" id="admin_orders">
            <li class="active" style=""><a href="#category_main">###ADMIN_LABEL_TABS_DETAILS###</a></li>
            <li class=""><a href="#category_content">###ADMIN_LABEL_TABS_CONTENT###</a></li>
            <li class=""><a href="#category_meta">###ADMIN_LABEL_TABS_META###</a></li>
            <li class=""><a href="#category_advanced">###ADMIN_LABEL_TABS_ADVANCED###</a></li>
            ###LABEL_EXTRA_PLUGIN_TABS###
        </ul>
        <div class="tab_container">
            <div style="display: block;" id="category_main" class="tab_content">
                <div style="float:right;">
                    <div class="save_block">
                        <a href="###LINK_BUTTON_CANCEL###" class="msBackendButton backState arrowLeft arrowPosLeft"><span>###LABEL_BUTTON_CANCEL###</span></a>
                        <span class="msBackendButton continueState arrowRight arrowPosLeft"><input name="Submit" type="submit" value="###LABEL_BUTTON_SAVE###" /></span>
                    </div>
                </div>
                ###INPUT_CATEGORY_NAME_BLOCK###
                ###SELECTBOX_CATEGORY_TREE###
                ###LINK_INPUT_CATEGORY_TREE###
                ###LINK_TO_CATEGORIES###
                <div class="account-field" id="msEditCategoryInputVisibility">
                    <label for="status">###LABEL_VISIBILITY###</label>
                    <input name="status" type="radio" value="1" ###CATEGORY_STATUS_YES### /> ###LABEL_STATUS_YES### <input name="status" type="radio" value="0" ###CATEGORY_STATUS_NO### /> ###LABEL_STATUS_NO###
                </div>
                <div class="account-field" id="msEditCategoryInputHideInMenu">
                    <label for="hide_in_menu">###LABEL_HIDE_IN_MENU###</label>
                    <input name="hide_in_menu" id="hide_in_menu" type="checkbox" value="1" ###CATEGORY_HIDE_IN_MENU_CHECKED### />
                </div>
                <div class="account-field" id="msEditCategoryInputExcludeFromFeeds">
                    <label>###LABEL_EXCLUDE_FROM_FEED###</label>
                    ###FEEDS_LIST###
                </div>
                <div class="account-field" id="msEditCategoryInputExcludeStockFromFeeds">
                    <label>###LABEL_EXCLUDE_STOCK_FROM_FEED###</label>
                    ###STOCK_FEEDS_LIST###
                </div>
                <div class="account-field" id="msEditCategoryInputImage">
                    <label for="categories_image">###LABEL_IMAGE###</label>
                    <div id="categories_image">
                        <noscript>
                            <input name="categories_image" type="file" />
                        </noscript>
                    </div>
                    <input name="ajax_categories_image" id="ajax_categories_image" type="hidden" value="" />
                    ###CATEGORIES_IMAGE###
                </div>
                <script type="text/javascript">
                    jQuery(document).ready(function ($) {
                        var categories_name = $("#categories_name_0").val();
                        var uploader = new qq.FileUploader({
                            element: document.getElementById('categories_image'),
                            action: '###UPLOAD_IMAGE_URL###',
                            params: {
                                categories_name: categories_name,
                                file_type: 'categories_image'
                            },
                            template: '<div class="qq-uploader">' +
                                    '<div class="qq-upload-drop-area"><span>###ADMIN_LABEL_DROP_FILES_HERE_TO_UPLOAD###</span></div>' +
                                    '<div class="qq-upload-button">###LABEL_CHOOSE_IMAGE###</div>' +
                                    '<ul class="qq-upload-list" id="qq-upload-list-ul"></ul>' +
                                    '</div>',
                            onComplete: function (id, fileName, responseJSON) {
                                var filenameServer = responseJSON['filename'];
                                $("#ajax_categories_image").val(filenameServer);
                                ###CATEGORIES_IMAGE_CROP_JS###
                            },
                            debug: false
                        });
                        $('#categories_name_0').change(function () {
                            var categories_name = $("#categories_name_0").val();
                            uploader.setParams({
                                categories_name: categories_name,
                                file_type: 'categories_image'
                            });
                        });
                    });
                </script>
                <div class="account-field" id="msEditCategoryInputExternalUrl">
                    <label for="categories_url">###LABEL_CATEGORIES_EXTERNAL_URL###</label>
                    <input type="text" class="text" name="categories_url" id="categories_url" value="###VALUE_CATEGORIES_EXTERNAL_URL###">
                </div>
                ###EXTRA_DETAILS_FIELDS###
            </div>
            <div style="display: block;" id="category_content" class="tab_content">
                ###CATEGORIES_CONTENT_BLOCK###
            </div>
            <div style="display: block;" id="category_meta" class="tab_content">
                ###CATEGORIES_META_BLOCK###
            </div>
            <div style="display: block;" id="category_advanced" class="tab_content">
                <div class="account-field" id="msEditCategoryInputCustomSettings">
                    <label for="custom_settings">###LABEL_ADVANCED_SETTINGS###</label>
                    <textarea name="custom_settings" class="expand20-200" cols="" rows="15">###VALUE_ADVANCED_SETTINGS###</textarea>
                </div>
            </div>
            ###CONTENT_EXTRA_PLUGIN_TABS###
            <div class="save_block">
                <a href="###LINK_BUTTON_CANCEL_FOOTER###" class="msBackendButton backState arrowLeft arrowPosLeft"><span>###LABEL_BUTTON_CANCEL_FOOTER###</span></a>
                <span class="msBackendButton continueState arrowRight arrowPosLeft"><input name="Submit" type="submit" value="###LABEL_BUTTON_SAVE_FOOTER###" /></span>
            </div>
        </div>
    </div>
    <input name="cid" type="hidden" value="###CATEGORIES_ID_FOOTER0###" />
    <input name="action" type="hidden" value="###PAGE_ACTION###" />
</form>
<div id="ajax_message_###CATEGORIES_ID_FOOTER1###" class="ajax_message"></div>
<!-- ###TEMPLATE### end -->