<!-- ###TEMPLATE### begin -->
<form class="admin_manufacturers_edit blockSubmitForm" name="admin_manufacturers_edit_###MANUFACTURER_ID###" id="admin_manufacturers_edit_###MANUFACTURER_ID###" method="post" action="###MANUFACTURER_EDIT_FORM_URL###" enctype="multipart/form-data">
    <input type="hidden" name="tx_multishop_pi1[referrer]" id="msAdminReferrer" value="###VALUE_REFERRER###">
    <input name="action" type="hidden" value="###VALUE_FORM_MANUFACTURER_ACTION_URL###"/>

    <div class="main-heading"><h1>###MANUFACTURER_FORM_HEADING###</h1></div>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            jQuery(".tab_content").hide();
            jQuery("ul.tabs li:first").addClass("active").show();
            jQuery(".tab_content:first").show();
            jQuery("ul.tabs li").click(function () {
                jQuery("ul.tabs li").removeClass("active");
                jQuery(this).addClass("active");
                jQuery(".tab_content").hide();
                var activeTab = jQuery(this).find("a").attr("href");
                jQuery(activeTab).fadeIn(0);
                return false;
            });
        });
    </script>
    <div id="tab-container" class="msadminVerticalTabs">
        <ul class="tabs" id="admin_orders">
            <li class="active"><a href="#category_main">###ADMIN_LABEL_TABS_DETAILS###</a></li>
            <li><a href="#manufacturer_content">###ADMIN_LABEL_TABS_CONTENT###</a></li>
            <li><a href="#manufacturer_meta">###ADMIN_LABEL_TABS_META###</a></li>
        </ul>
        <div class="tab_container">
            <div style="display: block;" id="category_main" class="tab_content">
                <div class="account-field" id="msEditManufacturerInputName">
                    <label for="manufacturers_name">###LABEL_MANUFACTURER_NAME###</label>
                    <input spellcheck="true" type="text" class="text" name="manufacturers_name" id="manufacturers_name" value="###VALUE_MANUFACTURER_NAME###">
                </div>
                <div class="account-field" id="msEditManufacturerInputImage">
                    <label for="manufacturers_image">###LABEL_MANUFACTURER_IMAGE###</label>

                    <div id="manufacturers_image">
                        <noscript>
                            <input name="manufacturers_image" type="file"/>
                        </noscript>
                    </div>
                    <input name="ajax_manufacturers_image" id="ajax_manufacturers_image" type="hidden" value=""/>
                    <!-- ###MANUFACTURER_IMAGES### begin -->
                    <img src="###MANUFACTURER_IMAGES_SRC###">
                    <a href="###MANUFACTURER_IMAGES_DELETE_LINK###" onclick="return confirm('###ADMIN_LABEL_JS_ARE_YOU_SURE###')"><img src="###FULL_HTTP_URL###templates/images/icons/delete2.png" border="0" alt="delete image"></a>
                    <!-- ###MANUFACTURER_IMAGES### end -->
                </div>
                <script type="text/javascript">
                    jQuery(document).ready(function ($) {
                        var manufacturers_name = $("#manufacturers_name").val();
                        var uploader = new qq.FileUploader({
                            element: document.getElementById('manufacturers_image'),
                            action: '###MANUFACTURER_IMAGES_UPLOAD_URL###',
                            params: {
                                manufacturers_name: manufacturers_name,
                                file_type: 'manufacturers_images'
                            },
                            template: '<div class="qq-uploader">' +
                                    '<div class="qq-upload-drop-area"><span>###ADMIN_LABEL_DROP_FILES_HERE_TO_UPLOAD###</span></div>' +
                                    '<div class="qq-upload-button">###MANUFACTURER_IMAGES_LABEL_CHOOSE_IMAGE###</div>' +
                                    '<ul class="qq-upload-list"></ul>' +
                                    '</div>',
                            onComplete: function (id, fileName, responseJSON) {
                                var filenameServer = responseJSON['filename'];
                                $("#ajax_manufacturers_image").val(filenameServer);
                            },
                            debug: false
                        });
                        $('#manufacturers_name').change(function () {
                            var manufacturers_name = $("#manufacturers_name").val();
                            uploader.setParams({
                                manufacturers_name: manufacturers_name,
                                file_type: 'manufacturers_images'
                            });
                        });
                    });
                </script>
                <div class="account-field" id="msEditManufacturerInputVisibility">
                    <label for="status">###LABEL_MANUFACTURER_VISIBLE###</label>
                    <input name="status" type="radio" value="1" ###MANUFACTURER_VISIBLE_CHECKED### /> ###LABEL_MANUFACTURER_ADMIN_YES### <input name="status" type="radio" value="0" ###MANUFACTURER_NOT_VISIBLE_CHECKED### />
                    ###LABEL_MANUFACTURER_ADMIN_NO###
                </div>
            </div>
            <div style="display: block;" id="manufacturer_content" class="tab_content">
                <!-- ###MANUFACTURERS_CONTENT### begin -->
                <div class="account-field" id="msEditManufacturerInputDesc_###LANGUAGE_UID###">
                    <label>###LABEL_MANUFACTURER_LANGUAGE###</label>
                    ###MANUFACTURER_CONTENT_FLAG###
                    ###MANUFACTURER_CONTENT_TITLE###
                </div>
                <div class="account-field" id="msEditManufacturerInputShortDesc_###LANGUAGE_UID###">
                    <label for="content">###LABEL_MANUFACTURER_SHORT_DESCRIPTION###</label>
                    <textarea spellcheck="true" name="shortdescription[###LANGUAGE_UID###]" id="shortdescription[###LANGUAGE_UID###]" class="mceEditor" rows="4">###VALUE_MANUFACTURER_SHORT_DESCRIPTION###</textarea>
                </div>
                <div class="account-field" id="msEditManufacturerInputContent_###LANGUAGE_UID###">
                    <label for="content">###LABEL_MANUFACTURER_CONTENT###</label>
                    <textarea spellcheck="true" name="content[###LANGUAGE_UID###]" id="content[###LANGUAGE_UID###]" class="mceEditor" rows="4">###VALUE_MANUFACTURER_CONTENT###</textarea>
                </div>
                <div class="account-field" id="msEditManufacturerInputContent_###LANGUAGE_UID###">
                    <label for="content_footer">###LABEL_MANUFACTURER_CONTENT_FOOTER###</label>
                    <textarea spellcheck="true" name="content_footer[###LANGUAGE_UID###]" id="content_footer[###LANGUAGE_UID###]" class="mceEditor" rows="4">###VALUE_MANUFACTURER_CONTENT_FOOTER###</textarea>
                </div>
                <!-- ###MANUFACTURERS_CONTENT### end -->
            </div>

            <div style="display: block;" id="manufacturer_meta" class="tab_content">
                <!-- ###MANUFACTURERS_META### begin -->
                <div class="account-field" id="msEditManufacturerInputMeta_###LANGUAGE_UID###">
                    <label>###LABEL_MANUFACTURER_META_LANGUAGE###</label>
                    ###MANUFACTURER_META_FLAG###
                    ###MANUFACTURER_META_TITLE###
                </div>
                <div class="account-field" id="msEditManufacturerInputMetaTitle_###LANGUAGE_UID###">
                    <label for="meta_title">###ADMIN_LABEL_INPUT_META_TITLE###</label>
                    <input type="text" class="text" name="meta_title[###LANGUAGE_UID###]" id="meta_title[###LANGUAGE_UID###]" value="###VALUE_MANUFACTURER_META_TITLE###">
                </div>
                <div class="account-field" id="msEditManufacturerInputMetaKeywords_###LANGUAGE_UID###">
                    <label for="meta_keywords">###ADMIN_LABEL_INPUT_META_KEYWORDS###</label>
                    <input type="text" class="text" name="meta_keywords[###LANGUAGE_UID###]" id="meta_keywords[###LANGUAGE_UID###]" value="###VALUE_MANUFACTURER_META_KEYWORDS###">
                </div>
                <div class="account-field" id="msEditManufacturerInputMetaDesc_###LANGUAGE_UID###">
                    <label for="meta_description">###ADMIN_LABEL_INPUT_META_DESCRIPTION###</label>
                    <input type="text" class="text" name="meta_description[###LANGUAGE_UID###]" id="meta_description[###LANGUAGE_UID###]" value="###VALUE_MANUFACTURER_META_DESCRIPTION###">
                </div>
                <!-- ###MANUFACTURERS_META### end -->
            </div>

            <div class="save_block">
                <input name="cancel" type="button" value="###LABEL_BUTTON_ADMIN_CANCEL###" onClick="parent.window.hs.close();" class="submit"/>
                <input name="Submit" type="submit" value="###LABEL_BUTTON_ADMIN_SAVE###" class="submit"/>
                <input name="manufacturers_id" type="hidden" value="###MANUFACTURER_ID###"/>
            </div>
        </div>
    </div>
</form>
<div id="ajax_message_###MANUFACTURER_ID###" class="ajax_message"></div>
<!-- ###TEMPLATE### end -->