<!-- ###TEMPLATE### begin -->
<script type="text/javascript">
###JS_FUNCTIONS_EXTRA###
jQuery(document).ready(function ($) {
	$('.nav-tabs a:first').tab('show');

    $(document).on('click', ".delete_categories_images", function (e) {
        e.preventDefault();
        var img_filename = $(this).attr("rel");
        href = "###AJAX_URL_DELETE_CATEGORIES_IMAGE###";
        if (confirm('###LABEL_ARE_YOU_SURE###?')) {
            jQuery.ajax({
                type: "POST",
                url: href,
                data: "cid=###DELETE_IMAGES_CATEGORIES_ID###&image_filename=" + img_filename,
                dataType: "json",
                success: function (r) {
                    //do something with the sorted data
                    var image_action_div_id = ".image_action";
                    var ajax_categories_image_id = "#ajax_categories_image";
                    $(image_action_div_id).html("");
                    $(ajax_categories_image_id).val("");
                }
            });
        }
    });
    ###JS_TRIGGERS_EXTRA###
});
</script>
<div class="panel panel-default">
###HEADING_PAGE###
<div class="panel-body">
<form class="form-horizontal admin_category_edit blockSubmitForm" name="admin_categories_edit_###CATEGORIES_ID0###" id="admin_categories_edit_###CATEGORIES_ID1###" method="post" action="###FORM_POST_URL###" enctype="multipart/form-data">
    <input type="hidden" name="tx_multishop_pi1[referrer]" id="msAdminReferrer" value="###VALUE_REFERRER###">
    <div id="tab-container">
        <ul class="nav nav-tabs" role="tablist" id="admin_orders">
            <li role="presentation"><a href="#category_main" aria-controls="profile" role="tab" data-toggle="tab">###ADMIN_LABEL_TABS_DETAILS###</a></li>
            <li role="presentation"><a href="#category_content" aria-controls="profile" role="tab" data-toggle="tab">###ADMIN_LABEL_TABS_CONTENT###</a></li>
            <li role="presentation"><a href="#category_meta" aria-controls="profile" role="tab" data-toggle="tab">###ADMIN_LABEL_TABS_META###</a></li>
            <!-- ###ADVANCED_SETTINGS_TAB_BUTTON### start -->
            <li role="presentation"><a href="#category_advanced" aria-controls="profile" role="tab" data-toggle="tab">###ADMIN_LABEL_TABS_ADVANCED###</a></li>
            <!-- ###ADVANCED_SETTINGS_TAB_BUTTON### end -->
            ###LABEL_EXTRA_PLUGIN_TABS###
        </ul>
        <div class="tab-content">
            <div id="category_main" class="tab-pane">
                <div class="clearfix">
                    <div class="pull-right">
                        <a href="###LINK_BUTTON_CANCEL###" class="btn btn-danger"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-remove fa-stack-1x"></i></span> ###LABEL_BUTTON_CANCEL###</a>
                        <button name="Submit" type="submit" value="" class="btn btn-success"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-check fa-stack-1x"></i></span> ###LABEL_BUTTON_SAVE###</button>
                    </div>
                </div>
                <hr>
                ###INPUT_CATEGORY_NAME_BLOCK###
                ###SELECTBOX_CATEGORY_TREE###
                ###LINK_INPUT_CATEGORY_TREE###
                ###LINK_TO_CATEGORIES###
                <div class="form-group" id="msEditCategoryInputVisibility">
                    <label class="control-label col-md-2" for="status">###LABEL_VISIBILITY###</label>
                    <div class="col-md-10">
                    <div class="radio-inline">
                    <input name="status" type="radio" value="1" ###CATEGORY_STATUS_YES### /> ###LABEL_STATUS_YES###
                    </div>
                    <div class="radio-inline">
                    <input name="status" type="radio" value="0" ###CATEGORY_STATUS_NO### /> ###LABEL_STATUS_NO###
                    </div>
                    </div>
                </div>
                <div class="form-group" id="msEditCategoryInputHideInMenu">
                    <label class="control-label col-md-2" for="hide_in_menu">###LABEL_HIDE_IN_MENU###</label>
                    <div class="col-md-10">
                    <div class="checkbox-inline">
                    <input name="hide_in_menu" id="hide_in_menu" type="checkbox" value="1" ###CATEGORY_HIDE_IN_MENU_CHECKED### />
                    </div>
                    </div>
                </div>
                <!-- ###EXCLUDE_FROM_FEED_INPUT### begin -->
                <div class="form-group" id="msEditCategoryInputExcludeFromFeeds">
                    <label class="control-label col-md-2">###LABEL_EXCLUDE_FROM_FEED###</label>
                    <div class="col-md-10">
                    ###FEEDS_LIST###
                    </div>
                </div>
                <div class="form-group" id="msEditCategoryInputExcludeStockFromFeeds">
                    <label class="control-label col-md-2">###LABEL_EXCLUDE_STOCK_FROM_FEED###</label>
                    <div class="col-md-10">
                    ###STOCK_FEEDS_LIST###
                    </div>
                </div>
                <!-- ###EXCLUDE_FROM_FEED_INPUT### end -->
                <div class="form-group" id="msEditCategoryInputImage">
                    <label class="control-label col-md-2" for="categories_image">###LABEL_IMAGE###</label>
                    <div class="col-md-10">
                    <div id="categories_image">
                        <noscript>
                            <input name="categories_image" type="file" />
                        </noscript>
                    </div>
                    <input name="ajax_categories_image" id="ajax_categories_image" type="hidden" value="" />
                    ###CATEGORIES_IMAGE###
                    </div>
                </div>
                <script type="text/javascript">
                    jQuery(document).ready(function ($) {
                        var categories_name = $("#categories_name_0").val();
                        var uploader = new qq.FileUploader({
                            element: document.getElementById('categories_image'),
                            action: '###UPLOAD_IMAGE_URL###',
                            params: {
                                categories_name: categories_name,
                                file_type: 'categories_image'
                            },
                            template: '<div class="qq-uploader">' +
                                    '<div class="qq-upload-drop-area"><span>###ADMIN_LABEL_DROP_FILES_HERE_TO_UPLOAD###</span></div>' +
                                    '<div class="btn btn-primary btn-sm qq-upload-button">###LABEL_CHOOSE_IMAGE###</div>' +
                                    '<ul class="qq-upload-list" id="qq-upload-list-ul"></ul>' +
                                    '</div>',
                            onComplete: function (id, fileName, responseJSON) {
                                var filenameServer = responseJSON['filename'];
                                $("#ajax_categories_image").val(filenameServer);
                                ###CATEGORIES_IMAGE_CROP_JS###
                            },
                            debug: false
                        });
                        $('#categories_name_0').change(function () {
                            var categories_name = $("#categories_name_0").val();
                            uploader.setParams({
                                categories_name: categories_name,
                                file_type: 'categories_image'
                            });
                        });
                    });
                </script>
                <div class="form-group" id="msEditCategoryInputExternalUrl">
                    <label class="control-label col-md-2" for="categories_url">###LABEL_CATEGORIES_EXTERNAL_URL###</label>
                    <div class="col-md-10">
                    <input type="text" class="form-control text" name="categories_url" id="categories_url" value="###VALUE_CATEGORIES_EXTERNAL_URL###">
                    </div>
                </div>
                ###EXTRA_DETAILS_FIELDS###
            </div>
            <div id="category_content" class="tab-pane">
                ###CATEGORIES_CONTENT_BLOCK###
            </div>
            <div id="category_meta" class="tab-pane">
                ###CATEGORIES_META_BLOCK###
            </div>
            <!-- ###ADVANCED_SETTINGS_tab-pane### start -->
            <div id="category_advanced" class="tab-pane">
                <div class="form-group" id="msEditCategoryInputCustomSettings">
                    <label class="control-label col-md-2" for="custom_settings">###LABEL_ADVANCED_SETTINGS###</label>
                    <div class="col-md-10">
                    <textarea name="custom_settings" class="form-control expand20-200" cols="" rows="15">###VALUE_ADVANCED_SETTINGS###</textarea>
                    </div>
                </div>
            </div>
            <!-- ###ADVANCED_SETTINGS_tab-pane### end -->
            ###CONTENT_EXTRA_PLUGIN_TABS###
            <hr>
            <div class="cleafix">
            <div class="pull-right">
                <a href="###LINK_BUTTON_CANCEL_FOOTER###" class="btn btn-danger"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-remove fa-stack-1x"></i></span> ###LABEL_BUTTON_CANCEL_FOOTER###</a>
                <button name="Submit" type="button" value="" class="btn btn-success"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-check fa-stack-1x"></i></span> ###LABEL_BUTTON_SAVE_FOOTER###</button>
            </div>
            </div>
        </div>
    </div>
    <input name="cid" type="hidden" value="###CATEGORIES_ID_FOOTER0###" />
    <input name="action" type="hidden" value="###PAGE_ACTION###" />
</form>
<div id="ajax_message_###CATEGORIES_ID_FOOTER1###" class="ajax_message"></div>
</div>
</div>
<!-- ###TEMPLATE### end -->