<!-- ###TEMPLATE### begin -->
<h3>###BASKET_HEADER###</h3>
<div class="multishop_basketbox">
###TOTAL_ITEMS###
###LINK_TO_SHOPPINGCART###
</div>

<div id="basketWrap">
	<div id="basketTitleWrap">
		<span id="notificationsLoader"></span>
	</div>
	<div id="basketItemsWrap">
		<ul>
		<li></li>
		</ul>
	</div>
</div>
<!-- ###TEMPLATE### end -->