<!-- ###TEMPLATE### begin -->
<div class="boxes-heading"><h1>###CURRENT_CATEGORIES_NAME###</h1></div>
###CATEGORIES_HEADER_DESCRIPTION###
<div id="category_listing" class="row">
<!-- ###ITEM### begin -->
<div class="col-sm-4 item_###CATEGORIES_COUNTER###"###CATEGORIES_ADMIN_SORTABLE_ID###>
<div class="image">
	<a href="###CATEGORIES_LINK###" title="###CATEGORIES_NAME###" class="ajax_link"###CATEGORIES_LINK_TARGET###>###CATEGORIES_IMAGE###</a>
</div>
<strong>
	<a href="###CATEGORIES_LINK###" class="ajax_link"###CATEGORIES_LINK_TARGET###>###CATEGORIES_NAME###</a>
</strong>
###ADMIN_ICONS###
</div>
<!-- ###ITEM### end -->
</div>
###CATEGORIES_FOOTER_DESCRIPTION###
<!-- ###TEMPLATE### end -->