<!-- ###TEMPLATE### begin -->
<div id="crumbar-center">
	<div id="crumbar-title">###LABEL_YOU_ARE_CURRENTLY_HERE###:</div>
	<div id="crumbar-content">
		<ul>
			<li><a href="###HOMEPAGE_LINK###" class="ajax_link">###HOMEPAGE_TITLE###</a></li>	
			
			<!-- ###ITEM### begin -->		
			<li class="crumbar_level_###LEVEL_COUNTER###">
				###CRUMBAR_VALUE###
			</li>
			<!-- ###ITEM### end -->

			###PRODUCT_NAME###
		</ul>
	</div>
</div>
<!-- ###TEMPLATE### end -->