<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<style>
		html, body, p { font-family:Arial, Helvetica, sans-serif; font-size:12px; }
		h1,h2,h3,h4 { color:black; }
		/* Client-specific Styles */
		#outlook a{padding:0;} /* Force Outlook to provide a "view in browser" button. */
		body{width:100% !important;} /* Force Hotmail to display emails at full width */
		body{-webkit-text-size-adjust:none;} /* Prevent Webkit platforms from changing default text sizes. */

		/* Reset Styles */
		body{margin:0; padding:0;}
		img{border:none; font-size:14px; font-weight:bold; height:auto; line-height:100%; outline:none; text-decoration:none; text-transform:capitalize;}
		hr {height:1px;background:#DDDDDD;border:none;}
		.msFrontGrandTotalVatLabel, .msFrontGrandTotalVatValue { text-align:right; padding:5px 10px; }		
		</style>
	</head>
	<body>
		###BODY###
	</body>
</html>