<!-- ###TEMPLATE### begin -->
 <div class="csc-default###TEMPLATE_CLASS###"###TEMPLATE_ATTRIBUTES###>
  <!-- ###HEADER_WRAPPER### begin -->
  <div class="csc-header"><h3>###HEADER###</h3></div>
  <!-- ###HEADER_WRAPPER### end -->
  <!-- ###CONTENT_WRAPPER### begin -->
  <div class="csc-textpic">###CONTENT###</div>
  <!-- ###CONTENT_WRAPPER### end -->
 </div>
<!-- ###TEMPLATE### end -->