<!-- ###TEMPLATE### begin -->
<h3>###MANUFACTURERS_HEADER###</h3>
<div id="tx_multishop_pi1_core">
	<div id="multishop_manufacturersbox">
		<ul id="manufacturers_sortable_###MANUFACTURERS_UID###">
			<!-- ###ITEM### begin -->
			<li ###ADMIN_MANUFACTURERS_SORTABLE_ID### ###CLASS_ACTIVE###><a href="###MANUFACTURERS_LINK###">###MANUFACTURERS_NAME###</a></li>			
			<!-- ###ITEM### end -->
		</ul>
	</div>
</div>
<!-- ###TEMPLATE### end -->