<!-- ###TEMPLATE### begin -->
<div id="live-validation">
<form action="###CHECKOUT_MULTISTEP_FORM_URL###" method="post" name="checkout" class="AdvancedForm" id="checkout">
<div class="main-heading"><h2>###LABEL_BILLING_ADDRESS###</h2></div>
<div class="row">
    <div class="account-field col-sm-12" id="input-gender">
        <span id="ValidRadio" class="InputGroup">
            <label for="radio_gender_mr" id="account-gender">###LABEL_GENDER_TITLE###</label>
            <div class="radio radio-success radio-inline">
                <input type="radio" class="InputGroup" name="gender" value="m" class="account-gender-radio" id="radio_gender_mr" ###VALUE_GENDER_MALE_CHECKED### ###GENDER_INPUT_REQUIRED###>
                <label class="account-male" for="radio_gender_mr">###LABEL_GENDER_MALE###</label>
            </div>
            <div class="radio radio-success radio-inline">
                <input type="radio" name="gender" value="f" class="InputGroup" id="radio_gender_mrs" ###VALUE_GENDER_FEMALE_CHECKED###>
                <label class="account-female" for="radio_gender_mrs">###LABEL_GENDER_FEMALE###</label>
            </div>
            <div id="invalid-gender" class="error-space" style="display:none"></div>
        </span>
        ###BIRTHDATE_BLOCK###
    </div>
    <div class="account-field col-sm-4" id="input-fname">
        <label class="account-firstname" for="first_name">###LABEL_FIRST_NAME###</label>
        <input type="text" name="first_name" class="first-name" id="first_name" value="###VALUE_FIRST_NAME###" required="required" data-h5-errorid="invalid-first_name" title="###LABEL_ERROR_FIRSTNAME_MESSAGE###">

        <div id="invalid-first_name" class="error-space" style="display:none"></div>
    </div>
    <div class="account-field col-sm-4" id="input-mname">
        <label class="account-middlename" for="middle_name">###LABEL_MIDDLE_NAME###</label>
        <input type="text" name="middle_name" id="middle_name" class="middle_name" value="###VALUE_MIDDLE_NAME###">
    </div>
    <div class="account-field col-sm-4" id="input-lname">
        <label class="account-lastname" for="last_name">###LABEL_LAST_NAME###</label>
        <input type="text" name="last_name" id="last_name" class="last-name" value="###VALUE_LAST_NAME###" required="required" data-h5-errorid="invalid-last_name" title="###LABEL_ERROR_LASTNAME_MESSAGE###">
        <div id="invalid-last_name" class="error-space" style="display:none"></div>
    </div>
    <div class="account-field col-sm-6" id="input-email">
        <label for="email" id="account-email">###LABEL_EMAIL###*</label>
        <input type="text" name="tx_multishop_pi1[email]" id="email" class="email" value="###VALUE_EMAIL###" required="required" data-h5-errorid="invalid-email" title="###LABEL_ERROR_EMAIL_IS_REQUIRED###">
        <div id="invalid-email" class="error-space" style="display:none"></div>
    </div>
    <div class="account-field col-sm-6" id="input-email-confirm">
        <label for="email" id="account-email">###LABEL_CONFIRMATION_EMAIL###*</label>
        <input type="text" name="tx_multishop_pi1[email_confirm]" id="email" class="email" value="###VALUE_CONFIRMATION_EMAIL###" required="required" data-h5-errorid="invalid-email_confirm" title="###LABEL_ERROR_CONFIRMATION_EMAIL_IS_REQUIRED###">
        <div id="invalid-email_confirm" class="error-space" style="display:none"></div>
    </div>
    <div class="account-field col-sm-12" id="input-company">
        <label for="company" id="account-company">###LABEL_COMPANY###</label>
        <input type="text" name="company" class="company" id="company" value="###VALUE_COMPANY###"###COMPANY_VALIDATION###/>
        <div id="invalid-company" class="error-space" style="display:none"></div>
    </div>
    ###INPUT_VAT_ID###
    ###INPUT_COC_ID###
    ###STATE_BLOCK###
    ###COUNTRY_BLOCK###
    <div class="account-field col-sm-4" id="input-zip">
        <label class="account-zip" for="zip">###LABEL_ZIP###*</label>
        <input type="text" name="zip" id="zip" class="zip" value="###VALUE_ZIP###" required="required" data-h5-errorid="invalid-zip" title="###LABEL_ERROR_ZIP_IS_REQUIRED###">
        <div id="invalid-zip" class="error-space" style="display:none"></div>
    </div>
    <div class="account-field col-sm-3" id="input-address">
        <label class="account-address" for="address">###LABEL_STREET_NAME###*</label>
        <input type="text" name="street_name" id="address" class="address" value="###VALUE_STREET_NAME###" required="required" data-h5-errorid="invalid-address" title="###LABEL_ERROR_STREET_NAME_IS_REQUIRED###">
        <div id="invalid-address" class="error-space" style="display:none"></div>
    </div>
    <div class="account-field col-sm-3" id="input-housenumber">
        <label class="account-addressnumber" for="address_number">###LABEL_ADDRESS_NUMBER###*</label>
        <input type="text" name="address_number" id="address_number" class="address-number" value="###VALUE_ADDRESS_NUMBER###" required="required" data-h5-errorid="invalid-address_number" title="###LABEL_ERROR_ADDRESS_NUMBER_IS_REQUIRED###">
        <div id="invalid-address_number" class="error-space" style="display:none"></div>
    </div>
    <div class="account-field col-sm-3" id="input-extension">
        <label class="account-address_ext" for="address_ext">###LABEL_ADDRESS_EXT###</label>
        <input type="text" name="address_ext" id="address_ext" class="address_ext" value="###VALUE_ADDRESS_EXT###" >
    </div>
    <div class="account-field col-sm-3" id="input-city">
        <label class="account-city" for="city">###LABEL_CITY###*</label>
        <input type="text" name="city" id="city" class="city" value="###VALUE_CITY###" required="required" data-h5-errorid="invalid-city" title="###LABEL_ERROR_CITY_IS_REQUIRED###">
        <div id="invalid-city" class="error-space" style="display:none"></div>
    </div>
    <div class="account-field col-sm-6" id="input-telephone">
        <label for="telephone" id="account-telephone">###LABEL_TELEPHONE###*</label>
        <input type="text" name="telephone" id="telephone" class="telephone" value="###VALUE_TELEPHONE###"###TELEPHONE_VALIDATION###>
        <div id="invalid-telephone" class="error-space" style="display:none"></div>
    </div>
    ###MOBILE_NUMBER_INPUT###
</div>
###NEWSLETTER_SUBSCRIBE###
<div class="checkboxAgreement delivery_checkbox_message">
    <input type="checkbox" name="different_delivery_address" id="checkboxdifferent_delivery_address"###DIFFERENT_DELIVERY_ADDRESS_CHECKED### value="1" />
    <label class="checkbox_label_two" for="checkboxdifferent_delivery_address">###LABEL_USE_DIFFERENT_DELIVERY_ADDRESS###.</label>
</div>
<div id="delivery_address_category">
    <h2>###LABEL_DELIVERY_ADDRESS###</h2>
    <div class="row">
        <div class="account-field col-sm-12" id="input-dfgender">
				<span class="InputGroup">
					<label for="radio_delivery_gender_mr" id="account-gender">###LABEL_GENDER###</label>
					<input type="radio" name="delivery_gender" value="m" class="account-gender-radio" id="radio_delivery_gender_mr"###GENDER_MR_CHECKED### />
					<label class="account-male" for="radio_delivery_gender_mr">###LABEL_GENDER_MR###</label>
					<input type="radio" name="delivery_gender" value="f" class="account-gender-radio" id="radio_delivery_gender_mrs"###GENDER_MRS_CHECKED### />
					<label class="account-female" for="radio_delivery_gender_mrs">###LABEL_GENDER_MRS###</label>
					<div id="invalid-delivery_gender" class="error-space" style="display:none"></div>
				</span>
        </div>
        <div class="account-field col-sm-4" id="input-dffname">
            <label class="account-firstname" for="delivery_first_name">###LABEL_DELIVERY_FIRST_NAME###*</label>
            <input type="text" name="delivery_first_name" class="delivery_first-name left-this" id="delivery_first_name" value="###VALUE_DELIVERY_FIRST_NAME###" >
            <div id="invalid-delivery_first_name" class="error-space" style="display:none"></div>
        </div>
        <div class="account-field col-sm-4" id="input-dffname">
            <label class="account-middlename" for="delivery_middle_name">###LABEL_DELIVERY_MIDDLE_NAME###</label>
            <input type="text" name="delivery_middle_name" id="delivery_middle_name" class="delivery_middle_name left-this" value="###VALUE_DELIVERY_MIDDLE_NAME###">
        </div>
        <div class="account-field col-sm-4" id="input-dflname">
            <label class="account-lastname" for="delivery_last_name">###LABEL_DELIVERY_LAST_NAME###*</label>
            <input type="text" name="delivery_last_name" id="delivery_last_name" class="delivery_last-name left-this" value="###VALUE_DELIVERY_LAST_NAME###" >
            <div id="invalid-delivery_last_name" class="error-space" style="display:none"></div>
        </div>
        <div class="account-field col-sm-12" id="input-dfcompany">
            <label for="delivery_company">###LABEL_DELIVERY_COMPANY###:</label>
            <input type="text" name="delivery_company" id="delivery_company" class="delivery_company" value="###VALUE_DELIVERY_COMPANY###"###COMPANY_VALIDATION###>
            <div id="invalid-delivery_company" class="error-space" style="display:none"></div>
        </div>
        <div class="account-field col-sm-6" id="input-dfaddress">
            <label for="delivery_address">###LABEL_DELIVERY_STREET_NAME###*</label>
            <input  type="text" name="delivery_street_name" id="delivery_address" class="delivery_address left-this" value="###VALUE_DELIVERY_STREET_NAME###">
            <div id="invalid-delivery_address" class="error-space" style="display:none"></div>
        </div>
        <div class="account-field col-sm-3" id="input-dfhousenumber">
            <label class="delivery_account-addressnumber" for="delivery_address_number">###LABEL_DELIVERY_ADDRESS_NUMBER###*</label>
            <input type="text" name="delivery_address_number" id="delivery_address_number" class="delivery_address-number" value="###VALUE_DELIVERY_ADDRESS_NUMBER###" >
            <div id="invalid-delivery_address_number" class="error-space" style="display:none"></div>
        </div>
        <div class="account-field col-sm-3" id="input-dfextension">
            <label class="delivery_account-address_ext" for="delivery_address_ext">###LABEL_DELIVERY_ADDRESS_EXT###</label>
            <input type="text" name="delivery_address_ext" id="delivery_address_ext" class="delivery_address_ext" value="###VALUE_DELIVERY_ADDRESS_EXT###" >
        </div>
        <div class="account-field col-sm-2" id="input-dfzip">
            <label for="delivery_zip">###LABEL_DELIVERY_ZIP###*</label>
            <input type="text" name="delivery_zip" id="delivery_zip" class="delivery_zip left-this" value="###VALUE_DELIVERY_ZIP###">
            <div id="invalid-delivery_zip" class="error-space" style="display:none"></div>
        </div>
        <div class="account-field col-sm-3" id="input-dfcity">
            <label class="account-city" for="delivery_city">###LABEL_DELIVERY_CITY###*</label>
            <input type="text" name="delivery_city" id="delivery_city" class="delivery_city" value="###VALUE_DELIVERY_CITY###" >
            <div id="invalid-delivery_city" class="error-space" style="display:none"></div>
        </div>
        ###DELIVERY_STATE_BLOCK###
        ###DELIVERY_COUNTRY_BLOCK###
        <div class="account-field col-sm-6" class="input-dfemail">
            <label for="delivery_email" id="account-email">###LABEL_DELIVERY_EMAIL###</label>
            <input type="text" name="delivery_email" id="delivery_email" class="delivery_email" value="###VALUE_DELIVERY_EMAIL###"/>
        </div>
        <div class="account-field col-sm-6" id="input-dftelephone">
            <label for="delivery_telephone">###LABEL_DELIVERY_TELEPHONE###*</label>
            <input type="text" name="delivery_telephone" id="delivery_telephone" class="delivery_telephone" value="###VALUE_DELIVERY_TELEPHONE###">
            <div id="invalid-delivery_telephone" class="error-space" style="display:none"></div>
        </div>
        ###DELIVERY_MOBILE_NUMBER_INPUT###
    </div>
</div>
<div id="bottom-navigation">
    <a href="###SHOPPING_CART_URL###" class="msFrontButton backState arrowLeft arrowPosLeft"><span>###LABEL_BACK###</span></a>
    <span class="msFrontButton continueState arrowRight arrowPosLeft"><input type="submit" id="submit" value="###LABEL_NEXT###" /></span>
</div>
</form>
</div>
<!-- ###TEMPLATE### end -->