<!-- ###TEMPLATE### begin -->
<table class="table table-striped table-bordered border" id="msOrderDetailsTable">
	<!-- ###ITEMS_HEADER_WRAPPER### begin -->
	<thead>
	<tr class="msOrderDetailsHeading">
		<th class="cellImage">&nbsp;</th>
		<th class="cellName">###HEADING_PRODUCTS_NAME###</th>
		<th class="cellQty">###HEADING_QUANTITY###</th>
		<th class="cellPrice">###HEADING_TOTAL###</th>
	</tr>
	</thead>
	<tbody>
	<!-- ###ITEMS_HEADER_WRAPPER### end -->	
	<!-- ###ITEMS_WRAPPER### begin -->
	<tr class="###ITEM_CLASS###">
		<td class="cellImage">###ITEM_IMAGE###</td>
		<td class="cellName">###ITEM_NAME###</td>
		<td class="cellQty">###ITEM_QUANTITY###</td>
		<td class="cellPrice">###ITEM_TOTAL###</td>
	</tr>
    <!-- ###ITEMS_WRAPPER### end -->
    </tbody>
</table>
<table class="table table-stiped table-bordered" id="msOrderDetailsSubTotalTable">
<!-- ###SUBTOTAL_WRAPPER### begin -->
<tr>
	<td class="msOrderDetailsSubTotalProductsLabel msOrderDetailsSubTotalLabel">###PRODUCTS_TOTAL_PRICE_INCLUDING_VAT_LABEL###</td>
	<td class="msOrderDetailsSubTotalProducts msOrderDetailsSubTotalValue">###PRODUCTS_TOTAL_PRICE_INCLUDING_VAT###</td>
</tr>
<!-- ###SUBTOTAL_WRAPPER### end -->
</table>
<!-- ###TEMPLATE### end -->