<!-- ###TEMPLATE### begin -->
<table id="msOrderDetailsTable" cellpadding="0" cellspacing="0" border="0" width="100%" style="border-collapse:collapse;">
<!-- ###ITEMS_HEADER_WRAPPER### begin -->
<tr class="msOrderDetailsHeading">
<th width="5%" align="left" style="border-bottom:1px solid #333;font-family:Arial;font-size:12px;line-height:16px;color:#000;padding:5px 10px;">&nbsp;</th>
<th width="79%" align="left" style="border-bottom:1px solid #333;font-family:Arial;font-size:12px;line-height:16px;color:#000;padding:5px 10px;">###HEADING_PRODUCTS_NAME###</th>
<th width="8%" align="right" style="border-bottom:1px solid #333;font-family:Arial;font-size:12px;line-height:16px;color:#000;padding:5px 10px;">###HEADING_QUANTITY###</th>
<th width="8%" align="right" style="border-bottom:1px solid #333;font-family:Arial;font-size:12px;line-height:16px;color:#000;padding:5px 10px;">###HEADING_TOTAL###</th>
</tr>
<!-- ###ITEMS_HEADER_WRAPPER### end -->
<!-- ###ITEMS_WRAPPER### begin -->
<tr class="###ITEM_CLASS###">
<td align="center" valign="top" style="border-bottom:1px solid #c9d1d9;font-family:Arial;font-size:12px;line-height:16px;color:#333;padding:5px 10px;">###ITEM_IMAGE###</td>
<td align="left" valign="top" style="border-bottom:1px solid #c9d1d9;font-family:Arial;font-size:12px;line-height:16px;color:#333;padding:5px 10px;">###ITEM_NAME###</td>
<td align="right" valign="top" style="border-bottom:1px solid #c9d1d9;font-family:Arial;font-size:12px;line-height:16px;color:#333;padding:5px 10px;">###ITEM_QUANTITY###</td>
<td nowrap align="right" valign="top" style="border-bottom:1px solid #c9d1d9;font-family:Arial;font-size:12px;line-height:16px;color:#333;padding:5px 10px;">###ITEM_TOTAL###</td>
</tr>
<!-- ###ITEMS_WRAPPER### end -->
<tr>
<td colspan="4" style="padding-top:20px;">
<table cellpadding="0" cellspacing="0" border="0" width="100%" style="border-collapse:collapse;">
<tr>
<td width="40%"></td>
<td width="60%">
<table cellpadding="0" cellspacing="0" border="0" width="100%" style="border-collapse:collapse;">
<!-- ###SUBTOTAL_WRAPPER### begin -->
    <tr>
        <td align="right" style="font-family:Arial;font-size:12px;line-height:16px;color:#333;padding:0 10px;">###PRODUCTS_TOTAL_PRICE_LABEL###</td>
        <td width="8%" nowrap align="right" style="font-family:Arial;font-size:12px;line-height:16px;color:#333;padding:0 10px;">###PRODUCTS_TOTAL_PRICE###</td>
    </tr>
    <!-- ###SUBTOTAL_WRAPPER### end -->
    <!-- ###DISCOUNT_WRAPPER### begin -->
    <tr>
        <td align="right" style="font-family:Arial;font-size:12px;line-height:16px;color:#333;padding:0 10px;">###DISCOUNT_LABEL###</td>
        <td width="8%" nowrap align="right" style="font-family:Arial;font-size:12px;line-height:16px;color:#333;padding:0 10px;">###DISCOUNT###</td>
    </tr>
    <!-- ###DISCOUNT_WRAPPER### end -->
    <!-- ###NEWSUBTOTAL_WRAPPER### begin -->
    <tr>
        <td align="right" style="font-family:Arial;font-size:12px;line-height:16px;color:#333;padding:0 10px;">###PRODUCTS_NEWSUB_TOTAL_PRICE_LABEL###</td>
        <td width="8%" nowrap align="right" style="font-family:Arial;font-size:12px;line-height:16px;color:#333;padding:0 10px;">###PRODUCTS_NEWTOTAL_PRICE###</td>
    </tr>
    <!-- ###NEWSUBTOTAL_WRAPPER### end -->
    <!-- ###SHIPPING_COSTS_WRAPPER### begin -->
    <tr>
        <td align="right" style="font-family:Arial;font-size:12px;line-height:16px;color:#333;padding:0 10px;">###SHIPPING_COSTS_LABEL###</td>
        <td width="8%" nowrap align="right" style="font-family:Arial;font-size:12px;line-height:16px;color:#333;padding:0 10px;">###SHIPPING_COSTS###</td>
    </tr>
    <!-- ###SHIPPING_COSTS_WRAPPER### end -->
    <!-- ###PAYMENT_COSTS_WRAPPER### begin -->
    <tr>
        <td align="right" style="font-family:Arial;font-size:12px;line-height:16px;color:#333;padding:0 10px;">###PAYMENT_COSTS_LABEL###</td>
        <td width="8%" nowrap align="right" style="font-family:Arial;font-size:12px;line-height:16px;color:#333;padding:0 10px;">###PAYMENT_COSTS###</td>
    </tr>
    <!-- ###PAYMENT_COSTS_WRAPPER### end -->
    <!-- ###TAX_COSTS_WRAPPER### begin -->
    <tr>
        <td align="right" style="font-family:Arial;font-size:12px;line-height:16px;color:#333;padding:0 10px;">###TAX_RATE_LABEL###</td>
        <td width="8%" nowrap align="right" style="font-family:Arial;font-size:12px;line-height:16px;color:#333;padding:0 10px;">###TAX_COSTS###</td>
    </tr>
    <!-- ###TAX_COSTS_WRAPPER### end -->
	<tr>
	  <td colspan="2" style="font-size:0;line-height:0;padding-top:5px;padding-left:0;padding-right:0;padding-bottom:5px;"><hr style="height:1px;font-size:1px;line-height:1px;border:none;background:#c9d1d9;padding:0;"></td>
	</tr>
    <!-- ###GRAND_TOTAL_WRAPPER### begin -->
    <tr>
        <td align="right" style="font-family:Arial;font-size:12px;line-height:16px;color:#333;padding:0 10px;">Totaalprijs</td>
        <td width="8%" nowrap align="right" style="font-family:Arial;font-size:12px;line-height:16px;color:#333;padding:0 10px;">###GRAND_TOTAL_COSTS###</td>
    </tr>
    <!-- ###GRAND_TOTAL_WRAPPER### end -->
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
<br>
<!-- ###TEMPLATE### end -->