<!-- ###TEMPLATE### begin -->
<table class="border" id="msOrderDetailsTable">
	<!-- ###ITEMS_HEADER_WRAPPER### begin -->
	<tr class="msOrderDetailsHeading">
		<th class="msOrderDetailsHeadingImage">&nbsp;</th>
		<th class="msOrderDetailsHeadingName">###HEADING_PRODUCTS_NAME###</th>
		<th class="msOrderDetailsHeadingQuantity">###HEADING_QUANTITY###</th>
		<th class="msOrderDetailsHeadingTotal">###HEADING_TOTAL###</th>
	</tr>
	<!-- ###ITEMS_HEADER_WRAPPER### end -->	
	<!-- ###ITEMS_WRAPPER### begin -->
	<tr class="###ITEM_CLASS###">
		<td class="msOrderDetailsItemImage">###ITEM_IMAGE###</td>
		<td class="msOrderDetailsItemName">###ITEM_NAME###</td>
		<td class="msOrderDetailsItemQuantity">###ITEM_QUANTITY###</td>
		<td class="msOrderDetailsItemTotal">###ITEM_TOTAL###</td>
	</tr>
    <!-- ###ITEMS_WRAPPER### end -->
</table>
<table id="msOrderDetailsSubTotalTable">
<!-- ###SUBTOTAL_WRAPPER### begin -->
<tr>
	<td class="msOrderDetailsSubTotalProductsLabel msOrderDetailsSubTotalLabel">###PRODUCTS_TOTAL_PRICE_INCLUDING_VAT_LABEL###</td>
	<td class="msOrderDetailsSubTotalProducts msOrderDetailsSubTotalValue">###PRODUCTS_TOTAL_PRICE_INCLUDING_VAT###</td>
</tr>
<!-- ###SUBTOTAL_WRAPPER### end -->
</table>
<!-- ###TEMPLATE### end -->