<!-- ###TEMPLATE### begin -->
<table class="table table-striped border" id="msOrderDetailsTable">
	<!-- ###ITEMS_HEADER_WRAPPER### begin -->
	<thead>
	<tr>
		<th class="cellImage">&nbsp;</th>
		<th class="cellName">###HEADING_PRODUCTS_NAME###</th>
		<th class="cellQty">###HEADING_QUANTITY###</th>
		<th class="cellPrice">###HEADING_TOTAL###</th>
	</tr>
	</thead>
	<tbody>
	<!-- ###ITEMS_HEADER_WRAPPER### end -->	
	<!-- ###ITEMS_WRAPPER### begin -->
	<tr>
		<td class="cellImage">###ITEM_IMAGE###</td>
		<td class="cellName">###ITEM_NAME###</td>
		<td class="cellQty">###ITEM_QUANTITY###</td>
		<td class="cellPrice">###ITEM_TOTAL###</td>
	</tr>
    <!-- ###ITEMS_WRAPPER### end -->
    </tbody>
    <!-- ###SUBTOTAL_WRAPPER### begin -->
    <tfoot>
    <tr id="msOrderDetailsSubTotalTable">
		<td colspan="2" align="right"><strong>###PRODUCTS_TOTAL_PRICE_INCLUDING_VAT_LABEL###</strong></td>
		<td colspan="2" class="cellPrice"><strong>###PRODUCTS_TOTAL_PRICE_INCLUDING_VAT###</strong></td>
    </tr>
    </tfoot>
    <!-- ###SUBTOTAL_WRAPPER### end -->
</table>
<!-- ###TEMPLATE### end -->