<!-- ###TEMPLATE### begin -->
<table class="msadmin_border" width="100%" border="0" cellspacing="0" id="orderDetailsPDFInvoice">
    <thead>
        <tr class="invoiceTableHeading">
            <!-- ###HEADER_NORMAL_WRAPPER### begin -->
            <th align="right" class="cell_qty">###LABEL_HEADER_QTY###</th>
            <th align="left" class="cell_products_name">###LABEL_HEADER_PRODUCT_NAME###</th>
            <!-- ###HEADER_NORMAL_WRAPPER### end -->
            <!-- ###HEADER_INCLUDE_VAT_WRAPPER### begin -->
            <th align="right" class="cell_products_vat">###LABEL_HEADER_VAT###</th>
            <th align="right" class="cell_products_normal_price">###LABEL_HEADER_ITEM_NORMAL_PRICE###</th>
            ###LABEL_HEADER_ITEM_DISCOUNT###
            <th align="right" class="cell_products_final_price">###LABEL_HEADER_ITEM_FINAL_PRICE###</th>
            <!-- ###HEADER_INCLUDE_VAT_WRAPPER### end -->
            <!-- ###HEADER_EXCLUDE_VAT_WRAPPER### begin -->
            <th align="right" class="cell_products_normal_price">###LABEL_HEADER_ITEM_NORMAL_PRICE###</th>
            <th align="right" class="cell_products_vat">###LABEL_HEADER_VAT###</th>
            ###LABEL_HEADER_ITEM_DISCOUNT###
            <th align="right" class="cell_products_final_price">###LABEL_HEADER_ITEM_FINAL_PRICE###</th>
            <!-- ###HEADER_EXCLUDE_VAT_WRAPPER### end -->
        </tr>
    </thead>
    <tbody>
        <!-- ###ITEMS_WRAPPER### begin -->
        <!-- ###ITEM_WRAPPER### begin -->
        <tr class="cellData ###ITEM_ROW_TYPE###">
            <td align="right" class="cell_products_qty">###ITEM_PRODUCT_QTY###</td>
            <td align="left" class="cell_products_name">###ITEM_PRODUCT_NAME###</td>
            <!-- ###ITEM_INCLUDE_VAT_WRAPPER### begin -->
            <td align="right" class="cell_products_vat">###ITEM_VAT###</td>
            <td align="right" class="cell_products_normal_price">###ITEM_NORMAL_PRICE###</td>
            ###ITEM_DISCOUNT_AMOUNT###
            <td align="right" class="cell_products_final_price">###ITEM_FINAL_PRICE###</td>
            <!-- ###ITEM_INCLUDE_VAT_WRAPPER### end -->
            <!-- ###ITEM_EXCLUDE_VAT_WRAPPER### begin -->
            <td align="right" class="cell_products_normal_price">###ITEM_NORMAL_PRICE###</td>
            <td align="right" class="cell_products_vat">###ITEM_VAT###</td>
            ###ITEM_DISCOUNT_AMOUNT###
            <td align="right" class="cell_products_final_price">###ITEM_FINAL_PRICE###</td>
            <!-- ###ITEM_EXCLUDE_VAT_WRAPPER### end -->
        </tr>
        <!-- ###ITEM_WRAPPER### end -->
        <!-- ###ITEM_ATTRIBUTES_WRAPPER### begin -->
        <tr class="cellData ###ITEM_ATTRIBUTE_ROW_TYPE###">
            <td>&nbsp;</td>
            <td align="left">###ITEM_ATTRIBUTE###</td>
            <!-- ###ITEM_ATTRIBUTE_INCLUDE_VAT_WRAPPER### begin -->
            <td align="right" class="cell_products_vat">###ITEM_ATTRIBUTE_VAT###</td>
            <td align="right" class="cell_products_normal_price">###ITEM_ATTRIBUTE_NORMAL_PRICE###</td>
            ###ITEM_ATTRIBUTE_DISCOUNT_AMOUNT###
            <td align="right" class="cell_products_final_price">###ITEM_ATTRIBUTE_FINAL_PRICE###</td>
            <!-- ###ITEM_ATTRIBUTE_INCLUDE_VAT_WRAPPER### end -->
            <!-- ###ITEM_ATTRIBUTE_EXCLUDE_VAT_WRAPPER### begin -->
            <td align="right" class="cell_products_normal_price">###ITEM_ATTRIBUTE_NORMAL_PRICE###</td>
            <td align="right" class="cell_products_vat">###ITEM_ATTRIBUTE_VAT###</td>
            ###ITEM_ATTRIBUTE_DISCOUNT_AMOUNT###
            <td align="right" class="cell_products_final_price">###ITEM_ATTRIBUTE_FINAL_PRICE###</td>
            <!-- ###ITEM_ATTRIBUTE_EXCLUDE_VAT_WRAPPER### end -->
        </tr>
        <!-- ###ITEM_ATTRIBUTES_WRAPPER### end -->
        <!-- ###ITEMS_WRAPPER### end -->
        <tr class="hrWrapper">
            <td align="right" colspan="2">&nbsp;</td>
            <td align="right" colspan="###INVOICE_HR_COLSPAN###">&nbsp;</td>
        </tr>
        <tr>
            <td class="order_total_wrapper" align="right" colspan="###INVOICE_TOTAL_COLSPAN###">
                <table class="order_total" width="40%" style="float:right">
                    <tr>
                        <td align="right" class="grandTotalLabel"><label>###LABEL_SUBTOTAL###</label></td>
                        <td align="right" class="grandTotalValue"><span class="order_total_value">###SUBTOTAL###</span></td>
                    </tr>
                    <!-- ###SUBTOTAL_INCLUDE_VAT_WRAPPER### begin -->
                    <!-- ###SHIPPING_COSTS_WRAPPER### begin -->
                    <tr>
                        <td align="right" class="grandTotalLabel"><label>###LABEL_SHIPPING_COSTS###</label></td>
                        <td align="right" class="grandTotalValue"><span class="order_total_value">###TOTAL_SHIPPING_COSTS###</span></td>
                    </tr>
                    <!-- ###SHIPPING_COSTS_WRAPPER### end -->
                    <!-- ###PAYMENT_COSTS_WRAPPER### begin -->
                    <tr>
                        <td align="right" class="grandTotalLabel"><label>###LABEL_PAYMENT_COSTS###</label></td>
                        <td align="right" class="grandTotalValue"><span class="order_total_value">###TOTAL_PAYMENT_COSTS###</span></td>
                    </tr>
                    <!-- ###PAYMENT_COSTS_WRAPPER### end -->
                    <!-- ###DISCOUNT_WRAPPER### begin -->
                    <tr>
                        <td align="right" class="grandTotalLabel"><label>###LABEL_DISCOUNT###</label></td>
                        <td align="right" class="grandTotalValue"><span class="order_total_value">###TOTAL_DISCOUNT###</span></td>
                    </tr>
                    <!-- ###DISCOUNT_WRAPPER### end -->
                    <!-- ###SUBTOTAL_INCLUDE_VAT_WRAPPER### end -->

                    <!-- ###SUBTOTAL_EXCLUDE_VAT_WRAPPER### begin -->
                    <!-- ###DISCOUNT_WRAPPER### begin -->
                    <tr>
                        <td align="right" class="grandTotalLabel"><label>###LABEL_DISCOUNT###</label></td>
                        <td align="right" class="grandTotalValue"><span class="order_total_value">###TOTAL_DISCOUNT###</span></td>
                    </tr>
                    <!-- ###DISCOUNT_WRAPPER### end -->
                    <!-- ###NEWSUBTOTAL_WRAPPER### begin -->
                    <tr>
                        <td colspan="2"><hr></td>
                    </tr>
                    <tr>
                        <td align="right" class="msOrderDetailsNewSubTotalProductsLabel msOrderDetailsNewSubTotalLabel">###PRODUCTS_NEWSUB_TOTAL_PRICE_LABEL###</td>
                        <td align="right" class="msOrderDetailsNewSubTotalProducts msOrderDetailsNewSubTotalValue">###PRODUCTS_NEWTOTAL_PRICE###</td>
                    </tr>
                    <!-- ###NEWSUBTOTAL_WRAPPER### end -->

                    <!-- ###TOTAL_VAT_ROW_EXCLUDE_VAT_NO_SHIPPING_PAYMENT_TAX### begin -->
                    <tr>
                        <td align="right" class="grandTotalLabel"><label>###LABEL_VAT###</label></td>
                        <td align="right" class="grandTotalValue"><span class="order_total_value">###TOTAL_VAT###</span></td>
                    </tr>
                    <!-- ###TOTAL_VAT_ROW_EXCLUDE_VAT_NO_SHIPPING_PAYMENT_TAX### end -->
                    <!-- ###SHIPPING_COSTS_WRAPPER### begin -->
                    <tr>
                        <td align="right" class="grandTotalLabel"><label>###LABEL_SHIPPING_COSTS###</label></td>
                        <td align="right" class="grandTotalValue"><span class="order_total_value">###TOTAL_SHIPPING_COSTS###</span></td>
                    </tr>
                    <!-- ###SHIPPING_COSTS_WRAPPER### end -->
                    <!-- ###PAYMENT_COSTS_WRAPPER### begin -->
                    <tr>
                            <td align="right" class="grandTotalLabel"><label>###LABEL_PAYMENT_COSTS###</label></td>
                        <td align="right" class="grandTotalValue"><span class="order_total_value">###TOTAL_PAYMENT_COSTS###</span></td>
                    </tr>
                        <!-- ###PAYMENT_COSTS_WRAPPER### end -->
                    <!-- ###TOTAL_VAT_ROW_EXCLUDE_VAT_HAVE_SHIPPING_PAYMENT_TAX### begin -->
                    <tr>
                        <td align="right" class="grandTotalLabel"><label>###LABEL_VAT###</label></td>
                        <td align="right" class="grandTotalValue"><span class="order_total_value">###TOTAL_VAT###</span></td>
                    </tr>
                    <!-- ###TOTAL_VAT_ROW_EXCLUDE_VAT_HAVE_SHIPPING_PAYMENT_TAX### end -->
                    <!-- ###SUBTOTAL_EXCLUDE_VAT_WRAPPER### end -->
                    <tr>
                      <td colspan="2"><hr></td>
                    </tr>
                    <tr>
                        <td align="right" class="grandTotalLabel"><label><strong>###LABEL_GRAND_TOTAL###</strong></label></td>
                        <td align="right" class="grandTotalValue"><span class="order_total_value">###GRAND_TOTAL###</span></td>
                    </tr>
                    <!-- ###TOTAL_VAT_ROW_INCLUDE_VAT### begin -->
                    <tr>
                        <td align="right" class="grandTotalLabel"><label>###LABEL_INCLUDED_VAT_AMOUNT###</label></td>
                        <td align="right" class="grandTotalValue"><span class="order_total_value">###TOTAL_VAT###</span></td>
                    </tr>
                    <!-- ###TOTAL_VAT_ROW_INCLUDE_VAT### end -->
                </table>
            </td>
        </tr>
    </tbody>
</table>
<!-- ###TEMPLATE### end -->