<!-- ###TEMPLATE### begin -->
<table class="msadmin_border" width="100%" border="0" cellspacing="0" id="orderDetailsPDFPackingslip">
    <thead>
        <tr class="invoiceTableHeading">
            <!-- ###HEADER_NORMAL_WRAPPER### begin -->
            <th align="right" class="cell_qty">###LABEL_HEADER_QTY###</th>
            <th align="left" class="cell_products_name">###LABEL_HEADER_PRODUCT_NAME###</th>
            <!-- ###HEADER_NORMAL_WRAPPER### end -->
        </tr>
    </thead>
    <tbody>
        <!-- ###ITEMS_WRAPPER### begin -->
        <!-- ###ITEM_WRAPPER### begin -->
        <tr class="cellData ###ITEM_ROW_TYPE###">
            <td align="right" class="cell_products_qty">###ITEM_PRODUCT_QTY###</td>
            <td align="left" class="cell_products_name">###ITEM_PRODUCT_NAME###</td>
        </tr>
        <!-- ###ITEM_WRAPPER### end -->
        <!-- ###ITEM_ATTRIBUTES_WRAPPER### begin -->
        <tr class="cellData ###ITEM_ATTRIBUTE_ROW_TYPE###">
            <td>&nbsp;</td>
            <td align="left">###ITEM_ATTRIBUTE###</td>
        </tr>
        <!-- ###ITEM_ATTRIBUTES_WRAPPER### end -->
        <!-- ###ITEMS_WRAPPER### end -->
    </tbody>
</table>
<!-- ###TEMPLATE### end -->