<!-- ###TEMPLATE### begin -->
<table class="border" id="msOrderDetailsTable" cellpadding="0" cellspacing="0" border="1" width="100%" style="border-width: 1px; border-color:#cdcdcd; border-spacing: 0px; border-style: none; border-collapse: collapse;margin:0 0 10px;">
  <!-- ###ITEMS_HEADER_WRAPPER### begin -->
  <tr class="msOrderDetailsHeading">
    <th class="msOrderDetailsHeadingImage" width="5%" style="ont-size:12px;line-height:16px;font-family:Arial;background:#666; color:#fff; border:1px solid #666; padding:5px 10px;">&nbsp;</th>
    <th class="msOrderDetailsHeadingName" width="79%" align="left" style="ont-size:12px;line-height:16px;font-family:Arial;background:#666; color:#fff; border:1px solid #666; padding:5px 10px;">###HEADING_PRODUCTS_NAME###</th>
    <th class="msOrderDetailsHeadingQuantity" width="8%" align="right" style="ont-size:12px;line-height:16px;font-family:Arial;background:#666; color:#fff; border:1px solid #666; padding:5px 10px;">###HEADING_QUANTITY###</th>
    <th class="msOrderDetailsHeadingTotal" width="8%" align="right" style="ont-size:12px;line-height:16px;font-family:Arial;background:#666; color:#fff; border:1px solid #666; padding:5px 10px;">###HEADING_TOTAL###</th>
  </tr>
  <!-- ###ITEMS_HEADER_WRAPPER### end -->  
  <!-- ###ITEMS_WRAPPER### begin -->
  <tr class="###ITEM_CLASS###">
    <td class="msOrderDetailsItemImage" valign="top" style="font-size:12px;line-height:16px;font-family:Arial;padding:5px 10px;">###ITEM_IMAGE###</td>
    <td class="msOrderDetailsItemName" align="left" valign="top" style="font-size:12px;line-height:16px;font-family:Arial;padding:5px 10px;">###ITEM_NAME###</td>
    <td class="msOrderDetailsItemQuantity" align="right" valign="top" style="font-size:12px;line-height:16px;font-family:Arial;padding:5px 10px;">###ITEM_QUANTITY###</td>
    <td class="msOrderDetailsItemTotal" align="right" valign="top" style="font-size:12px;line-height:16px;font-family:Arial;padding:5px 10px;">###ITEM_TOTAL###</td>
  </tr>
    <!-- ###ITEMS_WRAPPER### end -->
</table>
<table id="msOrderDetailsSubTotalTable" cellpadding="0" cellspacing="0" border="0" width="100%" style="margin:0 0 20px">
<!-- ###DISCOUNT_WRAPPER### begin -->
<tr>
  <td class="msOrderDetailsDiscountLabel msOrderDetailsSubTotalLabel" style="font-size:12px;line-height:16px;">###DISCOUNT_LABEL###</td>
  <td class="msOrderDetailsDiscountValue msOrderDetailsSubTotalValue" style="font-size:12px;line-height:16px;">###DISCOUNT###</td>
</tr>
<!-- ###DISCOUNT_WRAPPER### end -->
<!-- ###SHIPPING_COSTS_WRAPPER### begin -->
<tr>
  <td class="msOrderDetailsShippingCostsLabel msOrderDetailsSubTotalLabel" align="right" style="font-size:12px;line-height:16px;padding:0 10px;">###SHIPPING_COSTS_INCLUDING_VAT_LABEL###</td>
  <td class="msOrderDetailsShippingCosts msOrderDetailsSubTotalValue" align="right" style="font-size:12px;line-height:16px;padding:0 10px;">###SHIPPING_COSTS_INCLUDING_VAT###</td>
</tr>
<!-- ###SHIPPING_COSTS_WRAPPER### end -->  
<!-- ###PAYMENT_COSTS_WRAPPER### begin -->
<tr>
  <td class="msOrderDetailsPaymentCostsLabel msOrderDetailsSubTotalLabel" align="right" style="font-size:12px;line-height:16px;padding:0 10px;">###PAYMENT_COSTS_INCLUDING_VAT_LABEL###</td>
  <td class="msOrderDetailsPaymentCosts msOrderDetailsSubTotalValue" align="right" style="font-size:12px;line-height:16px;padding:0 10px;">###PAYMENT_COSTS_INCLUDING_VAT###</td>
</tr>
<!-- ###PAYMENT_COSTS_WRAPPER### end -->
<tr>
<td colspan="2" style="padding:0;"><hr style="height:1px; border:none; background:#cdcdcd;" /></td>
</tr>
<!-- ###GRAND_TOTAL_WRAPPER### begin -->
<tr>
  <td class="msOrderDetailsGrandTotalLabel msOrderDetailsSubTotalLabel" align="right" style="font-size:12px;line-height:16px;padding:0 10px;">###GRAND_TOTAL_COSTS_LABEL###</td>
  <td class="msOrderDetailsGrandTotal msOrderDetailsSubTotalValue" align="right" style="font-weight:bold;font-size:12px;line-height:16px;padding:0 10px;">###GRAND_TOTAL_COSTS###</td>
</tr>
<!-- ###GRAND_TOTAL_WRAPPER### end -->
<!-- ###TAX_COSTS_WRAPPER### begin -->
<tr>
  <td class="msOrderDetailsTaxTotalLabel msOrderDetailsSubTotalLabel" align="right" style="font-size:12px;line-height:16px;padding:0 10px;">###INCLUDED_TAX_RATE_LABEL###</td>
  <td class="msOrderDetailsTaxTotal msOrderDetailsSubTotalValue" align="right" style="font-size:12px;line-height:16px;padding:0 10px;">###TAX_COSTS###</td>
</tr>
<!-- ###TAX_COSTS_WRAPPER### end -->
</table>
<!-- ###TEMPLATE### end -->