<!-- ###TEMPLATE### begin -->
<h1>###CURRENT_CATEGORIES_NAME###</h1>
###CURRENT_CATEGORIES_TOP_DESCRIPTION###
<div class="products_listing_wrapper">
    <!-- ###LISTING_SORTING### begin -->
    <div class="sorting_form">
        <form name="sorting_products_listing" id="sorting_products_listing" method="get" action="###PRODUCTS_LISTING_FILTER_FORM_URL###">
            ###PRODUCTS_LISTING_FORM_CONTENT###
        </form>
    </div>
    <!-- ###LISTING_SORTING### end -->
    <div id="product_listing" class="row">
        <!-- ###ITEM### begin -->
        <div id="productlisting_###PRODUCTS_ID###" class="col-sm-4 ###ITEM_CLASS###">
            <div class="productlisting_item">
                <strong><a href="###PRODUCTS_DETAIL_PAGE_LINK###" class="ajax_link">###PRODUCTS_NAME###</a>###ADMIN_ICONS###</strong>

                <div class="image">
                    <a href="###PRODUCTS_DETAIL_PAGE_LINK###" title="###PRODUCTS_NAME###" class="ajax_link">###PRODUCTS_IMAGE###</a>
                </div>
                <div class="category">
                    <a href="###CATEGORIES_NAME_PAGE_LINK###" class="ajax_link">###CATEGORIES_NAME###</a>
                </div>
                <div class="products_price">
                    ###PRODUCTS_PRICE###
                </div>
            </div>
        </div>
        <!-- ###ITEM### end -->
    </div>
</div>
###CURRENT_CATEGORIES_BOTTOM_DESCRIPTION###
<!-- ###TEMPLATE### end -->