<!-- ###TEMPLATE### begin -->
<div id="product_relation">
<a name="relatedop"></a>
<!-- ###TITLE### begin -->
<h3>###TITLE_LABEL###</h3>
<!-- ###TITLE### end -->
<table width="100%" cellspacing="0" cellpadding="0" class="border" id="product_relatives">
<!-- ###HEADER### begin -->
<tr>
    <th>&nbsp;</th>
    <th class="relatives_products_products_name">###HEADER_NAME###</th>
    <!-- ###HEADER_SHIPPING_COSTS_OVERVIEW_RELATIVE_WRAPPER### begin -->
    <th class="relatives_products_products_shipping_costs_overview">&nbsp;</th>
    <!-- ###HEADER_SHIPPING_COSTS_OVERVIEW_RELATIVE_WRAPPER### end -->
    <th class="relatives_products_price">###HEADER_PRICE###</th>
    <th class="relatives_products_amount">###HEADER_QUANTITY###</th>
    <th class="relatives_products_buy_now">###HEADER_BUY_NOW###</th>
    <!-- ###HEADER_STOCK_RELATIVE_WRAPPER### begin -->
    <th class="relatives_products_stock">###HEADER_STOCK###</th>
    <!-- ###HEADER_STOCK_RELATIVE_WRAPPER### end -->
</tr>
<!-- ###HEADER### end -->
<!-- ###ITEM### begin -->
<tr class="###ITEM_CLASS###">
    <td><a href="###PRODUCTS_LINK###">###ITEM_PRODUCTS_IMAGE###</a></td>
    <td class="relatives_products_products_name"><a href="###PRODUCTS_LINK###">###ITEM_PRODUCTS_NAME###</a></td>
    <!-- ###ITEM_SHIPPING_COSTS_OVERVIEW_RELATIVE_WRAPPER### begin -->
    <td class="relatives_products_products_shipping_costs_overview"><a href="#" class="show_shipping_cost_table_relatives" class="btn btn-primary" data-toggle="modal" data-target="#shippingCostsModalRelatives" data-productid="###ITEM_PRODUCTS_ID###"><span>###ITEM_LABEL_SHIPPING_COSTS_OVERVIEW###</span></a></td>
    <!-- ###ITEM_SHIPPING_COSTS_OVERVIEW_RELATIVE_WRAPPER### end -->
    <td class="relatives_products_price">###ITEM_PRODUCTS_PRICE###</td>
    <td class="relatives_products_amount">###ITEM_PRODUCTS_QUANTITY###</td>
    <td class="relatives_products_buy_now">###ITEM_BUY_NOW###</td>
    <!-- ###ITEM_STOCK_RELATIVE_WRAPPER### begin -->
    <td class="relatives_products_stock">###ITEM_PRODUCTS_STOCK###</td>
    <!-- ###ITEM_STOCK_RELATIVE_WRAPPER### end -->
</tr>
<!-- ###ITEM### end -->
</table>
</div>
<!-- ###TEMPLATE### end -->