###PAGINATION###
<h1 class="title"><!--TYPO3SEARCH_begin-->###PRODUCTS_NAME###<!--TYPO3SEARCH_end--></h1>
<div class="prod-img-details-outer">
    <div class="prod-img-details">
        ###PRODUCTS_IMAGE###
        ###PRODUCTS_IMAGE_MORE###
    </div>
</div>
<div class="prod-details-desc">
    <!--TYPO3SEARCH_begin-->
    ###PRODUCTS_DESCRIPTION###
    <!--TYPO3SEARCH_end-->
</div>
###PRODUCTS_PRICE###
###PRODUCTS_SPECIAL_PRICE###
###PRODUCTS_STAFFEL_PRICE_TABLE###
###QUANTITY###
<div class="prod-details-attr">###PRODUCTS_ATTRIBUTES###</div>
<div class="prod-details-rel">###PRODUCTS_RELATIVES###</div>
<div class="prod-details-extra">###PRODUCT_DETAILS_PLUGIN_EXTRA_CONTENT###</div>
<div id="bottom-navigation">
    ###BACK_BUTTON###
    ###ADD_TO_CART_BUTTON###
</div>
