<!-- ###TEMPLATE### begin -->
<form role="form" action="index.php" method="get" name="products_searchform" id="multishop_products_searchform">
<input name="id" type="hidden" value="###SEARCH_PAGE_PID###" />
<input name="tx_multishop_pi1[page_section]" type="hidden" value="products_search" />						
<div class="form-fieldset">
	<input name="skeyword" type="text" class="msfront_input" placeholder="###LABEL_PLACEHOLDER_KEYWORD###" value="###KEYWORD_VALUE###" id="skeyword" />
	<input name="page" type="hidden" value="0" id="page" />						
	<input name="Submit" type="submit" class="msfront_button" value="###LABEL_SUBMIT_BUTTON###" />
</div>
</form>
<!-- ###TEMPLATE### end -->