<!-- ###TEMPLATE### begin -->
<div id="specialssections_listing_###SPECIALS_SECTIONS_CODE_ID###">
<div class="product_listing row">
    <!-- ###ITEM### begin -->
    <div class="col-sm-6" id="specialssections_###SPECIALS_SECTIONS_ID###">
    <div class="listing_item">
        <div class="image"><a href="###ITEM_DETAILS_PAGE_LINK###" title="###ITEM_PRODUCTS_NAME###" class="ajax_link">###ITEM_PRODUCTS_IMAGE###</a></div>
        <strong><a href="###ITEM_DETAILS_PAGE_LINK###" class="ajax_link">###ITEM_PRODUCTS_NAME###</a></strong>
        <div class="products_price">
            ###ITEM_PRODUCTS_PRICE###
        </div>
        ###PRODUCT_LISTING_ITEM_PLUGIN_EXTRA_CONTENT###
        <!-- ###ITEM_SHIPPING_COSTS_OVERVIEW_RELATIVE_WRAPPER### begin -->
        <td class="relatives_products_products_shipping_costs_overview"><a href="#" class="show_shipping_cost_table" class="btn btn-primary" data-toggle="modal" data-target="#shippingCostsModal" data-productid="###ITEM_PRODUCTS_ID###"><span>###ITEM_LABEL_SHIPPING_COSTS_OVERVIEW###</span></a></td>
        <!-- ###ITEM_SHIPPING_COSTS_OVERVIEW_RELATIVE_WRAPPER### end -->
    </div>
    </div>
    <!-- ###ITEM### end -->
</div>
</div>
<!-- ###TEMPLATE### end -->