<!-- ###TEMPLATE### begin -->
###SPECIALS_HEADER###
<ul class="product_listing">
    <!-- ###ITEM### begin -->
    <li id="productlisting_###ITEM_PRODUCTS_ID###">
        <strong class="products_name"><a href="###ITEM_PRODUCT_DETAILS_PAGE_LINK###" class="ajax_link">###ITEM_PRODUCTS_NAME###</a></strong>
        <div class="image"><a href="###ITEM_PRODUCT_DETAILS_PAGE_LINK###" title="###ITEM_PRODUCTS_NAME###" class="ajax_link">###ITEM_PRODUCTS_IMAGE###</a></div>
        ###ITEM_PRODUCTS_SPECIAL_PRICE###
        ###ITEM_PRODUCTS_PRICE###
        ###ADMIN_MENU###
        <div class="buttons">
            <div class="button_bekijk">
                <a href="###ITEM_PRODUCT_DETAILS_PAGE_LINK###" title="###ITEM_PRODUCT_DETAILS_PAGE_LINK_TITLE###" class="ajax_link">###ITEM_LABEL_VIEW###</a>
            </div>
            <div class="button_bestel">
                <a href="###ITEM_PRODUCTS_EXTERNAL_LINK###" title="###ITEM_PRODUCTS_EXTERNAL_LINK_TITLE###" class="ajax_link">###ITEM_LABEL_BUY###</a>
            </div>
        </div>
    </li>';
    <!-- ###ITEM### end -->
</ul>
<!-- ###TEMPLATE### end -->