<!-- ###TEMPLATE### begin -->
<ul class="msFrontSpecialsListingSection">
    <!-- ###ITEM### begin -->
    <li class="multishop_specialsbox_item">
        <strong><a href="###ITEM_DETAILS_PAGE_LINK###" class="ajax_link">###ITEM_PRODUCTS_NAME###</a></strong>
        <div class="multishop_specialsbox_item_image"><a href="###ITEM_DETAILS_PAGE_LINK###" title="###ITEM_PRODUCTS_NAME###" class="ajax_link">###ITEM_PRODUCTS_IMAGE###</a></div>
        ###ITEM_PRODUCTS_PRICE###
    </li>
    <!-- ###ITEM### end -->
</ul>
<!-- ###TEMPLATE### end -->