<!-- ###TEMPLATE### begin -->
<div id="specialssections_listing_###SPECIALS_SECTIONS_CODE_ID###">
<div id="product_listing" class="row">
    <!-- ###ITEM### begin -->
    <div class="col-sm-6" id="specialssections_###SPECIALS_SECTIONS_ID###">
    <div class="listing_item">
        <div class="image"><a href="###ITEM_DETAILS_PAGE_LINK###" title="###ITEM_PRODUCTS_NAME###" class="ajax_link">###ITEM_PRODUCTS_IMAGE###</a></div>
        <strong><a href="###ITEM_DETAILS_PAGE_LINK###" class="ajax_link">###ITEM_PRODUCTS_NAME###</a></strong>
        <div class="products_price">
            ###ITEM_PRODUCTS_PRICE###
        </div>
    </div>
    </div>
    <!-- ###ITEM### end -->
</ul>
</div>
<!-- ###TEMPLATE### end -->