#middlesection #main_content .jcarousel-skin-ie7 .jcarousel-container-horizontal {
width: 450px;
margin:0;
padding: 16px 77px 20px 78px;
}
#middlesection #main_content .jcarousel-skin-ie7 .jcarousel-container-horizontal li {
margin:0;
padding:0;
}
.jcarousel-skin-ie7 .jcarousel-container {
    background:url(slider-box.gif) 5px top no-repeat;
}

.jcarousel-skin-ie7 .jcarousel-clip-horizontal {
    width:  450px;
    height: 160px;
}

.jcarousel-skin-ie7 .jcarousel-item {
width: 150px;
height: 160px;
text-align:center;
}
.jcarousel-skin-ie7 .jcarousel-item .carousel_image {
display:table-cell;
width:150px;
height:100px;
vertical-align:middle;
}
.jcarousel-skin-ie7 .jcarousel-item .carousel_title {
width:150px;
height:28px;
overflow:hidden;
}
*:first-child+html .jcarousel-skin-ie7 .jcarousel-item .carousel_image {
font-size:88px;
vertical-align:middle;
}
.jcarousel-skin-ie7 .jcarousel-item .carousel_price {
color:#666;
text-decoration:line-through;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-ie7 .jcarousel-next-horizontal {
    position: absolute;
    top: 73px;
    right: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-horizontal.gif) no-repeat 0 0;
}

.jcarousel-skin-ie7 .jcarousel-next-horizontal:hover {
    background-position: -32px 0;
}

.jcarousel-skin-ie7 .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-ie7 .jcarousel-next-disabled-horizontal,
.jcarousel-skin-ie7 .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-ie7 .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-ie7 .jcarousel-prev-horizontal {
    position: absolute;
    top: 73px;
    left: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-horizontal.gif) no-repeat 0 0;
}

.jcarousel-skin-ie7 .jcarousel-prev-horizontal:hover {
    background-position: -32px 0;
}

.jcarousel-skin-ie7 .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-ie7 .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-ie7 .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-ie7 .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

#middlesection #main_content .jcarousel-container ul li{
background:none;
padding:0 2px;
}


